.widg_location {
  @include gridWrapper($gutterWidth);
}

.widg_location__map {
  @include span(6);

  img {
		width: 100%;
  }

	@include mq($to: $sizeBreakpointSmall) {
		@include span(12);
	}
}

.widg_location__info {
  @include push(0.2);
  @include span(5.8);

	.button {
		margin-top: $basicPush * 3;
	}

	@include mq($to: $sizeBreakpointSmall) {
		@include span(12);
		@include push(0);
	}
}

.widg_location__address {
  display: block;

  font-size: 1.5rem;
  margin-bottom: $basicPush * 1.5;

}
