<ul class="widg_navigation__level_{{level}}">
	{{#each items}}
		<li>
			<a href="{{link}}">{{title}}</a>
      {{#if list}}
        {{> "widgets/navigation/_subitems" list}}
      {{/if}}
		</li>

	{{/each}}
</ul>