.widg_navigation {
	margin-top: $basicPush * 8 + 7;
	margin-left: -1 * $defaultPadding;
	margin-right: -1 * $defaultPadding;

  @include mq($to: medium) {
    display: none;
  }

	ul {
		li {
			a {
				display: block;
				width: 100%;
				font-family: $fontSerifRoman;

				font-size: 1.5rem;
				line-height: 3.3em;
				padding: 0 $defaultPadding - 3 0 $defaultPadding;
			}
		}
	}
}
.widg_navigation__level_1,
.widg_navigation__level_2,
.widg_navigation__level_3 {
	display: none;
}
