.widg_navigation {
	margin-top: $basicPush * 8 + 7;
	margin-left: -1 * $gutter;
	margin-right: -1 * $gutter;

	@include mq($from: $sizeBreakpointMedium, $to: $sizeBreakpointLarge) {
		margin-top: $basicPush * 4 + 7;
	}

	@include mq($to: $sizeBreakpointMedium) {
		display: none;

		.is_nav-open & {
			display: block;

			margin-left: -1 * $basicPush * 4;
			margin-right: -1 * $basicPush * 4;
		}
	}

	&.widg_header__hide-on-shrinked {
		transform: none;
	}

}

/**
Navigation Level: 0 (global minimum for all)
**/
.widg_navigation__list {
	display: none;

	&[data-navigation-level="0"] {
		display: block;
	}

	ul {
		@include resetList();
	}

	a{
		cursor: pointer;
		position: relative;

		display: block;
		width: 100%;
		font-family: $fontSerifRoman;

		font-size: 1.5rem;
		padding: 17px $gutter - 3 16px $gutter;

		@include mq($to: $sizeBreakpointMedium) {
			padding: 17px $basicPush * 4 16px $basicPush * 4;
		}


		&:before {
			display: block;
			content: " ";
			position: absolute;

			top: 0;
			bottom: 0;
			left: -5 * $activeBarWidth;

			width: $activeBarWidth;

			background-color: $colorBlack;
			visibility: hidden;
		}

		&:hover:not(.is_active) {
			background-color: $colorYellowHover;
		}

		&.is_active {

			background-color: $colorYellowHover;

			&:before {
				left: 0;
				visibility: visible;
			}
		}

		&.is_expandable {
			@include iconDataurl($name: 'breadcrumb', $after: true);

			&:hover:after {
				opacity: 1;
				right: $basicPush * 2;
			}

			&:after {
				transition: all $transitionLength $transitionEase;

				background-image: url('/assets/media/icons/breadcrumb.svg');
				width: 8px;
				height: 16px;

				right: $basicPush * 3;
				top: 50%;

				opacity: 0;

				transform: translateY(-50%);

				content: " ";
				position: absolute;
			}
		}

		&.is_expandable.is_active {
			&:after {
				opacity: 1;
				right: $basicPush * 2;
			}
		}
	}
}

.widg_navigation__list[data-navigation-level="0"] {
	a {
		&.is_active:before {
			left: -10px;
		}
	}
}

.widg_navigation__list[data-navigation-level="1"] {
	a {
		&:hover:not(.is_expandable),
		&:hover.is_expandable:not(.is_active),
		&.is_active {
			background-color: $colorHoverNav1;
		}

	}
}

.widg_navigation__list[data-navigation-level="2"] {
	a {
		&:hover:not(.is_expandable),
		&:hover.is_expandable:not(.is_active),
		&.is_active{
			background-color: $colorHoverNav2;
		}
	}
}

.widg_navigation__list[data-navigation-level="3"] {
	a {
		&:hover:not(.is_expandable),
		&:hover.is_expandable:not(.is_active),
		&.is_active{
			background-color: $colorHoverNav3;
		}
	}
}


.widg_navigation__sub-wrapper{
	transition: all $transitionLength / 2 $transitionEase;

	opacity: 0;
	z-index: -500;

	position: fixed;
	top: 0;

	width: $widthYellowBar;

	&.has_shadow {
		box-shadow: 3px 0 29px 0 rgba($colorBlack, 0.15);
	}

	> .widg_navigation__list {
		display: block;
		margin-top: $basicPush * 16.2;

		a:before {
			background: $colorNavActiveBar;
		}
	}

	@include mq($from: $sizeBreakpointMedium) {
		height: 100vh;
	}

	//Extended Header (Wide) only exists between betweener and wide
	@include mq($from: $sizeBreakpointBetweener, $to: $sizeBreakpointWide) {
		.header__wide & {
			width: $widthYellowBarWide;
		}
	}

	/**
    * Supersized YellowBar
    */
	@include mq($from: $sizeBreakpointWide) {
		width: $widthYellowBarSuperWide;
	}

	&[data-navigation-level="1"] {
		background-color: $colorBg;

		left: 180px;

		@include mq($from: $sizeBreakpointWide) {
			left: 350px;
		}

		@include mq($from: $sizeBreakpointBetweener, $to: $sizeBreakpointWide) {
			.header__wide & {
				left: 250px;
			}
		}
	}

	&[data-navigation-level="2"] {
		background-color: $colorBgNav2;

		left: 410px;

		@include mq($from: $sizeBreakpointWide) {
			left: 750px;
		}

		@include mq($from: $sizeBreakpointBetweener, $to: $sizeBreakpointWide) {
			.header__wide & {
				left: 550px;
			}
		}
	}

	&[data-navigation-level="3"] {
		background-color: $colorBgNav3;

		left: 640px;

		@include mq($from: $sizeBreakpointWide) {
			left: 1150px;
		}

		@include mq($from: $sizeBreakpointBetweener, $to: $sizeBreakpointWide) {
			.header__wide & {
				left: 850px;
			}
		}
	}
}

.widg_navigation__subtitle {
	font-size: 1rem;
	font-family: $fontSansSerifRoman;
	letter-spacing: 2.9px;
	text-transform: uppercase;
	line-height: 1.8;

	position: absolute;
	top: $basicPush * 3.4;

	padding: 0 $basicPush * 3.2;

	color: $colorTextGrey;
}
