@keyframes arrowAnimationBig {
	0% {
		transform: translateX(0);
		opacity: 1.0;
	}

	49% {
		transform: translateX(20px);
		opacity: 0;
	}

	50% {
		transform: translateX(-20px);
	}

	95% {
		transform: translateX(0);
		opacity: 1.0;
	}
}
