button,
a.button {
	-webkit-appearance: none;
	border: 0;
	border-radius: 0;
	background-color: transparent;
	padding: 0;

	text-align: left;

	&:focus {
		outline: 0;
	}
}

.button__icon {
	text-indent: -10000px;
}
