.cc_logo {
	display: none;
}

.cc_container {
	z-index: 9999;
	/*opacity: 0.92; */
}

.cc_container {
	background: $colorBlack;
	color: $colorBg;
	box-sizing: border-box;
}

.cc_container a,
.cc_container a:visited {
	text-decoration: none;
	color: #fff !important;
}

.cc_container a:active,
.cc_container a:focus,
.cc_container a:hover {
	color: #ededed;
	border-bottom: none;
}

.cc_container .cc_btn,
.cc_container .cc_btn:visited {
	line-height: 1.2;
  text-decoration: none;
	color: #000 !important;
	background-color: #fde70e;
	border-bottom: none;
}

.cc_container .cc_btn:active,
.cc_container .cc_btn:focus,
.cc_container .cc_btn:hover {
	background-color: #fff;
	color: #000;
}

.cc_container {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	overflow: hidden;
	padding: 20px;
}

.cc_container .cc_btn {
	padding: 8px 5px;
	background-color: #FDE70E;
	cursor: pointer;
	text-align: center;
	font-size: 9.6px;
	display: block;
	width: 33%;
	margin-left: 5px;
	max-width: 70px;
}

.cc_container .cc_message {
  font-size: 1.25rem;
  line-height: 23px;
  color: #ffffff;
	transition: font-size 200ms;
	font-size: inherit;
	display: block;
}

#accept_btn {
  font-size: 1.25rem;
  line-height: 23px;
  background: #fde70e;
  opacity: 1;
}

@media screen and (min-width:500px) {
	.cc_container .cc_btn {
		font-size: 10.8px;
	}

	.cc_container .cc_message {
		margin-top: 6px;
		font-size: 10.8px;
	}
}
@media screen and (min-width:768px) {
	.cc_container {
		padding: 15px 30px;
	}

	.cc_container .cc_btn {
		font-size: 1.333rem;
		padding: 8px 15px;
	}

	.cc_container .cc_message {
		font-size: 1.333rem;
	}
}
@media screen and (min-width:992px) {
	.cc_container .cc_message {
		font-size: 1.333rem;
	}
}

.btn_container {
	position: absolute;
	right: 10px;
	width: 200px;
	min-width: 200px;
}

.cc_container .cc_btn {
	position: absolute;
	right: 10px;
  top: 20px;
}

.cc_message {
	padding-right: 100px;
	float: left;
}
