body.prevent-scroll {
	overflow: hidden;
}

.modal {
	@include mq($from: medium) {
		// Modal Overlay
		position: fixed;
		z-index: zindex('modal');

		content: " ";
		display: block;

		height: 100vh;
		width: 100vw;

		top: 0;
		left: 0;

		opacity: 0.4;
		background-color: rgba(124, 121, 87, 0.2);

		display: none;
	}
}

.accessibility-hidden {
	visibility: hidden;
	width: 0;

	display: inline-block;
	float: left;

	@media print {
		display: none;
	}
}

.element-hidden {
	display: none;
}

.only-phone {
	display: none;

	@include mq($to: 'medium') {
		display: block;
		max-width: 100vw;
		margin-bottom: 2rem;
	}

	@media print {
		display: none !important;
	}
}

.only-desktop {
	display: none;

	@include mq($from: 'medium') {
		display: block;
	}
}

/* Logged in */
#logged-in {
  position: fixed;
  top: 0;
  height: 5px;
	width: 100%;
  background: red;
  z-index: 10000;
}

/* Release Notes */
#release-bar {
	display: none;
	background: $colorBlack;
	border-bottom: 1px solid #000;
}
#release-bar-button {
	position: relative;
	display: block;
	margin: 0 auto;
  padding: 5px 15px;
  height: 20px;
  font-size: pxToEm(11px, 11px);
  line-height: 0;
}
#release-bar-button:hover {
	background: $colorBlack;
	color: $colorBg; //BG makes no sense here, but we need white color
}
p.release-notes {
	margin: 0;
	padding: 20px 0 15px 20px;
	font-size: pxToEm(11px, 11px);
	color: $colorBg;
	border-bottom: 1px solid #444444;
}
p.release-notes.events {
	padding-top: 15px;
	padding-bottom: 10px;
	border-bottom: 1px solid transparent;
}
p.release-notes img {
	position: relative;
  top: 8px;
  margin-left: 5px;
  margin-right: 5px;
}
p.release-notes a {
	font-size: pxToEm(11px, 11px);
	color: $colorYellow;
}
p.release-notes strong {
	background: $colorYellow;
	color: $colorBlack;
  padding: 2px 15px;
	margin-left: 15px;
	border-top-left-radius: 5px;
	border-top-right-radius: 0;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 0;
}
p.release-notes span {
	margin-left: 15px;
	margin-right: 15px;
	color: #4c4c4c;
}
