a,
a:visited,
a:hover,
a:active {
	color: $colorBlack;
}

a:not(.not-default) {
	color: $colorBlack;
	text-decoration: underline;
	opacity: 0.7;
	font-size: 1.333rem;
	font-weight: 600;

	&:focus {
		outline: 0;
	}

	&:hover {
		opacity: 1;
	}

	&[data-linktype="external"] {
		@include iconDataurl('external', $after: true);

		&:after {
			margin-left: 5px;
			transform: translateY(5px);
			width: 17px;
			height: 16.2px;
		}
	}
}
