/**
 * Hide visually
 *
 * See http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 * for discussion of different solutions
 */

@mixin visuallyhidden() {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

@mixin visuallyhiddenReset() {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}

@mixin visuallyhiddenFocusable() {
	@include visuallyhidden;

	&:focus,
	&:active {
		@include visuallyhiddenReset;
	}
}


/**
 * Contain floats with clearfix
 *
 * http://nicolasgallagher.com/micro-clearfix-hack/
 */

@mixin clearfix() {
	*zoom: 1;

	&:before,
	&:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}


/**
 * Lists with layout purpose
 */

@mixin resetList() {
	list-style: none;
	margin: 0;
	padding: 0;
}


/**
 * Replace text
 */

@mixin replaceText() {
	display: block;
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
}


/**
 * Better font rendering (on OS X)
 * http://maximilianhoffmann.com/posts/better-font-rendering-on-osx
 *
 * Usage:
 *
 * .var_dark_on_light {
 * 	@include fontSmoothing;
 * }
 * .var_light_on_dark {
 * 	@include fontSmoothingReset;
 * }
 */

@mixin fontSmoothing() {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

@mixin fontSmoothingReset() {
	-webkit-font-smoothing: subpixel-antialiased;
	-moz-osx-font-smoothing: auto;
}


/**
 * Placeholder in input fields
 */

@mixin placeholder() {

	&::-webkit-input-placeholder {
		@content;
	}
	&:-moz-placeholder { // Firefox 18-
		@content;
	}
	&::-moz-placeholder { // Firefox 19+
		@content;
	}
	&:-ms-input-placeholder {
		@content;
	}
}

@mixin content-wrapper-small-devices($gutterSize: 0) {
	@include mq($from: $sizeBreakpointSmall, $to: $sizeBreakpointMedium) {
		padding: 0 ($pagePaddingTablet - $gutterSize);
	}

	@include mq($to: $sizeBreakpointSmall) {
		padding: 0 ($pagePaddingPhone - $gutterSize);
	}
}

@mixin yellow-bar-padding() {
	padding-left: $paddingBehindYellowBar;

	@include mq($from: $sizeBreakpointBetweener, $to: $sizeBreakpointWide) {
		.header__extended & {
			padding-left: $paddingBehindYellowBarWide
		}

		@include mq($from: $sizeBreakpointBetweener, $to: $sizeBreakpointLarge) {
			padding-left: $paddingBehindYellowBarWideNarrow;
		}
	}

	@include mq($from: $sizeBreakpointMedium, $to: $sizeBreakpointLarge) {
		padding-left: $paddingBehindYellowBarNarrow;
	}

	@include mq($from: $sizeBreakpointWide) {
		padding-left: $paddingBehindYellowBarSuperWide;
	}

	@include content-wrapper-small-devices();
}

@mixin content-wrapper($gutterSize: 0, $hasGrid: true) {
	@if $hasGrid {
		@include container();
	}

	padding: 0 ($pagePadding - $gutterSize ) 0 ($paddingBehindYellowBar - $gutterSize);

	@include mq($from: $sizeBreakpointBetweener, $to: $sizeBreakpointWide) {
		.header__extended & {
			padding: 0 ($pagePadding - $gutterSize) 0 ($paddingBehindYellowBarWide - $gutterSize);
		}

		@include mq($from: $sizeBreakpointBetweener, $to: $sizeBreakpointLarge) {
			padding: 0 ($pagePaddingSmall - $gutterSize) 0 ($paddingBehindYellowBarWideNarrow - $gutterSize);
		}
	}

	@include mq($from: $sizeBreakpointMedium, $to: $sizeBreakpointLarge) {
		padding: 0 ($pagePaddingSmall - $gutterSize) 0 ($paddingBehindYellowBarNarrow - $gutterSize);
	}

	@include mq($from: $sizeBreakpointWide) {
		padding: 0 ($pagePaddingWide - $gutterSize) 0 ($paddingBehindYellowBarSuperWide - $gutterSize);
	}

	@include content-wrapper-small-devices($gutterSize);
}

@mixin basic-unit-height($attr) {
	#{$attr}: basicUnitHeight(normal);

	@include mq($to: $sizeBreakpointMedium) {
		#{$attr}: basicUnitHeight(medium);
	}

	@include mq($to: $sizeBreakpointSmall) {
		#{$attr}: basicUnitHeight(small);
	}
}

@mixin bleed-full($gutterSize: 0) {
	margin-left: -1 * $paddingBehindYellowBar + $gutterSize;
	margin-right: -1 * $pagePadding + $gutterSize;

	@include mq($from: $sizeBreakpointBetweener, $to: $sizeBreakpointWide) {
		.header__extended & {
			margin-left: -1 * $paddingBehindYellowBarWide + $gutterSize;
		}

		@include mq($from: $sizeBreakpointBetweener, $to: $sizeBreakpointLarge) {
			margin-left: -1 * $paddingBehindYellowBarWideNarrow + $gutterSize;
			margin-right: -1 * $pagePaddingSmall  + $gutterSize;
		}
	}

	@include mq($from: $sizeBreakpointMedium, $to: $sizeBreakpointLarge) {
		margin-left: -1 * $paddingBehindYellowBarNarrow + $gutterSize;
		margin-right: -1 * $pagePaddingSmall  + $gutterSize;
	}

	@include mq($from: $sizeBreakpointWide) {
		margin-left: -1 * $paddingBehindYellowBarSuperWide + $gutterSize;
		margin-right: -1 * $pagePaddingWide  + $gutterSize;
	}

	@include mq($from: $sizeBreakpointSmall, $to: $sizeBreakpointMedium) {
		margin: 0 -1 * $pagePaddingTablet + $gutterSize;
	}

	@include mq($to: $sizeBreakpointSmall) {
		margin: 0 -1 * $pagePaddingPhone + $gutterSize;
	}
}

@mixin bg-icon($iconName) {
	background-repeat: no-repeat;
	background-size: 100% 100%;
	background-image: url('/assets/media/icons/#{$iconName}');
}
