/**
 * Default variables
 */

$sizeFontBase: 12px;
$fontFamilyBase: Arial, sans-serif;
$sizeLineHeightBase: 1.5;
$textSize: 1.333rem;

$sizeWidthContent: 960px;

$sizeBreakpointTiny: 481px;
$sizeBreakpointSmall: 767px;
$sizeBreakpointMedium: 1023px;
$sizeBreakpointLarge: 1679px;
$sizeBreakpointWide: 4500px;
$sizeBreakpointBetweener: 1344px;
$sizeBreakpointSubnav: 1279px;

$sizeHeightBreakpoint: 850px;

$sizeSearchBar: 500px;

/**
 * Custom colors
 */

$colorText: #000000;
$colorBg: #ffffff;
$colorBlack: #000000;
$colorLightGray: #F1F1EE;
$colorDarkGrey: #999999;
$colorTextGrey: #767573;
$colorBorderGrey: #767573;
$colorGreyHover: #deded9;
$colorSearchBarInputFocus: #f7f7f5;
$customScrollbarColor: #bebdb9;
$colorTextDarkGrey: #4c4c4c;
$formIconColor: #bebdb9;

$colorInputTextHover: #f8f8f7;


$colorYellow: #FDE70E;
$colorYellowNavHover: #f5dd19;
$colorYellowBarHover: #fbd100;
$colorSubNavActive: #fef387;
$colorYellowAccordeonActive: #fff48d;

$colorErrorRed: #df305b;
$colorRedBackground: #fff7f7;
$colorEmergencyBorder: #e31650;

/**
	Navigation colors
	*/
$colorSubNavHover: #f7f7f5;
/**
Navigation vars
*/
$activeBarWidth: 5px;

/**
 * Fonts
 */

$fontSerifRoman: 'Raleway', serif;
$fontSerifItalic: $fontSerifRoman;
$fontSerifBold: 'Raleway', serif;
$fontSerifBlack: $fontSerifBold;
$fontSansSerifLight: 'Raleway', sans-serif;
$fontSansSerifRoman: $fontSansSerifLight;
$fontSansSerifBold: 'Raleway', sans-serif;
$fontSansSerifBlack: $fontSansSerifBold;
$fontSansSerifExtraBlack: $fontSansSerifBold;
$fontSansSerifLightCondensed: $fontSansSerifLight;
$fontSansSerifCondensed: $fontSansSerifLight;
$fontSansSerifBoldCondensed: $fontSansSerifBold;

$fontEgyptienneItalic: 'Egyptienne F LT W01_56 Italic';
$fontNoTo: 'Noto Serif SC', serif;

/**
  * Yellow Bar Width
  */
$widthYellowBar: 340px;
$widthYellowBarWide: 340px;
$widthYellowBarSuperWide: 400px;

/**
  * Grid Variables
  */
$gutter: 32px;
$gutterWidth: $gutter / 2;

$basicPush: 10px;
$pagePaddingPhone: 20px;
$pagePaddingTablet: 40px;
$pagePaddingSmall: 50px;
$pagePadding: 100px;
$pagePaddingWide: 150px;

$paddingBehindYellowBar: $widthYellowBar + $pagePadding;
$paddingBehindYellowBarWideNarrow: $widthYellowBarWide + $pagePaddingSmall;
$paddingBehindYellowBarWide: $widthYellowBarWide + $pagePadding;
$paddingBehindYellowBarNarrow: $widthYellowBar + $pagePaddingSmall;
$paddingBehindYellowBarSuperWide: $widthYellowBarSuperWide + $pagePaddingWide;

$contentMarginTop: $basicPush * 4;
$contentMarginBottom: $basicPush * 4;

/**
  * Header
  */

$headerHeightTop: 70px;
$basicUnitHeight: 100px;
$basicUnitHeightSmall: 50px;
$basicUnitHeightMedium: 70px;

/**
  * Transitions
  */
$transitionLength: 0.5s;
$transitionEase: ease-in-out;
$carouselAutoplayLength: 7.5s;
$carouselTransitionSpeed: 1s;
$carouselInitTransitionSpeed: 1s;
$carouselAutoplayLengthWithoutTransition: $carouselAutoplayLength - $carouselTransitionSpeed;
$transitionTransformLinkMove: 5px;

/**
	*
	* Animations
	*
	*/

$animationDuration: 0.5s;

/**
  * Buttons, Forms, Elements
  */
$buttonDesktopWidth: 220px;
$buttonMobileWidth: 173px;
$radioCheckboxDimension: 20px;
$radioCheckboxDimensionInner: 10.5px;
$minInputWidth: 240px;
$searchbarBlackBarHeight: 70px;
$searchbarPadding: 30px;

$buttonIconSize: 16px;

$elementHeight: (
	desktop: 60px,
	mobile: 50px,
	mini: 45px
);

$smallElementHeight: 50px;

/**
  * Z-index map
  */
/**
 * z-index
 */
$zIndex: (
	bg: 0,
	content: 10,
	carouselMeta: 20,
	contentnav: 100,
	actionbuttons: 1502,
	productBar: 1500,
	header: 2000,
	headerOpen: 5000,
	headerSecondLayer: 2900,
	headerThirdLayer: 2800,
	headerFourthLayer: 2700,
	mobileHeaderTop: 2500,
	mobileNavigation: 2400,
	search: 2950,
	topLink: 5000,
	modal: 1501,

	titleProfile: 80,

	sidebar: 500,
	sidebarTitle: 200,
	sidebarContent: 190,
	sidebarHider: 300,
	sidebarAccordion: 400
);

/**
  * Basic Unit height map
  */
$basicUnitHeights: (
	small: 50px,
	normal: 100px,
	xxl: 150px
);

$clickAreaSizes: (
	small: 70px,
	normal: 100px,
	xxl: 120px
);
