/**
 * Default variables
 */

$sizeFontBase: 12px;
$fontFamilyBase: Arial, sans-serif;
$sizeLineHeightBase: 1.5;

$sizeWidthContent: 960px;

$sizeBreakpointSmall: 767px;
$sizeBreakpointMedium: 1023px;
$sizeBreakpointLarge: 1679px;
$sizeBreakpointWide: 2559;
$sizeBreakpointBetweener: 1344px;
$sizeBreakpointSubnav: 1279px;

$sizeHeightBreakpoint: 600px;

$sizeSearchBar: 500px;

/**
 * Custom colors
 */

$colorText: #000000;
$colorBg: #ffffff;
$colorBlack: #000000;
$colorLightGray: #F1F1EE;
$colorDarkGrey: #999999;
$colorTextGrey: #767676;
$colorBorderGrey: $colorTextGrey;
$colorGreyHover: #deded9;
$colorSearchBarInputFocus: #f7f7f5;
$customScrollbarColor: #bebdb9;

$colorYellow: #FDE70E;
$colorYellowNavHover: #f5dd19;
$colorYellowBarHover: #fbd100;
$colorSubNavActive: #fef387;
$colorYellowAccordeonActive: #fff48d;

$colorErrorRed: #df305b;

/**
	Navigation colors
	*/
$colorSubNavHover: #f7f7f5;


/**
Navigation vars
*/
$activeBarWidth: 5px;

/**
 * Fonts
 */

$fontSerifRoman: 'Raleway', serif;
$fontSerifItalic: $fontSerifRoman;
$fontSerifBold: 'Raleway', serif;
$fontSerifBlack: $fontSerifBold;
$fontSansSerifLight: 'Raleway', sans-serif;
$fontSansSerifRoman: $fontSansSerifLight;
$fontSansSerifBold: 'Raleway', sans-serif;
$fontSansSerifBlack: $fontSansSerifBold;
$fontSansSerifExtraBlack: $fontSansSerifBold;
$fontSansSerifLightCondensed: $fontSansSerifLight;
$fontSansSerifCondensed: $fontSansSerifLight;
$fontSansSerifBoldCondensed: $fontSansSerifBold;

/**
  * Yellow Bar Width
  */
$widthYellowBar: 230px;
$widthYellowBarWide: 300px;
$widthYellowBarSuperWide: 400px;

/**
  * Grid Variables
  */
$gutter: 32px;
$gutterWidth: $gutter / 2;

$basicPush: 10px;
$pagePaddingPhone: 20px;
$pagePaddingTablet: 40px;
$pagePaddingSmall: 50px;
$pagePadding: 100px;
$pagePaddingWide: 150px;

$paddingBehindYellowBar: $widthYellowBar + $pagePadding;
$paddingBehindYellowBarWideNarrow: $widthYellowBarWide + $pagePaddingSmall;
$paddingBehindYellowBarWide: $widthYellowBarWide + $pagePadding;
$paddingBehindYellowBarNarrow: $widthYellowBar + $pagePaddingSmall;
$paddingBehindYellowBarSuperWide: $widthYellowBarSuperWide + $pagePaddingWide;

$contentMarginTop: $basicPush * 5.6;

/**
  * Header
  */

$headerHeightTop: 70px;
$basicUnitHeight: 100px;
$basicUnitHeightSmall: 50px;
$basicUnitHeightMedium: 70px;

/**
  * Transitions
  */
$transitionLength: 0.5s;
$transitionEase: ease-in-out;
$carouselAutoplayLength: 7.5s;
$carouselTransitionSpeed: 1s;
$carouselInitTransitionSpeed: 1s;
$carouselAutoplayLengthWithoutTransition: $carouselAutoplayLength - $carouselTransitionSpeed;

/**
	*
	* Animations
	*
	*/

$animationDuration: 0.5s;

/**
  * Buttons, Forms, Elements
  */
$buttonDesktopWidth: 220px;
$buttonMobileWidth: 173px;
$radioCheckboxDimension: 21px;
$radioCheckboxDimensionInner: 11px;
$minInputWidth: 240px;
$searchbarBlackBarHeight: 70px;
$searchbarPadding: 30px;

$buttonIconSize: 16px;

$elementHeight: (
	desktop: 60px,
	mobile: 50px
);

$smallElementHeight: 50px;

/**
  * Z-index map
  */
/**
 * z-index
 */
$zIndex: (
		bg: 0,
		content: 10,
		carouselMeta: 20,
		contentnav: 100,
		actionbuttons: 800,
		productBar: 1500,
		header: 2000,
		headerSecondLayer: 1900,
		headerThirdLayer: 1800,
		headerFourthLayer: 1700,

		mobileHeaderTop: 2500,
		mobileNavigation: 2400,
		search: 3000,
		topLink: 10000
);

/**
  * Basic Unit height map
  */
$basicUnitHeights: (
		small: 60px,
		normal: 100px,
		xxl: 150px
);
