<div class="widg_menubuttons" data-init="menubuttons">
	<a class="widg_menubuttons__menu">
		<span class="widg_menubuttons__icon"></span>
		<span class="widg_menubuttons__label">Menü</span>
	</a>
	<a class="widg_menubuttons__search">
    <span class="widg_menubuttons__icon"></span>
    <span class="widg_menubuttons__label">Suche</span>
	</a>
</div>
