<div class="widg_menubuttons" data-init="menubuttons">
	<a class="widg_menubuttons__menu" data-menubuttons="menu" aria-expanded="false">
		Menü
	</a>
	<a class="widg_menubuttons__search" data-menubuttons="search" aria-expanded="false">
		Suche
	</a>
</div>
