.widg_menubuttons {
	@include mq($from: medium) {
		display: none;
	}

	position: absolute;

	transform: translateY(-50%);
	top: 50%;

	height: 70px;
	width: auto;
	right: 0;

	a {
		display: block;
		height: 70px;
		float: left;
		line-height: 70px;
		padding: 0 1.3 * $basicPush;
		text-decoration: none;
		font-weight: 500;

		font-family: $fontSerifBold;
		font-size: 1.5rem;
		margin-right: 6px;
		&:hover,
		&:focus,
		&.is_active {
			// background-color: $colorYellowNavHover;
			cursor: pointer;
		}
	}

	@media print {
		display: none;
	}

}

.widg_menubuttons__menu {
	@include iconDataurl('mobile-menu');

	&:before {
		position: relative;
		top: 2px;
		height: 15px;
		width: 20px;
	}

	&.is_active {
		@include iconDataurl('close');

		&:before {
			height: 16px;

			transform: translateY(2px);
			width: 18px;
			padding-left: 2px;

			@include mq($to: 480px) {

			}
		}
	}

	@include mq($to: 480px) {
		text-indent: -20000px;
		width: 50px;
		// background: red;
		margin-right: 0;

		&:before {
			position: relative;
			top: 2px;
			left: 20000px;
		}
	}
}

.widg_menubuttons__search {
	@include iconDataurl('search');

	&:before {
		height: 20px;
		width: 20px;

		transform: translateY(5px);
	}

	@include mq($from: small, $to: medium) {
		margin-right: 20px !important;
	}

	@include mq($to: 480px) {
		text-indent: -20000px;
		width: 50px;
		// background: red;
		margin-right: 0;

		&:before {
			position: relative;
			left: 20000px;
		}
	}
}
