.widg_menubuttons {
	@include mq($from: $sizeBreakpointMedium) {
		display: none;
	}

	position: absolute;

	transform: translateY(-50%);
	top: 50%;

	height: 70px;
	width: 100%;

	a {
		display: block;
		height: 70px;
		float: left;
		line-height: 70px;
		padding: 0 4 * $basicPush;
		text-decoration: none;

		@include mq($to: $sizeBreakpointSmall) {
			padding: 0 1.7 * $basicPush;
		}

		&:hover,
		&:focus,
		&.is_active {
			background-color: $colorYellowNavHover;
			cursor: pointer;
		}
	}

	@include mq($to: $sizeBreakpointSmall) {
		left: 0;
	}
	a {
		font-family: $fontSerifBold;
		font-size: 1.25rem;
		margin-right: 6px;

	}
}

.widg_menubuttons__menu {
	@include iconDataurl('mobile-menu');

	&:before {
		height: 12px;

		transform: translateY(1px);
	}

	&.is_active {
		@include iconDataurl('close');

		&:before {
			height: 16px;

			transform: translateY(3px);
			width: 25px;
		}
	}
}

.widg_menubuttons__search {
	@include iconDataurl('search');

	&:before {
		height: 16px;

		transform: translateY(2px);
	}
}

