<div class="widg_menubuttons" data-init="menubuttons">
	<a class="widg_menubuttons__menu" data-menubuttons="menu">
		Menü
	</a>
	<a class="widg_menubuttons__search" data-menubuttons="search">
		Suche
	</a>
</div>
