{{#extend "layouts/layout" pageTypeClass="default-page"}}
	{{#content "hero"}}
		{{> "widgets/hero/hero" widgets.hero}}
	{{/content}}
	{{#content "content"}}
    <div class="page_content">
      <h1>{{title}}</h1>
      <p class="text__lead">
				{{leadText}}
      </p>
			<div class="content__element content__element___bleed content__element___top-bordered">
				<script type="REFLINE/Positions"></script>
				<script data-url="https://apply.refline.ch/655298/positions.html"></script>
				<script src="https://pub.refline.ch/655298/refline.js"></script>
				<iframe src="https://apply.refline.ch/655298/jobmail.html" name="Jobmail - auf dem Laufenden bleiben" id="Jobmail - auf dem Laufenden bleiben" width="100%" height="550px" frameborder="0"></iframe>
			</div>
    </div>
		{{> "widgets/subnav/subnav" widgets.subnav heroImage=widgets.hero.heroImage}}
		<div class="content__element content__element___bleed content__element___top-bordered" id="locations"></div>
	{{/content}}
{{/extend}}
