$footerWidth: 1200px;

.mod_footer {
	@include clearfix;
	color: $colorDarkGrey;
	background-color: $colorLightGray;
	padding: pxToEm(20) pxToEm(10);
	max-width: $footerWidth;
	margin: pxToEm(20) auto 0;

	@include mq($from: medium) {
		padding: pxToEm(20);
	}
}
