<footer class="mod_footer" data-init="footer">
	<span class="mod_footer__copyright">
		&#x00A9; FHNW
	</span>

	<ul class="mod_footer__links">
		<li><a href="#">Accessibility</a></li>
		<li><a href="#">Legal notice</a></li>
		<li><a href="#">Disclaimer</a></li>
		<li><a href="#">Intranet</a></li>
		<li><a href="#">Sitemap</a></li>
	</ul>
</footer>
