{{#extend "layouts/layout" wrapperClass=""}}
  {{#content "hero"}}
    {{> "widgets/hero/hero" widgets.hero imageName="cas_example.png"}}
  {{/content}}
  {{#content "content"}}
    <div class="grid__spanner">
      <h1>
        CAS E-Commerce und Online Marketing
      </h1>
      <p class="text__lead">
        Im Zertifikatslehrgang E-Commerce und Online-Marketing setzen Sie sich fundiert und zielorientiert mit den
        Möglichkeiten des Internets für die Kundengewinnung und Kundenbindung auseinander. Sie lernen, wie Sie mit
        innovativen Web-Lösungen und professionellem Online-Marketing die Bekanntheit eines Unternehmens erhöhen und
        neue Kundengruppen und Märkte erschliessen können. Strategien, Konzepte und der Online-Marketing-Mix werden
        anhand eines Projektes 1:1 umgesetzt.
      </p>
    </div>
    {{> "widgets/contentnav/contentnav" widgets.contentNav}}
    <div class="content__sub">
      <div class="content__sidebar">SIDEBAR</div>
      <div class="content__text">
        <div class="content__text-element" data-contentnav-target="learn">
          <h3>Lern- und Ausbildungsziele</h3>
          <p>Der Kurs wendet sich an Personen:
          • die im Marketing oder in einer Webagentur arbeiten, zum Beispiel: Marketingplaner, Marketingverantwortliche,
          WebDesigner, WebPublisher, WebMaster.
          • die als IT-Fachkräfte arbeiten und sich im E-Commerce weiterbilden wollen.
          • die eine Zertifizierung für einen rechtskonformen Webshop ablegen wollen (CeCC).
          • die Verantwortung für E-Business-Projekte oder Webshops tragen.
          • die E-Business-Lösungen / Webshop-Systeme evaluieren und einführen.
          • die als Unternehmensberater/innen mit fundiertem E-Business-Wissen agieren.</p>
        </div>
        <div class="content__text-element"  data-contentnav-target="focus-group">
          <h3>Zielpublikum</h3>
          <p>Der CAS ECommerce und Onlinemarketing setzt sich aus sechs Modulen zusammen. In 15 Tagen fokussieren Sie auf
          ein ganzheitliches Online-Marketing Konzept: Vom Webshop über Kampagnen hin zu Themen wie Internet Business
          Management, Einsatz von Instrumenten des Digitalen Marketings, Digitaler Handel, Internet und Recht in Europa.
          Die Weiterbildung findet überwiegend in einem Mix von Präsentation und Gruppenarbeiten in Workshops statt. Die
          Lerninhalte der einzelnen Module werden anhand eines Projektes 1:1 umgesetzt.</p>
        </div>
        <div class="content__text-element" data-contentnav-target="structure">
          <h3>Struktur und Methodik</h3>
          <p>Das Internet als Umsatzmaschine! Im Jahr 2000 haben wir an der FHNW den ersten Lehrgang der Schweiz für
          «E-Commerce & Online-Marketing» entwickelt, damals noch als Nachdiplomkurs. Seit langem führen wir diese
          anerkannte Ausbildung zwei Mal jährlich durch. Das Besondere: Sie setzen das Fachwissen gleich in ein echtes
          Konzept um! Profis wie Jörg Eugster, Thomas Lang und Lukas Stuber coachen Sie auf Ihrem Weg zum Online-Erfolg.
          Diese hohe Praxisorientierung und der intensive Austausch mit den Experten wird sehr geschätzt.
          Während 15 Kurstagen setzen Sie sich fundiert und zielorientiert mit den Möglichkeiten des Internets für die
          Kundengewinnung und Kundenbindung auseinander. Sie lernen, wie Sie mit innovativen Web-Lösungen und
          professionellem Online-Marketing die Bekanntheit eines Unternehmens erhöhen und neue Kundengruppen und Märkte
          erschliessen können. Strategien, Konzepte und der Online-Marketing-Mix werden anhand eines Projektes 1:1
          umgesetzt.</p>
        </div>
        <div class="content__text-element" data-contentnav-target="content">
          <h3>Detaillierte Inhaltsbeschreibung</h3>
          <p>Das Internet als Umsatzmaschine! Im Jahr 2000 haben wir an der FHNW den ersten Lehrgang der Schweiz für
            «E-Commerce & Online-Marketing» entwickelt, damals noch als Nachdiplomkurs. Seit langem führen wir diese
            anerkannte Ausbildung zwei Mal jährlich durch. Das Besondere: Sie setzen das Fachwissen gleich in ein echtes
            Konzept um! Profis wie Jörg Eugster, Thomas Lang und Lukas Stuber coachen Sie auf Ihrem Weg zum Online-Erfolg.
            Diese hohe Praxisorientierung und der intensive Austausch mit den Experten wird sehr geschätzt.
            Während 15 Kurstagen setzen Sie sich fundiert und zielorientiert mit den Möglichkeiten des Internets für die
            Kundengewinnung und Kundenbindung auseinander. Sie lernen, wie Sie mit innovativen Web-Lösungen und
            professionellem Online-Marketing die Bekanntheit eines Unternehmens erhöhen und neue Kundengruppen und Märkte
            erschliessen können. Strategien, Konzepte und der Online-Marketing-Mix werden anhand eines Projektes 1:1
            umgesetzt.</p>
        </div>
        <div class="content__text-element" data-contentnav-target="dates">
          <h3>Durchführungen</h3>
          <p>Das Internet als Umsatzmaschine! Im Jahr 2000 haben wir an der FHNW den ersten Lehrgang der Schweiz für
            «E-Commerce & Online-Marketing» entwickelt, damals noch als Nachdiplomkurs. Seit langem führen wir diese
            anerkannte Ausbildung zwei Mal jährlich durch. Das Besondere: Sie setzen das Fachwissen gleich in ein echtes
            Konzept um! Profis wie Jörg Eugster, Thomas Lang und Lukas Stuber coachen Sie auf Ihrem Weg zum Online-Erfolg.
            Diese hohe Praxisorientierung und der intensive Austausch mit den Experten wird sehr geschätzt.
            Während 15 Kurstagen setzen Sie sich fundiert und zielorientiert mit den Möglichkeiten des Internets für die
            Kundengewinnung und Kundenbindung auseinander. Sie lernen, wie Sie mit innovativen Web-Lösungen und
            professionellem Online-Marketing die Bekanntheit eines Unternehmens erhöhen und neue Kundengruppen und Märkte
            erschliessen können. Strategien, Konzepte und der Online-Marketing-Mix werden anhand eines Projektes 1:1
            umgesetzt.</p>
        </div>
      </div>
    </div>
  {{/content}}

{{/extend}}
