{{#extend "layouts/layout"}}
	{{#content "hero"}}
		{{> "widgets/hero/hero" modules.hero imageName="cas_example.png"}}
	{{/content}}
	{{#content "content"}}
    <h1>CONTENT</h1>
	{{/content}}

{{/extend}}
