<record name="plone.app.tiles">
	<field type="plone.registry.field.List">
		<title>Tiles</title>
		<value_type type="plone.registry.field.TextLine" />
	</field>
	<value purge="false">
{{#each modules}}
		<element>fhnw.web16.tiles.{{lcmodulname}}</element>
{{/each}}
	</value>
</record>

{{#each modules}}
<records prefix="plone.app.mosaic.app_tiles.fhnw_web16_tiles_{{lcmodulname}}"
				 interface="plone.app.mosaic.interfaces.ITile">
	<value key="name">fhnw.web16.tiles.{{lcmodulname}}</value>
	<value key="label">{{modulname}} Widget</value>
	<value key="category">fhnw</value>
	<value key="tile_type">app</value>
	<value key="default_value"></value>
	<value key="read_only">false</value>
	<value key="settings">true</value>
	<value key="favorite">false</value>
	<value key="rich_text">false</value>
	<value key="weight">20</value>
</records>
{{/each}}
