<div class="widg_hero {{#if heroImage}}{{else}}no-image{{/if}} {{#if isHero2}}is_hero2{{/if}} {{#if profileInfo}}is-profile-hero{{/if}}" data-init="hero">
	{{#if profileInfo}}
		<h1 class="widg_hero__profile-name only-desktop">{{profileInfo.name}}</h1>
	{{/if}}

	{{#if heroImage}}
		<div class="widg_hero__wrapper"><img src="{{heroImage}}" class="widg_hero__img {{#if profileInfo}}is-profile-hero{{/if}}" alt="{{profileInfo.name}}"/></div>
	{{/if}}


	{{#if breadcrumb}}
		{{> "widgets/breadcrumb/breadcrumb" widgets.breadcrumb entries=breadcrumb.entries}}
	{{/if}}
</div>
{{#if hasCallToAction}}
	{{> "widgets/calltoaction/calltoaction" widgets.calltoaction}}
{{/if}}
