.widg_hero {
	min-height: 100px;

	position: relative;

	@include mq($to: $sizeBreakpointMedium) {
		min-height: 0;
	}

	@include mq($to: $sizeBreakpointSmall) {
		display: flex;
		flex-direction: column;
	}

	&.no-image {
		img {
			display: none;
		}
		@include mq($from: $sizeBreakpointSubnav) {
			.widg_hero__wrapper {
				min-height: 0;
			}
		}
	}
}

.widg_hero__wrapper {
	order: 1;
	line-height: 1em;

	overflow: hidden;

	@include mq($from: $sizeBreakpointSubnav) {
		min-height: 289px;
	}

	max-height: 60vh;
}

.widg_hero__img {
	width: 100%;
	height: auto;
}

.hero {
	.header__wide & {
		@include mq($from: $sizeBreakpointMedium) {
			margin-left: 230px;
		}

		@include mq($from: $sizeBreakpointLarge) {
			margin-left: 300px;
		}

		@include mq($from: $sizeBreakpointWide) {
			margin-left: 400px;
		}
	}
}
