<div class="widg_hero {{#if heroImage}}{{else}}no-image{{/if}}" data-init="hero">
	<div class="widg_hero__wrapper"><img src="{{heroImage}}" class="widg_hero__img" alt="Beispielbild"/></div>

	{{> "widgets/breadcrumb/breadcrumb" widgets.breadcrumb items=breadcrumbItems.items}}
</div>
