.widg_hero {
	min-height: 90px;

	position: relative;

	@include mq($to: medium) {
		min-height: 0;
	}

	&.no-image {
		img {
			display: none;
		}
		@include mq($from: subnav) {
			.widg_hero__wrapper {
				min-height: 0;
			}
		}
	}
}

.widg_hero__wrapper {
	order: 1;
	line-height: 1em;

	overflow: hidden;

	@include mq($from: subnav) {
		min-height: 400px;
	}

	max-height: 50vh;

  	@include mq($to: subnav) {
	  min-height: 250px;
	}

	.is-profile-hero & {
		max-height: none;
		min-height: 0;
	}
}

.widg_hero__img {
	width: 100%;
	height: auto;
}

.hero {
	.header__wide & {
		@include mq($from: medium) {
			margin-left: 230px;
		}

		@include mq($from: large) {
			margin-left: 300px;
		}

		@include mq($from: wide) {
			margin-left: 400px;
		}
	}
}

.widg_hero__profile-name {
	@include contentWrapper(0, false);

	position: absolute;

	top: 30%;
	z-index: zindex(titleProfile);
}
