{{#extend "layouts/layout"}}
	{{#content "header"}}
		{{> "modules/skiplinks/skiplinks" modules.skiplinks}}
	{{/content}}

	{{#content "content"}}
		<h2>{{title}}</h2>

		<p>{{text}}</p>

		<hr>

		{{> "modules/teasers/teasers" modules.teasers}}
	{{/content}}
{{/extend}}
