<div class="widg_sidebar_application widg_sidebar__object" data-init="sidebar_application" data-sidebar="object">
	<div class="object__title" data-sidebar="title">
		<h4>Anmeldung</h4>
	</div>
	<div class="object__content" data-sidebar="content">
		<p>{{text}}</p>
		<p class="small">{{note}}</p>
		<a class="button small_button" href="{{button.url}}">{{button.text}}</a>
	</div>
</div>
