.widg_sidebar_application {
	width: 49%;

	@include mq($to: small) {
		width: 100%;
		margin-top: $basicPush;
	}

	p:not(.small) {
		margin-bottom: $basicPush * 2;
	}

	p.small {
		font-size: 1.0833333rem;

		color: $colorTextDarkGrey;
		margin-bottom: $basicPush;
	}
}
