<div class="widg_sidebar_application widg_sidebar__item" data-init="sidebar_application" data-sidebar="item">
	<h3>Anmeldung</h3>
	<div class="widg_sidebar__content" data-sidebar="content">
		<p>Lorem Ipsum Lorem Ipsum</p>
	</div>
</div>
