{{#extend "layouts/layout" pageTypeClass="default-page"}}
	{{#content "hero"}}
		{{> "widgets/hero/hero" widgets.hero}}
	{{/content}}
	{{#content "content"}}
    <div class="page_content">
      <h1>{{title}}</h1>
      <p class="text__lead">
				{{leadText}}
      </p>
      <div class="content__element">
        <p>Die Alumnivereine sorgen dafür, dass der Kontakt zu den ehemaligen Studienkolleginnen und Studienkollegen aufrechterhalten bleibt. Die Vernetzung unter ihren Alumni zu fördern ist das Hauptanliegen der Alumnivereine. Zusätzlich bieten die Alumnivereine an den Hochschulen eine ganze Menge an Vorteilen, bspw. durch fachspezifische oder auch interdisziplinäre Events, Ausflüge und spannende Führungen; Zusammenkünfte mit Ihren ehemaligen Studienkolleginnen und Berufskollegen; aber auch Tipps und Tricks für den Berufseinstieg, viele Vergünstigungen und allerlei weitere Angebote.</p><p>
          Jedes Jahr nehmen immer mehr Absolventinnen und Absolventen diese Chance wahr und treten ihrem Alumniverein bei. Diese sind deshalb stark am Wachsen und können Ihr Angebot stetig ausbauen.</p><p>
          Alumni FHNW bildet als Dachorganisation die Schnittstelle zwischen den Alumniorganisationen und der FHNW, Praxis, Lehre und Forschung. Mit besonderen Angeboten, vergünstigten Weiterbildungen und Netzwerkveranstaltungen schafft Alumni FHNW Mehrwert für die Vereine und die einzelnen Alumni. Die meisten Alumnivereine sind Mitglied bei Alumni FHNW.
        </p>
        <h2 class="childless">Dachorganisation Alumni FHNW</h2>
        <a target="_blank" href="http://www.alumni.ch">Alumni FHNW Website</a>
        <h2 class="childless">Hochschule für Angewandte Psychologie FHNW</h2>
        <a target="_blank" href="http://www.alumni.ch">Alumni FHNW Angewandte Psychologie</a>
      </div>
    </div>

		{{> "widgets/subnav/subnav" widgets.subnav heroImage=widgets.hero.heroImage}}
	{{/content}}
{{/extend}}
