<div class="widg_mobile_content_navigation only-phone" data-init="mobile_content_navigation">
	<a class="not-default" href="{{infoEvents.url}}">{{infoEvents.text}}</a>
	<a class="not-default" href="{{application.url}}">{{application.text}}</a>
	<div class="widg_mobile_content_navigation__shade"></div>
</div>
