.widg_teaser {
	@include span(3);
	position: relative;
	padding-top: $basicPush * 1.7;
	padding-bottom: $basicPush * 3;
	margin-bottom: $basicPush * 4;

	@include mq($to: small) {
		padding-bottom: $basicPush * 1.5;
		padding-right: 0;
	}

	&:hover {
		background-color: $colorLightGray;

		@include mq($from: medium) {
			.widg_teaser__img {
				img {
					transform: scale(1.1);
				}
			}
		}
	}

	h3 {
		@include mq($to: 767px) {
			@include iconDataurl('pfeil-black');
		}

		&:before {
			margin-top: 8px;
			float: right;
		}

		&:after {
			width: 17px;
			height: 16.2px;
		}
	}

	p {
		font-size: 1.25rem;
		opacity: 0.7;

		@include mq($to: small) {
			font-size: 1.15rem;
		}

		@include mq($to: medium) {
			padding-right: $basicPush * 3;
		}
	}

	&.wide___third {
		@include span(4);
	}

	@include mq($to: medium) {
		margin-bottom: 0;
		border-bottom: 1px solid $colorGreyHover;

		@include span(12);

		padding-left: 100px;
		padding-right: 0;

		&.wide___third {
			@include span(12);

			padding-left: 100px;
			padding-right: 0;
		}

		&.no-image,
		&.wide___third.no-image {
			padding-left: 0;
		}

		&:last-of-type {
			border-bottom: 0;
		}
	}

	@include mq($to: 374px) {
		padding-left: 0;
		padding-right: 0;

		&.wide___third {
			padding-left: 0;
			padding-right: 0;
		}
	}
}

.widg_teaser__img {
	margin-bottom: $basicPush * 2;
	overflow: hidden;

	img {
		width: 100%;
		max-width: 100%;
		height: auto;
		transform: scale(1);
    	transition: transform $transitionLength $transitionEase;
	}

	@include mq($from: medium) {
		width: 100%;
		padding-top: 62%;

		.search__results & {
			padding-top: 0;
		}
	}

	@include mq($to: medium) {
		float: left;
		margin-left: -100px;
		margin-right: 20px;

		width: 133px;
		height: 133px;
		margin-bottom: 0;
	}

	@include mq($to: 374px) {
		left: 0;
		width: 100%;
		height: auto !important;
		object-fit: contain;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 20px;
		//transform: scale(1);
	}
}

.widg_teaser__desc {
	width: 100%;
	padding-left: $basicPush * 2;
	padding-right: $basicPush * 2;

	@include mq($to: medium) {
		padding-left: 0;
		padding-right: 0;
	}

	@include mq($to: small) {
		padding-left: 0;
		padding-right: 0;
	}
}

.widg_teaser__link {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;

	text-indent: -100000px;

	&:hover + .widg_teaser__arrow {
		min-width: 20px;
	}

	&:focus {
		outline: 0;
	}
}

.widg_teaser__arrow {

	@include mq($from: small) {
		@include iconDataurl('triangle-arrow_right');

		display: block;
		position: absolute;
		bottom: $basicPush * 1.8;

		height: 1px;
		min-width: 20px;
		background-color: $colorBlack;
		transition: min-width $transitionLength / 3 $transitionEase;

		transform: translate3d(0, 0, 0);
	}

	@include mq($to: medium) {

		top: 50%;
		right: 8px;

		transform: translateY(-34%) translate3d(0, 0, 0);
	}

	@include mq($to: 374px) {
		top: 70%;
	}

	&:before {
		transform: translateY(-50%) translate3d(0, 0, 0);
		position: absolute;

		top: 50%;

		left: 80%;
		width: 6px;
		height: 10px;

	}

}

.widg_teaser__date {
	padding-bottom: 8px;
	font-size: 1.1666666666667rem;
	color: $colorBorderGrey;
	display: block;

	@include mq($to: medium) {
		padding-bottom: 0;
		font-size: 1.08333333rem;
		margin-bottom: 3px;
	}
}

.widg_teaser__project-time {
	font-weight: 600;
	color: $colorBorderGrey;
	font-size: 1.16666667rem;
	line-height: 2.5;
}

.widg_teaser__category {
	color: $colorTextGrey;
	display: block;
	margin-bottom: $gutterWidth/3;
	font-size: 1rem;
	font-weight: 600;
}

.widg_teaser__title {
	max-width: 100%;
	word-wrap: break-word;

	@include mq($to: small) {
		font-size: 1.2rem;
	}

	font-weight: 700;
	font-size: 1.5rem;
}

.widg_teaser__wrapper {
	display: flex;
	flex-wrap: wrap;
	position: relative;

	@include mq($to: medium) {
		padding: 0 $gutterWidth;
		display: block;
		flex-wrap: nowrap;
	}

	&:not(.is_on_startpage) {
		.teaser__more-button {
			@extend .mini_button;
		}
	}

	&.is_on_startpage {
		margin-bottom: $basicPush * 4;
		@include clearfix();

		.widg_teaser:first-of-type {
			@include push(1.5);

			@include mq($to: medium) {
				@include push(0);
			}
		}

		.teaser__more-button {
			position: absolute;
			left: 50%;
			transform: translateX(-50%);

			bottom: -1 * $basicPush * 5.5;

			top: initial;
			right: initial;

			@include mq($to: medium) {
				transform: translateX(-50%);
				position: absolute;
			}

			@include mq($to: small) {
				width: 60vw;
			}
		}
	}
}

/* Startpage customs */
.startpage-page {
	@include mq($to: wide) {
		& .content__element {
			margin-bottom: 50px;
		}

		& .widg_teaser__wrapper {
			@include push(4);
			transform: translateX(-25%);
			margin-bottom: $basicPush * 5;
		}

		& h2:not(.childless) {
			text-align: center;
			border-bottom: none;
		}

		& h2:not(.childless) {
			border-bottom: none !important;

			&:after {
				content: '';
				position: absolute;
				width: 10%;
				left: 45%;
				bottom: -4px;
				border-bottom: 4px solid #FDE70E;
			}
		}

		& .widg_infobox h2 {
			text-align: left;
		}

		& .widg_infobox h2:after {
			left: 0;
		}

		& .widg_teaser__wrapper .teaser__more-button {
			margin-left: auto !important;
			margin-right: auto !important;

		}
	}
	@include mq($to: small) {
		& .widg_teaser__wrapper {
			@include push(3);
			width: 100%;
		}
	}

	@include mq($to: medium) {
		& .widg_teaser__wrapper {
			@include push(3);
			width: 100%;
		}
	}
}

.button__secondary {
	@include mq($to: small) {
		height: auto !important;
		padding-top: 15px !important;
		padding-bottom: 15px !important;
		line-height: 30px !important;
		margin: 15px 0 !important;
		width: 100%;
	}
}

.widg_teaser__wrapper h2.teaser__title {

	margin-left: $gutterWidth;
	margin-right: $gutterWidth;
	margin-bottom: 10px;
	display: block;
	width: 100%;

	&.is_on_startpage {
		text-align: center;
		border-bottom: 0;
		position: relative;
		padding-bottom: 16px;
		margin-bottom: 32px;

		&:after {
			display: block;

			content: " ";
			position: absolute;

			bottom: 0;
			height: 4px;
			background-color: $colorYellow;
			width: 80px;

			left: 50%;
			transform: translateX(-50%);
		}
	}
	@include mq($to: medium) {
		margin-left: 0 !important;
	}
	@include mq($to: small) {
		margin-left: 0 !important;
	}
}

/*.widg_teaser__wrapper h2 + p {
		padding-left: $basicPush * 2;
		padding-right: $basicPush * 2;
}*/
