.widg_teaser {
  @include span(3);
	position: relative;
	padding-top: $basicPush * 1.7;
	padding-bottom: $basicPush * 3.4;
	margin-bottom: $basicPush * 4;

	&:hover {
		background-color: $colorLightGray;

		.widg_teaser__img {
			img {
				transform: scale(1.1);
			}
		}
	}

	p {
		font-size: 1.25rem;
		opacity: 0.7;
	}
}

.widg_teaser__img {
	margin-bottom: $basicPush * 2;
	overflow: hidden;

	img {
		width: 100%;
		height: auto;

		transform: scale(1.2);

		transition: all $transitionLength $transitionEase;
	}
}

.widg_teaser__link {
	position: absolute;
	top: 0; left: 0; right: 0; bottom: 0;

	text-indent: -100000px;


}

.widg_teaser__arrow {
	@include iconDataurl('pfeil-black');

	display: block;
	position: absolute;
	bottom: $basicPush * 1.8;
}

.widg_teaser__wrapper {
	display: flex;
	flex-wrap: wrap;
}
