<div class="widg_sidebar_key_data widg_sidebar__object" data-init="sidebar_key_data" data-sidebar="object">
	<div class="object__title" data-sidebar="title">
		<h4>{{title}}</h4>
	</div>
	<div class="object__content" data-sidebar="content">
		<dl>
			{{#each entries}}
				<dt>{{{title}}}:</dt>
				<dd>{{{text}}}</dd>
			{{/each}}
		</dl>
	</div>
</div>
