<div class="widg_sidebar_key_data widg_sidebar__object" data-init="sidebar_key_data" data-sidebar="object">
	<div class="object__title" data-sidebar="title">
		<h4>Eckdaten</h4>
	</div>
	<div class="object__content" data-sidebar="content">
		<p>Das ist das Eckdaten-Widget, es wird wohl eher ein bisschen länger.</p>
	</div>
</div>
