{{#extend "layouts/layout"}}
	{{#content "hero"}}
		{{> "widgets/hero/hero" widgets.hero}}
	{{/content}}
	{{#content "content"}}
    <div class="page_content">
      <h1>{{title}}</h1>
      <p class="text__lead">
				{{leadText}}
      </p>
			<form class="form" action="https://eu.cleverreach.com/f/17266-133703/wcs/" method="post" target="_blank">
				<div class="cr_body cr_page cr_font formbox">
					<div class="non_sortable"></div>
					<div class="editable_content">
						<div id="3017126" rel="email" class="field" >
							<label for="text3017126" class="itemname">E-Mail*</label>
							<input id="text3017126" name="email" value="" type="text" placeholder="E-Mail"/>
						</div>
						<div id="3017128" rel="button" class="cr_ipe_item ui-sortable submit_container" >
							<button type="submit" class="cr_button">Anmelden</button>
						</div>
						</div>
					</div>
				</form>
				<p>&nbsp;</p>
    </div>
	{{/content}}
{{/extend}}
