html {
  background: $colorBg;
  color: $colorDarkGrey;
  font-family: $fontSansSerifRoman;
  font-size: $sizeFontBase / 16px * 100%;
  line-height: $sizeLineHeightBase;
}

body {
  color: $colorBlack;
}

nav,
footer {

  ul,
  ol {
	@include resetList;
  }
}

h2,
h3 {
  color: $colorText;
}

.page_wrapper {
  display: flex;
  min-height: 100vh;

  @include mq($to: medium) {
	flex-direction: column;
  }
}

.layout_wrapper {
  flex-grow: 1;

  display: flex;

  flex-direction: column;

}

.layout_content {
  flex-grow: 1;
  width: 100%;

  margin-top: $basicPush * 10 - 44px;

  @include contentWrapper($gutterWidth);

  .page_wrapper__startpage & {
	display: none;
  }

}
