html {
	background: $colorBg;
	color: $colorDarkGrey;
	font-family: $fontSansSerifRoman;
	font-size: $sizeFontBase / 16px * 100%;
	line-height: $sizeLineHeightBase;
	font-weight: 400;
}

body {
	color: $colorBlack;
	overflow-x: hidden;
}

nav,
footer {

	ul,
	ol {
		@include resetList;
	}
}

:not([data-sidebar]) > h2,
h3:not(.childless) {
	color: $colorText;
}

.hero {
	position: relative;

}

.page_wrapper {
	min-height: 100vh;
	overflow-x: hidden;

	@include mq($to: medium) {
		display: block;

		.prevent-scroll & {
			max-height: 100vh;
			overflow: hidden;
		}
	}
}

.layout_wrapper {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	min-height: 1px;
	transition: min-height $transitionLength $transitionEase;

	.header__wide & {
		display: block;
	}

	@include mq($to: medium) {
		display: block;
	}
}

.layout_content {
	width: 100%;
	position: relative;
	margin-top: $contentMarginTop;

	min-height: 0;
	transition: min-height $transitionLength / 2 $transitionEase;

	flex-grow: 1;

	@include clearfix();

	@include contentWrapper($gutterWidth);

	@include mq($to: small) {
		padding: 0;
	}

  	@include mq($to: small) {
	  	margin-top: $basicPush * 2;
	}

	&:focus {
		outline: 0;
	}

	@include mq($from: wide) {
		.widg_sidebar:not(.sticky) {
			position: absolute;
			right: 134px;
			width: calc(20.6% - 15px);
		}
	}

	@media print {
		padding: 0;
		margin: 2cm 0;
		width: 100%;
	}
}

.startpage-page > .layout_content {
	@include mq($from: wide) {
		margin-left: 0;
	}
}

.startpage-page > .i_want {
	@include mq($from: wide) {
		margin-left: 200px;
	}
}

.startpage-page .content__element___borderless,
.page_content,
.startpage-page > .i_want,
.startpage-page > .layout_content {
	@include mq($from: wide) {
		max-width: 1920px;
	}
}

.page_content {
	@include span(8.7);


	.full-width-page & {
		@include span(12);
	}

	@include mq($from: subnav) {
		padding-right: 2vw;
	}


	@include mq($from: large) {
		padding-right: 7.5vw;
	}

	@include mq($to: subnav) {
		@include span(12);
	}

  	@include mq($from: small, $to: medium) {
	  padding-left: $basicPush * 4;
	  padding-right: $basicPush * 4;
	}

	@media print {
		margin: 0;
		padding: 0;
		width: 100%;
	}
}

.product_sidebar,
.product_sidebar_v3 {
	@include span(3);
	@include push(0.3);

	@include mq($to: subnav) {
		display: none;
	}
}

/* Logo: wider english logo for startpage webteam/fhnw.webauftritt#1402 */
.page_wrapper.header__wide {

	@include mq($from: large) {
		.widg_header {
			.widg_header__inner-top {
				.widg_logo {
					& a img[src*="university-applied-sciences-arts-northwestern-switzerland-fhnw-logo"] {
						width: 230px !important;
					}
				}
			}
		}		
	}
}
