body {
	font-family: inherit;
	background: none;
	color: black;
}

/* Font Colors */
.text__lead, p {
    color: #000;
}

.layout_content,
.page_content,
.page_wrapper {
	float: left;
	padding: 0;
	margin: 15pt 0;
	width: 100%;
}

.page_content .content__element {
	margin-bottom: 10pt;
}
/* Text */
.event__date-location, .page_content ul:not(.not-default):not(.select2-selection__rendered) li,
.text__lead, li, p, ul {
	font-size: 11pt;
}

h2,
h3 {
	font-size: 14pt;
	border-bottom: 1pt solid black;
}
/* Headers */
h1:after,
h2.startpage__title:after {
	border-bottom: 4pt solid black;
	background: none;
}

h4,
h5,
h6 {
	margin: 0 !important;
	padding: 0 !important;
	border-bottom: none !important;
}
/* Blockquote */
.widg_blockquote {
	margin-top: 20px;
}

.blockquote__quote p {
	font-size: 11pt;
}

.bleed__inner.site-has-sidebar,
.widg_header__expander,
.image_gallery__arrow,
.responsive-video,
.widg_actionbuttons,
.widg_expertise_areas,
.widg_follow_us,
.widg_footer,
.widg_header__inner-foot,
.widg_header__nav,
.widg_hero,
.widg_location_slider,
.widg_location_slider,
.widg_location_slider nav ul,
.widg_menubuttons,
.widg_menubuttons__menu,
.widg_navigation__sub-wrapper,
.widg_newsletter_subscription,
.widg_searchbar__btn,
.widg_so_me_share,
.widg_subnav,
.widg_teaser__wrapper a.teaser__more-button,
.widg_toplink,
.widg_full_bleed_teaser .widg_teaser {
	display: none;
}
/* Logo */
.widg_logo {
	width: 150%;
	padding: 0;
	margin: 0;
}

.widg_header {
    position: relative;
	margin: 0;
	padding: 0;
	background: transparent;
}

/* Force hiding */
.widg_image_gallery .image_gallery__slider button,
a.button {
	display: none !important;
}

/* Reset margin and padding */
.object__content,
.object__title,
.widg_sidebar,
.widg_sidebar__object,
.widg_sidebar_application {
	margin: 0 0 10px;
	padding: 0 0 10px;
	border: none;
}

.object__title > h4 {
	line-height: 2em;
}
/* Widgets */
.widg_sidebar {
	width: 100%;
}

.widg_sidebar_application {
	border: none;
}
/* Important Hidings */
a.anchor-link {
	display: none !important;
}

/* Full Bleed Teaser */
.widg_full_bleed_teaser {
    margin: 0;
    padding: 0;
}
.full_bleed_teaser__img {
    padding: 0;
    margin: 0;
}

/* Kontakt Widget */
.widg_contact__portrait {
    width: 100px;
}
.widg_contact__info {
    display: inline-block;
    float: left;
    width: 75%;
}

/* Table */
.content__table tr td,
td,
th,
tr {
	font-size: 12pt;
	border-top: 1pt solid black !important;
	border-bottom: 1pt solid black !important;
}
