
* {
	font-family: 'Raleway', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
	font-size: 10pt;
}

/* Setting content width, unsetting floats and margins */
/* Attention: the classes and IDs vary from theme to theme. Thus, set own classes here */

/** Setting margins */
@page {
	margin: 2cm;
}

/* Or: */
@page :left {
margin: 2cm;
}

@page :right {
margin: 2cm;
}

// LOGOS
.widg_logo {
	position: relative;
	top: 0;
	width: 44%;
	overflow: visible;
	padding: 0;
	margin: 0;
	left: -0.5cm;
}

/* basic modern patch */
.layout_content {
	all: initial;
	position: relative;
	top: 2cm;

	* {
		all: unset;
		display: contents;
		overflow: hidden;
		margin: 0;
		padding: 0;
		color: #000;
  }

	// HEADINGS
	h1 {
		display: block;
		padding-bottom: 10pt;
		font-size: 20pt;
		font-weight: 600;
		padding-bottom: 20px;
	}

	h1:after,
	h2.startpage__title:after {
		border-bottom: 4pt solid black;
		background: none;
	}

	h2, h3, h4, h5, h6,
	.teaser__title  {
		display: block;
		width: 90%;
		margin: 0 !important;
		padding: 0 !important;
	}

	// SPECIAL HEADINGS
	h2, .teaser__title {
		padding-bottom: $basicPush;
		margin-bottom: $basicPush * 2;
	}

	.widg_teaser__title.childless {
		display: block;
		margin-bottom: 10pt;
	}

	/* Text */
	.text__lead {
		display: block;
		padding-bottom: $basicPush * 2;
	}
	.widg_teaser__img {
		width: 150pt;
		display: block;
		float: left;
		margin-left: 11pt;
	}
	.widg_teaser__img img[style] {
		position: relative !important;
		width: 90%;
		height: auto !important;
		margin-left: 0 !important;
		padding-left: 0 !important;
	}

} /* layout_content */


// navigation
.widg_header {
	background: transparent !important;
}

.page_wrapper {
	overflow-x: unset;
}

// Hide contents
.bleed__inner.site-has-sidebar,
.widg_header__expander,
.image_gallery__arrow,
.responsive-video,
.widg_actionbuttons,
.widg_expertise_areas,
.widg_i_want,
.widg_follow_us,
.widg_footer,
.widg_header__inner-foot,
.widg_header__nav,
.widg_hero,
.widg_location_slider nav ul,
.widg_menubuttons,
.widg_menubuttons__menu,
.widg_navigation__sub-wrapper,
.widg_newsletter_subscription,
.widg_searchbar__btn,
.widg_so_me_share,
.widg_subnav,
.widg_teaser__wrapper a.teaser__more-button,
.widg_toplink,
.ical {
	display: none !important;
}
