<div class="form">
	<form data-pat-autotoc="levels: legend; section: fieldset; className: autotabs"
				class="rowlike enableUnloadProtection  easyformForm kssattr-formname-view"
				action="http://webcms0.localhost:8000/plone/de/easyform" method="post" enctype="multipart/form-data"
				id="form">
		<!-- Default fieldset -->
		<div data-pat-inlinevalidation="{&quot;type&quot;:&quot;z3c.form&quot;}"
				 class="field pat-inlinevalidation kssattr-fieldname-form.widgets.replyto empty"
				 data-fieldname="form.widgets.replyto" id="formfield-form-widgets-replyto">
			<label for="form-widgets-replyto" class="horizontal">
				Ihre E-Mail Adresse
				<span class="required horizontal" title="Erforderlich">&nbsp;</span>
			</label>
			<div class="fieldErrorBox"></div>
			<input id="form-widgets-replyto" name="form.widgets.replyto" class="text-widget required textline-field" value=""
						 type="text">
		</div>
		<div data-pat-inlinevalidation="{&quot;type&quot;:&quot;z3c.form&quot;}"
				 class="field pat-inlinevalidation kssattr-fieldname-form.widgets.topic empty"
				 data-fieldname="form.widgets.topic" id="formfield-form-widgets-topic">
			<label for="form-widgets-topic" class="horizontal">
				Betreff
				<span class="required horizontal" title="Erforderlich">&nbsp;</span>
			</label>
			<div class="fieldErrorBox"></div>
			<input id="form-widgets-topic" name="form.widgets.topic" class="text-widget required textline-field" value=""
						 type="text">
		</div>
		<div data-pat-inlinevalidation="{&quot;type&quot;:&quot;z3c.form&quot;}"
				 class="field pat-inlinevalidation kssattr-fieldname-form.widgets.comments empty"
				 data-fieldname="form.widgets.comments" id="formfield-form-widgets-comments">
			<label for="form-widgets-comments" class="horizontal">
				Kommentar
				<span class="required horizontal" title="Erforderlich">&nbsp;</span>
			</label>
			<div class="fieldErrorBox"></div>
			<textarea id="form-widgets-comments" name="form.widgets.comments"
								class="textarea-widget required text-field"></textarea>
		</div>
		<!-- Secondary fieldsets -->
		<div class="formControls">
			<input id="form-buttons-submit" name="form.buttons.submit" class="submit-widget button-field" value="Einreichen"
						 type="submit">
			<input id="form-buttons-reset" name="form.buttons.reset" class="submit-widget button-field" value="Zurücksetzen"
						 type="submit">
		</div>
		<input type="hidden" name="_authenticator" value="4d4299000c3e4296440ef05152de9a0ea2eae7e7">
	</form>
</div>
