<section class="sg_inner_wrapper">
	<h2 class="sg_h2">Tables</h2>
	<div class="sg_demo">
		<div class="sg_subsection">
			<h3 class="sg_h3">Default Table</h3>
			<table class="content__table">
				<thead>
				<tr>
					<th>thead th</th>
					<th>thead th</th>
					<th>thead th</th>
				</tr>
				</thead>
				<tbody>
				<tr>
					<td>tbody td</td>
					<td>tbody td</td>
					<td>tbody td</td>
				</tr>
				<tr>
					<td>tbody td</td>
					<td>tbody td</td>
					<td>tbody td</td>
				</tr>
				<tr>
					<td>tbody td</td>
					<td>tbody td</td>
					<td>tbody td</td>
				</tr>
				</tbody>
			</table>
		</div>
	</div>
</section>
