<div class="widg_tabnavigation" data-init="tabnavigation">
  <nav class="widg_tabnavigation__nav">
		<ul class="not-default">
			{{#each tabs}}
				<li>
					<button class="not-default" aria-expanded="false" data-tabnavigation="button">{{title}}</button>
				</li>
			{{/each}}
		</ul>
		<div class="nav__bar" data-tabnavigation="bar"></div>
	</nav>
	<div class="widg_tabnavigation__content">
		{{#each tabs}}
			<div class="content__entry" data-tabnavigation="content" aria-hidden="true">
				{{{tabContent}}}
			</div>
		{{/each}}
	</div>
</div>
