.widg_tabnavigation {
	margin-top: $basicPush * 4;
}

.widg_tabnavigation__nav {
	border-bottom: 1px solid $colorGreyHover;
	padding-bottom: 4px;
	position: relative;

	ul {
		li {
			display: inline-block;

			button {
				font-size: 1.5rem;
				font-weight: 600;
				color: $colorTextGrey;
				margin-right: $basicPush * 3.4;

				padding-bottom: $basicPush * 1.4;

				&.is_active {
					color: $colorBlack;
				}
			}
		}
	}

	.nav__bar {
		position: absolute;
		height: 4px;
		left: 0;

		width: 100px;
		background-color: $colorYellow;

		transition: all $transitionLength / 2 $transitionEase;
	}
}

.widg_tabnavigation__content .content__entry {
	display: none;

	padding: 20px;

	&.is_active {
		display: block;
	}
}
