.widg_tabnavigation {
	margin-top: $basicPush * 4;
}

.widg_tabnavigation__nav {
	border-bottom: 1px solid $colorGreyHover;
	padding-bottom: 4px;
	position: relative;

	ul {
		li {
			display: inline-block;

			button {
				font-size: 1.5rem;
				font-weight: 600;
				color: $colorTextGrey;
				margin-right: $basicPush * 3.4;

				padding-bottom: $basicPush * 1.4;

				&.is_active {
					color: $colorBlack;
				}
			}
		}
	}

	.nav__bar {
		position: absolute;
		height: 4px;
		left: 0;

		width: 100px;
		background-color: $colorYellow;

		transition: all $transitionLength / 2 $transitionEase;
	}
}

.content__entry-wrapper {
	@include mq($to: medium) {
		border-bottom: 1px solid $colorGreyHover;

		&:last-of-type {
			border-bottom: none;
		}
	}
}

.widg_tabnavigation__content .content__entry {
	display: none;

	padding: 20px;

	&.is_active {
		display: block;

	}

	@include mq($to: medium) {
		padding: 0 18px 12px 18px;
	}
}

.content__accordeon-button {
	@include noStyledButton;

	width: 100%;
	max-width: none;

	min-height: buttonHeight(desktop);

	font-size: 1.5rem;

	padding: ($gutterWidth - 4) $basicPush * 4  ($gutterWidth - 4) $gutterWidth + 2;
	position: relative;

	opacity: 1;
	text-decoration: none;
	font-weight: 600;

	margin: 0;
	@include iconDataurl('accordeon_close', $after: true);

	line-height: 2;

	background-color: $colorLightGray;
	transition: all $transitionLength / 6 $transitionEase;

	&:focus {
		background-color: $colorLightGray;
	}

	&:hover {
		background-color: $colorGreyHover;
		color: $colorBlack;
	}

	&:after {
		position: absolute;
		content: " ";
		display: block;

		transition: transform $transitionLength / 2 $transitionEase;

		top: 50%;
		transform: translateY(-50%) rotate(45deg);

		width: 12px;
		height: 12px;

		right: $gutterWidth + 4;

	}

	@include mq($to: medium) {
		min-height: buttonHeight(mobile);
		padding-top: $gutterWidth/2;
		padding-bottom: $gutterWidth/2;
	}

	&.is_active {
		background-color: $colorYellowAccordeonActive;
		color: $colorBlack;

		&:hover {
			background-color: $colorYellowAccordeonActive;
		}

		&:after {
			transform: translateY(-50%) rotate(90deg);
		}
	}
}
