<section class="mod_cookieconfirmation" data-init="cookieconfirmation" role="dialog">
	<h1>{{title}}</h1>

	<p>{{{text}}}</p>

	<p>
		<button data-cookieconfirmation="accept">{{button}}</button>
	</p>
</section>
