.widg_logo {
	width: 210px;
	height: 50px;
	position: relative;
	overflow: hidden;

	img {
		width: 200px;
	}

	a {
		opacity: 1;
		height: 50px;
	}

	.header__wide & {
		width: 100px;

		img {
			height: 50px;
		}

		@include mq($to: medium) {
			width: 50%;
		}

		@include mq($to: small) {
			height: 60px;
			width: 75px;

			margin-left: $basicPush * 2;

			img {
				left: 0;
				right: auto;

				height: 40px;
				max-width: none;
			}
		}
	}

	@include mq($to: medium) {
		width: 50%;

		top: 50%;
		transform: translateY(-50%);

		margin-left: $basicPush * 4;

		img {
			position: absolute;
			top: 50%;
			transform: translateY(-49%);
			left: 0;

			height: 40px;
		}
	}

	@include mq($to: small) {
		height: 60px;
		width: 175px;

		margin-left: $basicPush * 2;

		img {
			left: 0;
			right: auto;

			height: 40px;
			width: auto;
		}
	}
}
