<div class="widg_edu_events" data-init="edu_events" data-sidebar="object">
	<div class="align__btn">
		<a href="{{button.url}}" class="btn small_button">
			<span>{{button.text}}</span>
		</a>
	</div>
</div>
