.widg_edu_events {
	width: 49%;

	@include mq($to: small) {
		width: 100%;
	}

	.event__title {
		font-size: 1.25rem;
		display: block;
		color: $colorBlack;

		margin-bottom: $basicPush;
	}

	.event__date-location {
		color: $colorTextGrey;
		font-size: 1.083333rem;
		font-weight: 700;
	}

	.object__content {
		min-height: $basicPush * 17;
	}

	.align__btn {
		display: flex;
	}

	.button {
		margin: $basicPush * 2;
		width: 100%;
	}
}
