<div class="widg_so_me_share" data-init="so_me_share">
	<div class="widg_so_me_share__text">Diese Seite teilen:</div>
	<div class="widg_so_me_share__buttons">
		<a class="facebook not-default" data-share-text="{{facebook.text}}" data-so_me_share="fb" target="_blank"><span class="some-icon"></span><span class="some-text">Empfehlen</span></a>
    <a class="twitter not-default" data-share-text="{{twitter.text}}" data-so_me_share="tweet" target="_blank"><span class="some-icon"></span><span class="some-text">Twittern</span></a>
		<a class="mailto not-default" data-share-text="{{mail.text}}" data-so_me_share="mailto"><span class="some-icon"></span><span class="some-text">Versenden</span></a>
	</div>
</div>
