.widg_share {
	.page_wrapper__startpage & {
		display: none;
	}
}

.widg_share__btn {
	background-image: url("/assets/media/icons/share.svg");
	background-size: 14.6px 18px;
	background-position: center center;
	background-repeat: no-repeat;
}
