.widg_searchpage {
	min-height: 200px;

	.fhnw-spinner {
		display: none;
	}

	&.show_loading {
		.fhnw-spinner {
			display: block;
		}

		.search__results {
			display: none;
		}
	}
}

.search__results.search__table {
	@include contentWrapper(0, false);

	table {
		width: 100%;
	}
}

/**
  * Styles for the searchpages / formfields and wrapper
  */
.search__wrapper {
	@include bleedFull($gutterWidth);
}

.search__form-wrapper {
	@include contentWrapper($gutterWidth, true);

	box-shadow: 0 3px 14px 0 rgba($colorBlack, 0.07);
	padding-bottom: $basicPush * 4.5;

	position: relative;
	z-index: 2;

	.search__holder {
		@include span(3);
	}

	/**
	  * Styles for the searchform of all results (no special subcategory)
	  */
	&.search__form-all {
		.search__string-holder {
			@include span(9);
		}

		.search__button {
			@include span(3);

			button,
			.button {
				width: 100%;
			}
		}
	}
}

/**
  * Styles for the searchtable
  */
.search__table {
	margin-bottom: $basicPush * 3;
	margin-top: $basicPush * 1;

	td,
	th {
		padding: 25px 10px;
		font-size: 1.25rem;

		border-bottom: 1px solid $colorBlack;

		&:first-child {
			font-weight: 600;
		}
	}

	th {
		text-align: left;
		border-bottom: 2px solid $colorBlack;
	}
}
