.widg_searchpage {
	@include contentWrapper(0, false);

	min-height: 100px;

	.fhnw-spinner {
		visibility: hidden;
		z-index: -1;

		position: absolute;
		top: 0;

		transform: translateY(-100%);
		max-height: 0;
	}

	&.show_loading {
		.fhnw-spinner {
			z-index: 10000;
			visibility: visible;
			max-height: none;
			transform: none;

			position: static;
		}

		.search__results {
			display: none;
		}
	}

	.search__results {
		margin-top: $basicPush * 3;
	}
}


.search__results .search__table {
	table {
		width: 100%;
	}

	th.url {
		font-size: 0;
		color: transparent;
	}

	td[data-searchpage="url"] {
		width: 1%;
	}

	a {
		font-size: 0.1rem;
		color: transparent;
		width: 0;
		height: 0;
		display: inline-block;
	}
}

/**
  * Styles for the searchpages / formfields and wrapper
  */
.search__wrapper {
	@include bleedFull($gutterWidth);
	margin-top: $basicPush * 2;
}

.search__form-wrapper {
	@include contentWrapper($gutterWidth, true);

	padding-bottom: $basicPush * 4.5 !important;

	position: relative;
	z-index: 2;

	.search__holder {
		@include span(3);
		margin-bottom: $gutterWidth * 2;

		@include mq($from: small, $to: subnav) {
			@include span(6);
		}

		@include mq($to: small) {
			@include span(12);

			margin-bottom: $gutterWidth;
		}

		&.search__holder___wide {
			@include span(9);

			@include mq($from: small, $to: subnav) {
				@include span(6);
			}

			@include mq($to: small) {
				@include span(12);
			}
		}
	}

	/**
	  * Styles for the searchform of all results (no special subcategory)
	  */
	&.search__form-all {
		.search__string-holder {
			@include span(9);
		}

		.search__button {
			@include span(3);

			button,
			.button {
				width: 100%;
			}
		}
	}
}

.search__second-row {
	max-height: 0;
	overflow: hidden;
	margin-top: 0;

	transition: transform .5s, max-height .5s .5s, margin-top .5s .5s;

	transform: translateX(-100vw);

	&.is_visible {
		max-height: 70px;
		transform: translateX(0);

		transition: max-height .5s, margin-top .5s, transform .5s .5s;
	}
}

/**
  * The 3rd additional row
  */
.search__extra-holder {
	@include span(6);

	&:last-of-type {
		text-align: right;

		font-size: 1.25rem;
		line-height: 2;
	}

	button {
		@include noStyledButton;
		letter-spacing: normal;

		font-size: 1.25rem;
		color: $colorTextGrey;
		font-weight: 600;

		text-decoration: underline;
		margin-right: $basicPush * 3.9;
		position: relative;

		padding-left: $buttonIconSize * 1.5;
		line-height: 2;

		&:hover {
			color: $colorBlack;

			&:before {
				opacity: 1;
			}
		}

		&:before {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
			opacity: 0.5;

			width: $buttonIconSize;
			height: $buttonIconSize;
		}

		&.search__expander {
			@include iconDataurl('breadcrumb-expand');

			&.is_active {
				@include iconDataurl('breadcrumb-hide');
			}
		}

		&.search__reset {
			margin-right: 0;

			@include iconDataurl('reset');
		}
	}
}


/**
  * Styles for the searchtable
  */
.search__table {
	margin-bottom: $basicPush * 3;
	margin-top: $basicPush * 1;

	td,
	th {
		padding: 25px 10px;
		font-size: 1.25rem;

		border-bottom: 1px solid $colorGreyHover;

		&:first-child {
			font-weight: 600;
		}
	}

	tr:hover {
		td {
			background-color: $colorLightGray;
			cursor: pointer;
		}
	}

	th {
		text-align: left;
		border-bottom: 2px solid $colorGreyHover;
	}
}


/**
  * The more results button
  */

.widg_searchpage__more-btn {
	@include noStyledButton;

	font-size: 1.5rem;
	font-weight: 600;

	width: 100%;
	text-align: center;

	transform: translateY(-30px);
	color: $colorTextGrey;
	cursor: pointer;

	@include basicUnitHeight(line-height);
	@include basicUnitHeight(height);

	.show_loading & {
		display: none;
	}

	&:hover {
		color: $colorBlack;
		background-color: $colorLightGray;
	}

}
