.widg_follow_us {
	/*margin-bottom: $smallElementHeight;*/

	ul {
		list-style-type: none;
		padding: 0;
		margin: $basicPush * 2.5 0 0 0;

		@include clearfix();

		li {
			width: 25%;
			display: block;
			float: left;

			@include mq($to: medium) {
				width: 50%;
			}

			@include mq($to: small) {
				width: 100%;
			}

			a {
				display: block;
				position: relative;
				font-size: 1.416667rem;
				padding: 14px 0 14px 48px;

				&:before {
					content: " ";
					display: block;
					position: absolute;
					width: 36px;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					background-position: center;
				}
			}
		}
	}
}

[class^='follow__'] {
	@include iconDataurl('default_follow');
}

.follow__twitter {
	@include iconDataurl('twitter_follow');
}

.follow__facebook {
	@include iconDataurl('facebook_follow');
}

.follow__youtube {
	@include iconDataurl('youtube_follow');
}

.follow__xing {
	@include iconDataurl('xing_follow');
}

.follow__instagram {
	@include iconDataurl('instagram_follow');
}

.follow__itunes {
	@include iconDataurl('itunes_follow');
}

.follow__linkedin {
	@include iconDataurl('linkedin_follow');
}

.follow__googleplus {
	@include iconDataurl('googleplus_follow');
}

.follow__blogs {
	@include iconDataurl('blog_follow');
}

.follow__vimeo {
	@include iconDataurl('vimeo_follow');
}

.follow__issuu {
	@include iconDataurl('issuu_follow');
}
