<div class="widg_follow_us" data-init="follow_us">
	<h2>
		{{widgetTitle}}
	</h2>
	<ul class="not-default">
		{{#each links}}
			<li>
				<a href="{{url}}" class="follow__{{type}}">{{title}}</a>
			</li>
		{{/each}}
	</ul>
</div>
