.widg_follow_us {
	ul {
		list-style-type: none;
		padding: 0;
		margin: $basicPush * 2.5 0 0 0;

		@include clearfix();

		li {
			width: 25%;
			display: block;
			float: left;

			@include mq($to: medium) {
				width: 50%;
			}

			@include mq($to: small) {
				width: 100%;
			}

			a {
				display: block;
				position: relative;

				font-size: 1.416667rem;
				padding: 7px 0 7px 42px;

				&:before {
					height: 31px;
					width: 31px;

					content: " ";
					display: block;
					position: absolute;

					left: 0;

					top: 50%;
					transform: translateY(-50%);
				}
			}
		}
	}
}

.follow__twitter {
	@include iconDataurl('twitter_follow');
}

.follow__facebook {
	@include iconDataurl('facebook_follow');
}

.follow__youtube {
	@include iconDataurl('youtube_follow');
}
