<div class="widg_footernavigation" data-init="footernavigation">
	{{#each entries}}
		<div class="widg_footernavigation__column" data-footernavigation="column">
			<span data-footernavigation="columnTitle">{{title}}</span>
			{{#if subentries}}
				<ul>
					{{#each subentries}}
						<li>
							<a href="{{url}}">{{title}}</a>
						</li>
					{{/each}}
				</ul>
			{{/if}}
		</div>
	{{/each}}
	<div class="widg_footernavigation__column widg_footer__logos" data-footernavigation="column">
		<a class="efqm" target="_blank" href="http://www.efqm.ch"></a>
		<span>Member of:</span>
		<a class="fhnw" target="_blank" href="https://www.swissuniversities.ch/"></a>
		<a class="eua" target="_blank" href="https://eua.eu"></a>
	</div>
</div>
