<div class="widg_footernavigation" data-init="footernavigation">
	{{#each entries}}
		<div class="widg_footernavigation__column" data-footernavigation="column">
			<h4 data-footernavigation="columnTitle">{{title}}</h4>
			{{#if subentries}}
				<ul>
					{{#each subentries}}
						<li>
							<a href="{{url}}">{{title}}</a>
						</li>
					{{/each}}
				</ul>
			{{/if}}
		</div>
	{{/each}}
</div>
<div class="widg_footer__efqm" data-footernavigation="column">
	<h4>Member of:</h4>
	<a href="https://www.swissuniversities.ch/"></a>
</div>
