.widg_footernavigation {
	@include contentWrapper($gutterWidth);

	padding-top: $basicPush * 6 !important;
	padding-bottom: $basicPush * 2.5 !important;


	@include mq($to: small) {
		padding-top: $basicPush * 3 !important;
		padding-bottom: $basicPush * 2.25 !important;
		
		& div:last-child {
			border-bottom: none;
		}
	}
}

.widg_footernavigation__column {
	@include span(2);

	color: $colorBg;

	@include mq($to: subnav, $from: small) {
		@include span(6);

		margin-bottom: $basicPush * 2;
	}

	@include mq($to: small) {
		float: none;
		width: calc(100% - 32px);

		border-bottom: 1px solid rgba($colorBg, 0.5);
		padding: 0;
		margin: 0 20px;
	}

	ul {
		margin-top: $basicPush * 1.4;
		@include mq($to: small) {
			display: none;
			padding-bottom: $basicPush * 1.75;

			margin-top: 0;
		}
	}

	&.is_open {
		@include mq($to: small) {

			h4:after {
				transform: translateY(-50%) rotate(0deg);
			}
		}
	}

	ul li a {
		color: $customScrollbarColor;
		padding: 5px 0;

		display: block;
		font-size: 1.25rem;
		line-height: 1.7;
		text-decoration: none;
		font-weight: 500;
		opacity: 1;

		&:hover {
			color: $colorBg;

			@include mq($to: small) {
			}
		}

	}

	h4 {
		font-weight: 700;
		font-size: 1.25rem;
		line-height: 1.7;
		padding-bottom: $basicPush * 1.4;

		border-bottom: 1px solid rgba($colorBg, 0.5);

		@include mq($to: small) {
			padding-top: $basicPush * 1.4;
			position: relative;
			cursor: pointer;

			@include iconDataurl($name: 'close_white', $after: true);
			border-bottom: none;

			&:after {
				width: 12px;
				height: 12px;

				position: absolute;
				right: $basicPush;
				top: 50%;

				transform: translateY(-50%) rotate(45deg);

				transition: transform $transitionLength $transitionEase;
			}

			&:last-of-type {
				h4 {
					border: none;
				}
			}
		}
	}
}
