<!doctype html>
<!--[if IE 7]>         <html lang="en" class="no-js ie7 lte-ie9 lte-ie8 lte-ie7"> <![endif]-->
<!--[if IE 8]>         <html lang="en" class="no-js ie8 lte-ie9 lte-ie8">         <![endif]-->
<!--[if IE 9]>         <html lang="en" class="no-js ie9 lte-ie9">                 <![endif]-->
<!--[if gt IE 9]><!--> <html lang="en" class="no-js">                         <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>{{#if title}}{{title}} – {{/if}}{{project}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<link rel="stylesheet" href="/assets/css/main{{#unless env.dev}}.min{{/unless}}.css">
	<link rel="icon" href="/assets/media/icons/favicon.ico" type="image/x-icon">

	{{#if env.dev}}
		<link rel="stylesheet" href="/assets/css/dev.css">
	{{/if}}

	<script src="/assets/js/head{{#unless env.dev}}.min{{/unless}}.js"></script>

	{{#if env.dev}}
		<script src="/assets/js/dev.js"></script>
	{{/if}}

  <script type="text/javascript" src="http://fast.fonts.net/jsapi/bc81933a-a353-421f-9055-6274c625f4a9.js"></script>
</head>
<body>

<div class="page_wrapper {{wrapperClass}}">
	{{#block "page_wrapper"}}

  {{> "widgets/header/header" widgets.header}}

  <div class="layout_wrapper {{pageTypeClass}}" id="main">
		<div class="hero">
			{{#block "hero"}}
			{{/block}}
		</div>
    <div class="layout_content">
      {{#block "content"}}
      {{/block}}
    </div>

		{{#block "metainfo"}}
		{{/block}}

    {{> "widgets/footer/footer" widgets.footer}}
  </div>

	{{> "widgets/actionbuttons/actionbuttons" widgets.actionbuttons}}

	{{/block}}

	{{#block "productbar"}}
	{{/block}}

	{{> "widgets/toplink/toplink"}}
</div>




	<script src="/assets/js/main{{#unless env.dev}}.min{{/unless}}.js"></script>

	{{#block "scripts"}}
		{{#if meta.testScripts}}
			{{> "preview/partials/qunit"}}
		{{/if}}
	{{/block}}
</body>
</html>
