<div class="mod_slideshow" data-init="slideshow" data-slideshow-data="{&quot;i18n&quot;:{&quot;prev&quot;:&quot;Previous Bill&quot;,&quot;next&quot;:&quot;Next Bill&quot;}}" data-slideshow-options="{&quot;animationDuration&quot;:100}">
	<div class="slides" data-slideshow="slides">
		{{#each slides}}
			{{> "modules/slideshow/_slideshow_slide.js" this}}
		{{/each}}
	</div>
</div>
