.widg_edu_application {
	width: 48%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	@include mq($to: small) {
		width: 100%;
		margin-top: $basicPush;
	}

	p:not(.small) {
		margin-bottom: $basicPush * 2;
	}

	p.small {
		font-size: 1.0833333rem;

		color: $colorTextDarkGrey;
		margin-bottom: $basicPush;
	}

	// .object__content {
	// 	flex-grow: 1;
	// 	padding: 10px 20px 0;
	// }

	.align__btn {
		display: flex;
		width: 100%;

		a.btn {
			display: flex;
			justify-content: center;
			align-items: center;

			margin: 0;
			background: $colorBlack;
			opacity: 1;
			color: $colorBg;

			text-decoration: none;
			text-align: center;

			padding: 0;

			line-height: 17px;
			min-height: $basicPush * 5;

			&:hover {
				background: $colorYellow;
				color: $colorText;
			}

			&.disabled {
				background-color: $colorDarkGrey;

				&:hover {
					color: #fff;
				}
			}

			@include mq($to: small) {
				width: 100%;
			}

			@include mq($from: small) {
				width: 100%;
			}
		}
	}

	a.link-mailto {
		padding-left: 19px;
	}
}
