.widg_edu_application {
	width: 49%;
	display: flex;
	flex-direction: column;

	@include mq($to: small) {
		width: 100%;
		margin-top: $basicPush;
	}

	p:not(.small) {
		margin-bottom: $basicPush * 2;
	}

	p.small {
		font-size: 1.0833333rem;

		color: $colorTextDarkGrey;
		margin-bottom: $basicPush;
	}

	.object__content {
		flex-grow: 1;
		padding: 10px 20px 0;
	}

	.align__btn {
		display: flex;
		width: 100%;
		
		a.btn {
			margin: $basicPush * 2;
			background: $colorText;
    	color: $colorBg;
    	text-decoration: none;
    	padding: 10px 30px;
    	text-align: center;

			&:hover {
				background: $colorYellow;
				color: $colorText;
			}
	
			@include mq($to: small) {
				width: 100%;
			}
	
			@include mq($from: small) {
				max-width: 250px;
			}
		}	
	}
}
