{{#extend "layouts/layout" pageTypeClass="startpage-page"}}

	{{#content "hero"}}
		{{> "widgets/carousel/carousel" widgets.carousel}}
	{{/content}}


	{{#content "before_content"}}
		<div class="i_want">
			{{> "widgets/i_want/i_want" widgets.wantStudy}}{{> "widgets/i_want/i_want" widgets.wantFurtherEducation}}
		</div>
	{{/content}}

    {{#content "content"}}
		<div class="startpage_content">
      		<div class="content__element content__element___borderless">
				{{> "widgets/teaser/teaser" widgets.teaser}}
			</div>

			<div class="content__element content__element___bleed content__element___borderless">
				{{> "widgets/infobox/infobox" widgets.infobox}}
			</div>

			{{> "widgets/full_bleed_teaser/full_bleed_teaser" widgets.fullBleedTeaser}}

			<div class="content__element content__element___borderless">
				{{> "widgets/teaser/teaser" widgets.teaser}}
			</div>

			<div class="content__element content__element___bleed content__element___top-bordered" id="locations">
				{{> "widgets/location_slider/location_slider" widgets.locationSlider}}
			</div>
		</div>
    {{/content}}

{{/extend}}
