{{#extend "layouts/layout" pageTypeClass="startpage-page"}}

	{{#content "hero"}}
		{{> "widgets/carousel/carousel" widgets.carousel}}
	{{/content}}

    {{#content "content"}}
			<h2 class="startpage__title">FHNW News</h2>
			{{> "widgets/teaser/teaser" widgets.teaser}}
    {{/content}}

{{/extend}}
