{{#extend "layouts/layout" pageTypeClass="startpage-page"}}

	{{#content "hero"}}
		{{> "widgets/carousel/carousel" widgets.carousel}}
	{{/content}}

    {{#content "content"}}

      <div class="content__element content__element___borderless">
				{{> "widgets/teaser/teaser" widgets.teaser}}
			</div>

			{{> "widgets/full_bleed_teaser/full_bleed_teaser" widgets.fullBleedTeaser}}

			<div class="content__element content__element___borderless">
				{{> "widgets/teaser/teaser" widgets.teaser}}
			</div>

    {{/content}}




{{/extend}}
