<div class="widg_pagesearch" data-init="pagesearch">
	<button class="widg_pagesearch__btn widg_actionbutton__item" data-pagesearch="btn">
		Suchen
	</button>
</div>
<div class="widg_pagesearch-bar" data-pagesearch="bar">
	<div class="widg_pagesearch-bar__search">
    <div class="widg_pagesearch-bar__close" data-pagesearch="close"></div>
		<input type="text" placeholder="Suche" name="pagesearch_search" data-pagesearch="input"/>
	</div>
	<div class="widg_pagesearch-bar__results">
	</div>

</div>
