.widg_pagesearch {

}

.widg_pagesearch__btn {
	background-image: url("/assets/media/icons/search.svg");
	background-size: 16px 16px;
	background-position: center center;
	background-repeat: no-repeat;
}
