<div class="widg_promoteaser widg_header__hide-on-shrinked" data-init="promoteaser">
	<div class="widg_promoteaser__inner">
		<div class="widg_promoteaser__img">
			<img src="/assets/media/img/10-jahre.png" alt="10 Jahre FHNW"/>
		</div>
		<p class="widg_promoteaser__text">Am <b>1. Januar 2006</b> fiel der Startschuss.</p>
		<button class="widg_promoteaser__button button__icon">
			Mehr Informationen
		</button>
	</div>
</div>
