.widg_promoteaser {
	width: 90%;
	padding-top: 90%;
	position: relative;
	border-radius: 50%;
	background-color: $colorBg;
	margin-top: $basicPush * 4;

	.widg_promoteaser__inner {
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		padding: 0 $basicPush;

		transform: translate(-50%, -50%);
	}

	&:hover {
		cursor: pointer;

		.widg_promoteaser__button:before {
			animation: arrowAnimationWithCenterIcon $animationDuration;
		}
	}

	@include mq($to: medium){
		display: none;
	}

	@media screen and ( max-height: $sizeHeightBreakpoint ){
		display: none;
	}
}

.widg_promoteaser__img {
	width: 100%;
	margin-bottom: $basicPush * 0.5;
	text-align: center;

	img {
		max-width: 70%;
	}
}

.widg_promoteaser__text {
	font-size: 1.1rem;
	font-family: $fontSansSerifRoman;
	line-height:1.3;
	text-align: center;

	b{
		font-family: $fontSansSerifBold;
	}
}

.widg_promoteaser__button {
	@include iconDataurl('pfeil-black');
	@include noStyledButton();

	position: relative;
	width: 100%;
	min-width: 0;
	background-color: transparent;
	height: 14px;

	text-decoration: none;
	font-size: 1.083333rem;
	display: block;

	&:hover,
	&:active {
		background-color: transparent;
	}

	&:before {
		@include centerDataurlIcon();
	}
}
