
.widg_header {
  @include clearfix;
  @include transition(all $transitionLength $transitionEase);

  width: $widthYellowBar;
  position: fixed;
  max-height: 100vh;
  height: 100vh;

  display: flex;
  flex-direction: column;

  background-color: $colorYellow;
  padding: $gutter;
  padding-top: 25px;

  z-index: zindex('header');

  //Extended Header (Wide) only exists between betweener and wide
  @include mq($from: $sizeBreakpointBetweener, $to: $sizeBreakpointWide) {
	.header__extended & {
	  width: $widthYellowBarWide;
	}
  }

  .widg_header__inner-top {
	position: relative;
	flex-grow: 1;
  }

  /**
    * Smaller then 1024 leads to the top bar
    */
  @include mq($to: medium) {
	width: 100%;
	height: $headerHeightTop;
	position: static;
	padding: 15px $basicPush * 4;

	@include mq($to: small) {
	  padding: 15px $basicPush * 2;
	}
  }

  /**
    * Supersized YellowBar
    */
  @include mq($from: $sizeBreakpointWide) {
	width: $widthYellowBarSuperWide;
  }

}

.is_shrinked {
  @include basicUnitHeight(max-height);

  overflow: hidden;

  @include mq($from: $sizeBreakpointMedium) {
	.widg_header__expander {
	  display: block;
	}

	cursor: pointer;

	&:hover,
	&:focus {
	  background-color: $colorDarkerYellow;
	}
  }
}

@include mq($from: $sizeBreakpointMedium) {
  .is_expanded {
	max-height: 100vh;

	&:hover,
	&:focus {
	  background-color: $colorYellow;
	}
  }
}

.widg_header__expander {
  width: 14px;
  height: 10px;

  @include iconDataurl('dropdown-arrow');

  display: none;
  position: absolute;
  top: 25px;
  right: 0;

  &:before {
	@include centerDataurlIcon();

	width: 14px;
	height: 10px;
  }

  .is_expanded & {
	display: none;
  }
}

.widg_header__hide-on-shrinked {
  opacity: 1;

  @include transition(opacity $transitionLength $transitionEase);
  @include transition-delay($transitionLength);

  .is_shrinked & {
	opacity: 0;
  }
}

.widg_header__inner-foot {
  @include mq($to: $sizeBreakpointMedium) {
	display: none;
  }
}

/**
 * Special Styles for Startpage
 */

.widg_header {
  .page_wrapper__startpage & {
	position: relative;

	@include mq($from: $sizeBreakpointLarge) {
	  min-width: 300px;
	}

	@include mq($from: $sizeBreakpointWide) {
	  min-width: 400px;
	}
  }
}
