<header class="widg_header" data-init="header">
  <div class="widg_header__inner-top">
    <div class="widg_header__expander"></div>
		{{> "widgets/menubuttons/menubuttons" }}
		{{> "widgets/logo/logo"}}
		{{> "widgets/navigation/navigation" widgets.navigation}}
	</div>
	<div class="widg_header__inner-foot">
		{{> "widgets/headerfoot/headerfoot" widgets.headerFoot}}
	</div>
</header>
