$sizeHeaderWidth: 343px;

.widg_header {
	@include clearfix;
	width: pxToEm($sizeHeaderWidth);

  background-color: $colorYellow;


  @include mq($to: medium) {
    width: 100%;
  }
}

.widg_header__inner {
	height: 100vh;
	padding: pxToEm(44px); //@TODO Only temp value
	width: pxToEm($sizeHeaderWidth);

	position: fixed;

	@include mq($to: medium) {
		position: static;
		height: auto;
		width: 100%;
		padding: 0;
	}
}
