// env flags
body.is-env-dev .widg_header {
	background-color: #cc55a5;
}

body.is-env-test .widg_header {
	background-color: #86bfff;
}


.widg_header {
	@include clearfix;

	transition: all $transitionLength $transitionEase;
	transform: translate3D(0, 0, 0);

	width: $widthYellowBar;
	position: fixed;
	max-height: 100vh;
	height: 100vh;

	display: flex;
	flex-direction: column;

	background-color: $colorYellow;
	padding: $gutter;
	padding-top: 25px;

	z-index: zindex('header');

	&.is_nav-open {
		z-index: zindex('headerOpen');
	}

	.widg_header__inner-top {
		@include mq($to: medium) {


			position: absolute;
			top: 0;
			left: 0;
			right: 0;

			height: $headerHeightTop;

			width: 100%;

			z-index: zindex('mobileHeaderTop');
		}
	}

	.widg_header__nav {

		flex-grow: 1;

		@include mq($to: medium) {
			transform: translateY(-15px);
			margin-top: $headerHeightTop;

			display: none;
		}
	}

	.widg_header__nav,
	.widg_header__inner-foot {
		opacity: 1;

		transition: opacity $transitionLength $transitionEase $transitionLength;
	}

	/**
  * Smaller than 1024 leads to the top bar
  */
	@include mq($to: medium) {
		width: 100%;
		min-height: $headerHeightTop;
		max-height: $headerHeightTop;
		padding: 15px $basicPush * 4;
		position: relative;
		height: calc(100vh - 70px);
		overflow-y: hidden;

		&.is_nav-open:not(.widg_header___cloned) {
			box-shadow: 0 2px 10px 0 rgba($colorBlack, 0.15);

			position: relative;
		}

		&:not(.widg_header___cloned) {
			z-index: 5000;
		}

		@include mq($to: small) {
			padding: 15px $basicPush * 2;
		}
	}

	@include mq($from: medium) {
		.-ms- & {
			min-height: 620px;
		}
	}

	//Extended Header (Wide) only exists between betweener and wide
	@include mq($from: betweener, $to: wide) {
		.header__wide & {
			width: $widthYellowBarWide;
		}
	}

	/**
  * Supersized YellowBar
  */
	@include mq($from: wide) {
		width: $widthYellowBarSuperWide;
	}

}

.widg_header.is_shrinked {
	@include basicUnitHeight(max-height);

	overflow: hidden;
	transition: all $transitionLength $transitionEase $transitionLength;

	@include mq($from: medium) {
		max-height: basicUnitHeight(normal);

		.widg_header__expander {
			opacity: 1.0;
			transition: opacity $transitionLength $transitionEase $transitionLength * 1.5;
		}

		cursor: pointer;

		&:hover,
		&:focus {
			background-color: $colorYellowBarHover;
		}
	}

	.widg_header__nav,
	.widg_header__inner-foot {
		opacity: 0;

		transition: opacity $transitionLength $transitionEase;
	}
}

@include mq($from: medium) {
	.is_expanded {
		max-height: 100vh;

		&:hover,
		&:focus {
			background-color: $colorYellow;
		}
	}
}

.widg_header__expander {
	width: 14px;
	height: 10px;

	@include iconDataurl('dropdown-arrow');

	position: absolute;
	top: 50%;
	right: 25px;

	opacity: 0;
	transition: opacity $transitionLength / 2 $transitionEase;

	transform: translateY(-50%);

	&:before {
		@include centerDataurlIcon();

		width: 14px;
		height: 10px;
	}
}

.widg_header__inner-foot {
	@include mq($to: medium) {
		display: none;
		z-index: -1;
		margin: 14px 20px 50px;

		.is_nav-open & {
			display: block;

			@include mq($to: medium) {
				display: none;
			}
		}

		ul li a {
			padding: 0;
			font-size: 1.08333rem;
			line-height: 1.9em;
			text-decoration: none;
			opacity: 0.7;
		}
	}

	@include mq($to: small) {
		padding-bottom: $basicPush;
	}
}

/**
 * Special Styles for Startpage
 */

.widg_header {
	.header__wide & {
		@include mq($from: large) {
			min-width: 300px;
		}

		@include mq($from: wide) {
			min-width: 400px;
		}
	}
}

/**
  * Some very special mobile styles
  */
.widg_header___cloned {
	max-height: calc(100vh - 70px);

	position: absolute;
	top: $headerHeightTop;

	left: 0;
	width: 100vw;
	opacity: 0;

	transform: translateY(-20px);
	transition-duration: $transitionLength / 2;
	z-index: -1;

	.widg_header__nav {
		margin-top: 0;
	}

	> div {
		opacity: 0;

		transform: opacity $transitionLength / 3 $transitionEase;
	}

	&.is_nav-open {
		transform: translateY(0);
		opacity: 1;
		z-index: zindex(header);
		overflow-x: hidden;

		> div,
		.widg_header__inner-foot {
			opacity: 1;
			display: block;
		}
	}
}
