<header class="widg_header" data-init="header">
	<div class="widg_header__inner">
		{{> "widgets/menubuttons/menubuttons" }}
		{{> "widgets/logo/logo"}}
		{{> "widgets/navigation/navigation" widgets.navigation}}
	</div>
</header>
