.widg_continuing_education_search {
	.search__wrapper {
		width: auto;
		margin-left: 0;

		.search__form-wrapper {
			padding: 0;
			box-shadow: none;
		}
	}

	.search__third-row {
		display: flex;
		flex-direction: column;

		.search__extra-holder {
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			width: 100%;
			padding: 0 16px 0 16px;

			.listing__type {
				display: flex;
				flex-direction: row;
				align-items: center;
			}
		}
	}
}
