/*
 * Standard Image Gallery
 */
.widg_image_gallery {
	.slick-slider .slick-track {
		margin: 0 auto;
	}
	.slick-slide {
		outline: none;
	}

	.image_gallery__slide img {
		width: 100%;
	}
}

.image_gallery__arrow {
	width: 70px;
	height: 70px;
	position: absolute;
	background-color: $colorBlack;
	opacity: 0.7;
	top: 50%;
	transform: translateY(-50%);
	z-index: 100;
	outline: none;

	@include iconDataurl('pfeil-weiss');

	&:before {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&:hover {
		opacity: 1;
	}

	&.image_gallery__next {
		right: 0;
	}

	&.image_gallery__prev {
		transform: rotate(180deg) translateY(50%);
	}
}

.image_gallery__dots {
	position: absolute;
	top: 0;
	left: 50%;

	transform: translateX(-50%);

	li {
		display: inline-block;

		button {
			text-indent: -10000px;
			height: 14px;
			width: 14px;

			padding: 0;
			margin-right: 6px;

			&:focus {
				outline: 0;
			}
		}

		&.slick-active {
			button {
				background-color: $colorYellow;
			}
		}
	}
}

.image_gallery__legend {
	font-size: 1.083333rem;
	margin: 20px 0 15px 0;

	//display: unset;
	color: $colorTextGrey;
}

@include mq($to: small) {
  .widg_image_gallery_thumbs {
		display: none;
	}

	.image_gallery__dots {
		top: 97%
	}
	.image_gallery__slider .stick-list {
		margin-bottom: calc(320px - 43vw)
	}
}

/* END STANDARD IMAGE GALLERY */

/* START IMAGE GALLERY THUMBNAILS */
.widg_image_gallery_thumbs {

	.slick-slide img {
		border-bottom: 3px solid #fff;
		margin: 5px;
	}

	.slick-track img {
		margin: 5px;
		outline: none;
		cursor: pointer;
		opacity: .7;
	}

	img.slick-center,
	img.slick-current {
		border-bottom: 2px solid #000;
		padding-bottom: 5px;
		opacity: 1;
	}

	.slick-slide:active {
		cursor: grabbing;
	}

}
