.widg_image_gallery {
	.image_gallery__slide img {
		width: 100%;
	}
}

.image_gallery__arrow {
	width: 70px;
	height: 70px;

	position: absolute;
	background-color: $colorBlack;

	opacity: 0.7;

	top: 50%;
	transform: translateY(-50%);

	z-index: 100;

	@include iconDataurl('pfeil-weiss');

	&:before {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}

	&:hover {
		opacity: 1;
	}

	&.image_gallery__next {
		right: 0;
	}

	&.image_gallery__prev {
		transform: rotate(180deg) translateY(50%);
	}
}

.image_gallery__dots {
	position: absolute;
	top: 0;
	left: 50%;

	transform: translateX(-50%);

	li {
		display: inline-block;

		button {
			text-indent: -10000px;
			height: 14px;
			width: 14px;

			padding: 0;
			margin-right: 6px;

			&:focus {
				outline: 0;
			}
		}

		&.slick-active {
			button {
				background-color: $colorYellow;
			}
		}
	}
}

.image_gallery__legend {
	font-size: 1.083333rem;
	margin: 20px 0 50px 0;

	display: block;
	color: $colorTextGrey;
}

@include mq($to: small) {
	.image_gallery__arrow {
		top: 107%
	}
	.image_gallery__dots {
		top: 97%
	}
	.image_gallery__slider .stick-list {
		margin-bottom: calc(320px - 43vw)
	}
	.image_gallery__legend {
		padding-bottom: 30px;
	}
}

/* POC Image Gallery - webteam/fhnw.webauftritt#1232 */
ul.slick-dots {
	text-align: center;
}
ul.slick-dots li:before {
	content: '' !important;
}
ul.slick-dots li {
	display: inline-block;
	margin: 0 !important;
	padding: 0 !important;
}
ul.slick-dots button {
	background: #f7f7f5;
	color: inherit;
}
ul.slick-dots .slick-active button {
	background: #deded9;
	color: inherit;
}

.slider-nav-thumbnails button.image_gallery__arrow {
	top: -360%;
	outline: none;
}

.slick-slider ul.slick-dots button {
	height: 70px;
  width: 70px;
  line-height: 70px;
  margin: 0;
  padding: 0 25px 0px 25px;
}

.slick-slide {
	outline: none;
}

.slick-slide img {
	outline: none;
	cursor: grab;
}


// Demopage slick-slide
.slick-slide {
	float: left;
	height: 100%;
	min-height: 1px;
	display: none;
	outline: 0;
}
.slick-slide img {
	cursor: -webkit-grab;
	cursor: grab;
	outline: 0;
}
.slider-nav-thumbnails button.image_gallery__arrow {
	top: -300%;
	outline: 0;
}
.slider-nav-thumbnails .slick-slide img {
	border-bottom: 3px solid #fff;
	display: block;
	float: left;
	margin: 5px;
	opacity: .7;
}
.slider-nav-thumbnails .slick-slide.slick-current.slick-center img {
	border-bottom: 2px solid #000;
	padding-bottom: 5px;
	opacity: 1;
}
.slider-nav-thumbnails .slick-slide {
    margin: 5px;
}

// Teaser Slider
.widg_image_gallery.slider.teaser.slick-initialized.slick-slider .slick-slide {
    margin: 10px;
}
.widg_image_gallery.slider.teaser .image_gallery__arrow {
	top: 25%;
}
