.widg_blockquote {
	@include bleed;
	background-image: url('/assets/media/img/blockquote_bg.png');
	background-size: 100% 100%;

	padding-top: $basicPush * 8;
	padding-bottom: $basicPush * 7;

	@include clearfix;

	&.has-img {
		background: transparent;
		padding: 0;
		margin: 0 0 $basicPush * 5 0;


		h2:not(.childless) {
			margin-bottom: $basicPush * 3.5;
		}
	}
}

.blockquote__img {
	@include span(4);

	padding-top: 5px;

	img {
		width: 100%;
	}

	@include mq($to: medium) {
		@include span(12);
	}
}

.blockquote__quote {
	@include span(12);
	padding-left: 32px;

	p {
		margin-top: 0;
		font-family: $fontEgyptienneItalic;
		line-height: 1.7;
		font-size: 2.333333rem;

		@include mq($to: small) {
			pading-left: 25px;
		}

		@include mq($to: small) {
			font-size: 1.7rem;
		}
	}

	.has-img & {
		@include span(8);

		p {
			font-size: 1.5rem;
		}

		p:before {
			width: 41px;
			height: 32px;

			margin-top: 8px;
			margin-bottom: 11px;
			margin-right: 22px;
		}

		@include mq($to: medium) {
			@include span(12);
		}
	}
}

.blockquote__author {
	display: block;
	font-size: 1.0833333rem;
	font-weight: 600;
	color: $colorTextGrey;

	@include mq($to: small) {
		padding-left: 55px;
	}
}

.blockquote__button {
	margin-top: $basicPush * 3.5;
}
