<footer class="widg_footer">
  <div class="widg_inner-footer">
		{{> "widgets/footernavigation/footernavigation" widgets.footerNavigation}}
		<div class="widg_footer__efqm"><a></a></div>
	</div>
</footer>
