<footer class="widg_footer">
  <div class="widg_inner-footer">
		{{> "widgets/footernavigation/footernavigation" widgets.footerNavigation}}
                <div class="widg_footer_logo_label">Member of:</div>
		<div class="widg_footer__efqm"><a href="https://www.swissuniversities.ch/"></a></div>
	</div>
</footer>
