.widg_footer {
  @include clearfix;
}

.widg_inner-footer {
	background-color: $colorBlack;
	position: relative;
}

.widg_footer__adress-claim {
	@include contentWrapper($hasGrid: false);

	color: $colorBg;
	opacity: 0.8;
	font-size: 1.08333333rem;
	padding-bottom: $basicPush * 1.5 !important;
}

.widg_footer__efqm {

	position: absolute;
	right: $basicPush * 10;
	bottom: $basicPush * 3.6;
	top: auto;

	@include mq($to: $sizeBreakpointMedium) {
		right: $gutterWidth;
		bottom: $basicPush * 2.9;
	}

	a {
		display: block;

		@include iconDataurl('efqm_logo_neg');

		@include mq($to: $sizeBreakpointMedium) {
			&:before {
				height: 50px;
				width: 84px;

			}
		}
	}
}
