<footer class="widg_footer">
  <div class="widg_inner-footer">
		{{> "widgets/footernavigation/footernavigation" widgets.footerNavigation}}
		<div class="widg_footer__adress-claim">
      Fachhochschule Nordwestschweiz FHNW, Bahnhofstrasse 6, 5210 Windisch, Telefon +41 56 202 77 00
		</div>
	</div>
	{{> "widgets/navigation_meta/navigation_meta" widgets.navigationMeta}}
</footer>
