<div class="widg_sidebar_contact widg_sidebar__object" data-init="sidebar_contact" data-sidebar="object">
	<div class="object__title" data-sidebar="title">
		<h4>Kontakt</h4>
	</div>
	<div class="object__content" data-sidebar="content">
		<p>Das ist das Kontakt-Widget für die Sidebar</p>
	</div>
</div>
