.widg_sidebar_contact .object__content {
	img {
		width: 100%;
	}

	img[src*="portrait_foto"] {
		max-width: 480px;
	}

	dl {

		margin-bottom: $basicPush * 2;
		padding-bottom: $basicPush * 2;

		border-bottom: 1px solid $colorGreyHover;

		&:last-of-type {
			margin-bottom: 0;
			padding-bottom: 0;
			border-bottom: 0;
		}

		dd, dt {
			font-weight: 300;
		}

		dd a,
		dt.contact__name {
			font-weight: 600;
			font-size: 1.25rem;

			text-decoration: underline;

			color: $colorTextGrey;
			opacity: 1;

			&:hover {
				color: $colorBlack;
			}
		}
	}
}
