<div class="object__title" data-sidebar="title" data-init="edu_key_datas">
			<h2 id="edu_title" class="edu__title">{{title}}</h2>
</div>
<dl class="edu__key_data">
	{{#each entries}}
		<div class="datas">
			<dt>{{{title}}}</dt>
			<dd>{{{text}}}</dd>
		</div>
	{{/each}}
</dl>
<div class="toggler">
	<a class="show-more button small_button">Mehr anzeigen</a>
</div>
