<div class="widg_somelinks" data-init="somelinks">
  <a href="http://www.xing.com" target="_blank" data-somelink-target="xing"></a>
  <a href="http://www.twitter.com" target="_blank" data-somelink-target="tw"></a>
  <a href="http://www.facebook.com" target="_blank" data-somelink-target="fb"></a>
</div>
