.widg_somelinks {
	margin-top: $basicPush * 4 - 3;

	a {
		width: 35px;
		height: 35px;
		display: block;
		float: left;
		font-size: 1rem;

		background-size: 100% 100%;
		background-repeat: no-repeat;

		margin-right: $basicPush;
		opacity: 1;

		&:last-child {
			margin-right: 0;
		}

		&[data-somelink-target="xing"] {
			@include iconDataurl('xing');

			&:hover {
				@include iconDataurl('xing_hov');
			}
		}

		&[data-somelink-target="tw"] {
			@include iconDataurl('twitter');

			&:hover {
				@include iconDataurl('twitter_hov');
			}
		}

		&[data-somelink-target="fb"] {
			@include iconDataurl('facebook');

			&:hover {
				@include iconDataurl('facebook_hov');
			}
		}
	}

	@include mq($to: small) {
		margin-top: $basicPush;
	}
}
