.widg_somelinks {
  margin-top: $basicPush * 4 - 3;

  a {
	width: 35px;
	height: 35px;
	display: block;
	float: left;

	background-size: 100% 100%;
	background-repeat: no-repeat;

	margin-right: $basicPush;

	&:last-child {
	  margin-right: 0;
	}

	&[data-somelink-target="xing"] {
	  @include iconDataurl('xing');
	}

	&[data-somelink-target="tw"] {
	  @include iconDataurl('twitter');
	}

	&[data-somelink-target="fb"] {
	  @include iconDataurl('facebook');
	}
  }
}
