<div class="widg_somelinks" data-init="somelinks">
  <a href="{{xingURL}}" target="_blank" data-somelink-target="xing"></a>
  <a href="{{twitterURL}}" target="_blank" data-somelink-target="tw"></a>
  <a href="{{fbURL}}" target="_blank" data-somelink-target="fb"></a>
</div>
