{{#extend "layouts/layout"}}
	{{#content "hero"}}
		{{> "widgets/hero/hero" widgets.hero}}
	{{/content}}
	{{#content "content"}}
    <div class="page_content" id="first_page_content">
      <h1>{{title}}</h1>
      <p class="text__lead">
				{{leadText}}
      </p>
			{{> "widgets/mobile_content_navigation/mobile_content_navigation" widgets.mobileContentNavigation}}
      <div class="content__element">
        <p>Im Mittelpunkt steht sowohl die berufliche Integration, als auch die soziale und gesundheitliche Integration von
      	</p>
				<ul>
					<li>erwerbstätigen Personen, die auf Grund von Krankheit oder Unfall in ihrer Leistungserbringung verändert oder beeinträchtigt sind; und</li>
					<li>erwerbsfähigen Personen mit erschwerten Zugängen bei der Erst- und Reintegration in den Arbeitsmarkt; hierzu gehören unter anderem Personen, die erwerbaselos sind, Personen mit Migrationshintergrund, junge Personen mit gesundheitlichen Belastungen, Personen mit Beeinträchtigungen und Behinderungen.</li>
				</ul>
      </div>
			<div class="content__element">
				<h2>Ziele & Nutzen</h2>
				<ul>
          <li>Kenntnisse von lösungs- und ressourcenorientierten Handlungsansätzen, unter anderem von Case Management
            und Coaching-Ansätzen;
          </li>
          <li>Kompetenzen und Fähigkeiten für die Personalarbeit mit Menschen mit gesundheitlichen Beeinträchtigungen
            unter einer spezifischen, eingliederungsorientierten Perspektive;
          </li>
          <li>fundierte Kenntnisse in einem interdisziplinär ausgerichteten Arbeitsfeld, das quer zu traditionellen
            Disziplinen und Arbeitsfeldern liegt;
          </li>
          <li>forschungsbasiertes, theoretisches und praxisbezogenes Wissen für Ihre berufliche Weiterentwicklung und
            Neuorientierung in einem attraktiven und dynamischen Arbeitsfeld;
          </li>
          <li>Zugang zu einem praxisorientierten Netzwerk von Personen und Institutionen, die im Bereich des EM tätig
            sind, unter anderem zu Kolleginnen und Kollegen und zu Dozentinnen und Dozenten mit langjähriger
            Praxiserfahrung;
          </li>
          <li>Kenntnisse über die Entwicklung des Eingliederungsmanagements in der Schweiz und im internationalen Kontext.</li>
				</ul>
			</div>
			<div class="content__element">
				<h2>Zielpublikum</h2>
				<p>Eingliederungsfachpersonen in</p>
				<ul>
          <li>Unternehmen</li>
          <li>Sozialversicherungen, insbesondere IV und RAV</li>
          <li>privaten Versicherung, insbesondere Taggeldversicherungen</li>
          <li>Sozialen Diensten</li>
          <li>Institutionen und Organisationen der Arbeitsintegration</li>
				</ul>
			</div>
			<div class="content__element">
				<h2>Berufsaussichten</h2>
				<p>Diese Weiterbildung befähigt Sie nach Abschluss leute zu betreuen die besondere Bedürfnisse zu ihrer integration in das tägliche Leben haben.</p>
			</div>
			<div class="content__element content__element___borderless only-phone">
				{{> "widgets/sidebar_key_data/sidebar_key_data" widgets.sidebar.widgets.keydata}}
			</div>
      <div class="content__element">
        <h2>Inhaltliche Informationen zum Studium</h2>
				{{> "widgets/accordeon/accordeon" widgets.informationAccordeon}}
      </div>
			<div class="content__element">
				<h2>Organisatorisches</h2>
				{{> "widgets/accordeon/accordeon" widgets.organisationAccordeon}}
			</div>

			<div class="content__element content__element___borderless" id="targetOnlineApplication">
				{{> "widgets/application_accordeon/application_accordeon" widgets.nextCoursesAccordeon }}
			</div>

      <div class="content__element content__element___borderless" id="targetInfoEvents">
				{{> "widgets/info_teaser/info_teaser" widgets.infoEvents }}
      </div>

			<div class="content__element content__element___borderless only-phone">
				{{> "widgets/sidebar_contact/sidebar_contact" widgets.sidebar.widgets.contact}}
			</div>

      <div class="content__element content__element___top-bordered">
        <h2>Querlinks</h2>
				{{> "widgets/extendedlinks/extendedlinks" widgets.querlinks}}
      </div>
    </div>
		{{> "widgets/subnav/subnav" widgets.subnav heroImage=widgets.hero.heroImage}}

		{{> "widgets/sidebar/sidebar" widgets.sidebar}}

    <div class="content__element content__element___bleed content__element___top-bordered" id="locations" style="padding-left:0; padding-right:0; margin-right:-6%; margin-left:-25%;">
		<script src="https://unpkg.com/leaflet@1.3.4/dist/leaflet.js" integrity="sha512-nMMmRyTVoLYqjP9hrbed9S+FzjZHW5gY1TWCHA5ckwXZBadntCNs8kEqAWdrb9O7rxbCaA4lKTIWjDXZxflOcA==" crossorigin=""></script>
	    <script src='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/Leaflet.fullscreen.min.js'></script>
	    <link href='https://api.mapbox.com/mapbox.js/plugins/leaflet-fullscreen/v1.0.1/leaflet.fullscreen.css' rel='stylesheet' />
	    <style>
	        .leaflet-pane,
	        .leaflet-tile,
	        .leaflet-marker-icon,
	        .leaflet-marker-shadow,
	        .leaflet-tile-container,
	        .leaflet-pane>svg,
	        .leaflet-pane>canvas,
	        .leaflet-zoom-box,
	        .leaflet-image-layer,
	        .leaflet-layer {
	            position: absolute;
	            left: 0;
	            top: 0;
	        }

	        .leaflet-container {
	            overflow: hidden;
	        }

	        .leaflet-tile,
	        .leaflet-marker-icon,
	        .leaflet-marker-shadow {
	            -webkit-user-select: none;
	            -moz-user-select: none;
	            user-select: none;
	            -webkit-user-drag: none;
	        }

	        /* Safari renders non-retina tile on retina better with this, but Chrome is worse */
	        .leaflet-safari .leaflet-tile {
	            image-rendering: -webkit-optimize-contrast;
	        }

	        /* hack that prevents hw layers "stretching" when loading new tiles */
	        .leaflet-safari .leaflet-tile-container {
	            width: 1600px;
	            height: 1600px;
	            -webkit-transform-origin: 0 0;
	        }

	        .leaflet-marker-icon,
	        .leaflet-marker-shadow {
	            display: block;
	        }

	        /* .leaflet-container svg: reset svg max-width decleration shipped in Joomla! (joomla.org) 3.x */
	        /* .leaflet-container img: map is broken in FF if you have max-width: 100% on tiles */
	        .leaflet-container .leaflet-overlay-pane svg,
	        .leaflet-container .leaflet-marker-pane img,
	        .leaflet-container .leaflet-shadow-pane img,
	        .leaflet-container .leaflet-tile-pane img,
	        .leaflet-container img.leaflet-image-layer,
	        .leaflet-container .leaflet-tile {
	            max-width: none !important;
	            max-height: none !important;
	        }

	        .leaflet-container.leaflet-touch-zoom {
	            -ms-touch-action: pan-x pan-y;
	            touch-action: pan-x pan-y;
	        }

	        .leaflet-container.leaflet-touch-drag {
	            -ms-touch-action: pinch-zoom;
	            /* Fallback for FF which doesn't support pinch-zoom */
	            touch-action: none;
	            touch-action: pinch-zoom;
	        }

	        .leaflet-container.leaflet-touch-drag.leaflet-touch-zoom {
	            -ms-touch-action: none;
	            touch-action: none;
	        }

	        .leaflet-container {
	            -webkit-tap-highlight-color: transparent;
	        }

	        .leaflet-container a {
	            -webkit-tap-highlight-color: rgba(51, 181, 229, 0.4);
	        }

	        .leaflet-tile {
	            filter: inherit;
	            visibility: hidden;
	        }

	        .leaflet-tile-loaded {
	            visibility: inherit;
	        }

	        .leaflet-zoom-box {
	            width: 0;
	            height: 0;
	            -moz-box-sizing: border-box;
	            box-sizing: border-box;
	            z-index: 8;
	        }

	        /* workaround for https://bugzilla.mozilla.org/show_bug.cgi?id=888319 */
	        .leaflet-overlay-pane svg {
	            -moz-user-select: none;
	        }

	        .leaflet-pane {
	            z-index: 1;
	        }

	        .leaflet-tile-pane {
	            z-index: 200;
	        }

	        .leaflet-overlay-pane {
	            z-index: 200;
	        }

	        .leaflet-shadow-pane {
	            z-index: 500;
	        }

	        .leaflet-marker-pane {
	            z-index: 600;
	        }

	        .leaflet-tooltip-pane {
	            z-index: 650;
	        }

	        .leaflet-popup-pane {
	            z-index: 700;
	        }

	        .leaflet-map-pane canvas {
	            z-index: 100;
	        }

	        .leaflet-map-pane svg {
	            z-index: 200;
	        }

	        .leaflet-vml-shape {
	            width: 1px;
	            height: 1px;
	        }

	        .lvml {
	            behavior: url(#default#VML);
	            display: inline-block;
	            position: absolute;
	        }


	        /* control positioning */

	        .leaflet-control {
	            position: relative;
	            z-index: 800;
	            pointer-events: visiblePainted;
	            /* IE 9-10 doesn't have auto */
	            pointer-events: auto;
	        }

	        .leaflet-top,
	        .leaflet-bottom {
	            position: absolute;
	            z-index: 10;
	            pointer-events: none;
	        }

	        .leaflet-top {
	            top: 0;
	        }

	        .leaflet-right {
	            right: 0;
	        }

	        .leaflet-bottom {
	            bottom: 0;
	        }

	        .leaflet-left {
	            left: 0;
	        }

	        .leaflet-control {
	            float: left;
	            clear: both;
	        }

	        .leaflet-right .leaflet-control {
	            float: right;
	        }

	        .leaflet-top .leaflet-control {
	            margin-top: 10px;
	        }

	        .leaflet-bottom .leaflet-control {
	            margin-bottom: 10px;
	        }

	        .leaflet-left .leaflet-control {
	            margin-left: 10px;
	        }

	        .leaflet-right .leaflet-control {
	            margin-right: 10px;
	        }


	        /* zoom and fade animations */

	        .leaflet-fade-anim .leaflet-tile {
	            will-change: opacity;
	        }

	        .leaflet-fade-anim .leaflet-popup {
	            opacity: 0;
	            -webkit-transition: opacity 0.2s linear;
	            -moz-transition: opacity 0.2s linear;
	            transition: opacity 0.2s linear;
	        }

	        .leaflet-fade-anim .leaflet-map-pane .leaflet-popup {
	            opacity: 1;
	        }

	        .leaflet-zoom-animated {
	            -webkit-transform-origin: 0 0;
	            -ms-transform-origin: 0 0;
	            transform-origin: 0 0;
	        }

	        .leaflet-zoom-anim .leaflet-zoom-animated {
	            will-change: transform;
	        }

	        .leaflet-zoom-anim .leaflet-zoom-animated {
	            -webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
	            -moz-transition: -moz-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
	            transition: transform 0.25s cubic-bezier(0, 0, 0.25, 1);
	        }

	        .leaflet-zoom-anim .leaflet-tile,
	        .leaflet-pan-anim .leaflet-tile {
	            -webkit-transition: none;
	            -moz-transition: none;
	            transition: none;
	        }

	        .leaflet-zoom-anim .leaflet-zoom-hide {
	            visibility: hidden;
	        }


	        /* cursors */

	        .leaflet-interactive {
	            cursor: pointer;
	        }

	        .leaflet-grab {
	            cursor: -webkit-grab;
	            cursor: -moz-grab;
	            cursor: grab;
	        }

	        .leaflet-crosshair,
	        .leaflet-crosshair .leaflet-interactive {
	            cursor: crosshair;
	        }

	        .leaflet-popup-pane,
	        .leaflet-control {
	            cursor: auto;
	        }

	        .leaflet-dragging .leaflet-grab,
	        .leaflet-dragging .leaflet-grab .leaflet-interactive,
	        .leaflet-dragging .leaflet-marker-draggable {
	            cursor: move;
	            cursor: -webkit-grabbing;
	            cursor: -moz-grabbing;
	            cursor: grabbing;
	        }

	        /* marker & overlays interactivity */
	        .leaflet-marker-icon,
	        .leaflet-marker-shadow,
	        .leaflet-image-layer,
	        .leaflet-pane>svg path,
	        .leaflet-tile-container {
	            pointer-events: none;
	        }

	        .leaflet-marker-icon.leaflet-interactive,
	        .leaflet-image-layer.leaflet-interactive,
	        .leaflet-pane>svg path.leaflet-interactive {
	            pointer-events: visiblePainted;
	            /* IE 9-10 doesn't have auto */
	            pointer-events: auto;
	        }

	        /* visual tweaks */

	        .leaflet-container {
	            background: #ddd;
	            outline: 0;
	        }

	        .leaflet-container a {
	            color: #0078A8;
	        }

	        .leaflet-container a.leaflet-active {
	            outline: 2px solid orange;
	        }

	        .leaflet-zoom-box {
	            border: 2px dotted #38f;
	            background: rgba(255, 255, 255, 0.5);
	        }


	        /* general typography */
	        .leaflet-container {
	            font: inherit;
	        }


	        /* general toolbar styles */

	        .leaflet-bar {
	            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.65);
	        }

	        .leaflet-bar a {
	            background-color: #000;
	            border-bottom: 1px solid #ccc;
	            width: 26px;
	            height: 26px;
	            line-height: 26px;
	            display: block;
	            text-align: center;
	            text-decoration: none;
	            color: #fff;
	        }

	        a.leaflet-control-zoom-in:hover {
	            background: #fde70e;
	            color: #000;
	        }

	        .leaflet-bar a,
	        .leaflet-control-layers-toggle {
	            background-position: 50% 50%;
	            background-repeat: no-repeat;
	            display: block;
	        }

	        .leaflet-bar a:hover {
	            background-color: #fde70e;
	        }

	        .leaflet-bar a:first-child {}

	        .leaflet-bar a:last-child {
	            border-bottom: none;
	        }

	        .leaflet-bar a.leaflet-disabled {
	            cursor: default;
	            background-color: #f4f4f4;
	            color: #bbb;
	        }

	        a.leaflet-control-zoom-in:hover,
	        a.leaflet-control-zoom-out:hover {
	            background: #fde70e;
	            color: #000;
	        }

	        .leaflet-touch .leaflet-bar a {
	            width: 30px;
	            height: 30px;
	            line-height: 30px;
	        }

	        /* zoom control */

	        .leaflet-control-zoom-in,
	        .leaflet-control-zoom-out {
	            font: inherit;
	            text-indent: 1px;
	        }

	        .leaflet-control-zoom-out {
	            font-size: 20px;
	        }

	        .leaflet-touch .leaflet-control-zoom-in {
	            font-size: 22px;
	        }

	        .leaflet-touch .leaflet-control-zoom-out {
	            font-size: 24px;
	        }

	        /* layers control */

	        .leaflet-control-layers {
	            box-shadow: 0 1px 5px rgba(0, 0, 0, 0.4);
	            background: #fff;
	        }

	        .leaflet-control-layers-toggle {
	            background-image: url("https://unpkg.com/leaflet@1.3.4/dist/images/layers.png");
	            width: 36px;
	            height: 36px;
	        }

	        .leaflet-retina .leaflet-control-layers-toggle {
	            background-image: url("https://unpkg.com/leaflet@1.3.4/dist/images/layers-2x.png");
	            background-size: 26px 26px;
	        }

	        .leaflet-touch .leaflet-control-layers-toggle {
	            width: 44px;
	            height: 44px;
	        }

	        .leaflet-control-layers .leaflet-control-layers-list,
	        .leaflet-control-layers-expanded .leaflet-control-layers-toggle {
	            display: none;
	        }

	        .leaflet-control-layers-expanded .leaflet-control-layers-list {
	            display: block;
	            position: relative;
	        }

	        .leaflet-control-layers-expanded {
	            padding: 6px 10px 6px 6px;
	            color: #333;
	            background: #fff;
	        }

	        .leaflet-control-layers-scrollbar {
	            overflow-y: scroll;
	            overflow-x: hidden;
	            padding-right: 5px;
	        }

	        .leaflet-control-layers-selector {
	            margin-top: 2px;
	            position: relative;
	            top: 1px;
	        }

	        .leaflet-control-layers label {
	            display: block;
	        }

	        .leaflet-control-layers-separator {
	            height: 0;
	            border-top: 1px solid #ddd;
	            margin: 5px -10px 5px -6px;
	        }

	        /* Default icon URLs */
	        .leaflet-default-icon-path {
	            background-image: url("https://unpkg.com/leaflet@1.3.4/dist/images/marker-icon.png");
	        }


	        /* attribution and scale controls */

	        .leaflet-container .leaflet-control-attribution {
	            background: #fff;
	            background: rgba(255, 255, 255, 0.7);
	            margin: 0;
	        }

	        .leaflet-control-attribution,
	        .leaflet-control-scale-line {
	            padding: 0 5px;
	            color: #333;
	        }

	        .leaflet-control-attribution a {
	            text-decoration: none;
	        }

	        .leaflet-control-attribution a:hover {
	            text-decoration: underline;
	        }

	        .leaflet-container .leaflet-control-attribution,
	        .leaflet-container .leaflet-control-scale {
	            font-size: 11px;
	        }

	        .leaflet-left .leaflet-control-scale {
	            margin-left: 5px;
	        }

	        .leaflet-bottom .leaflet-control-scale {
	            margin-bottom: 5px;
	        }

	        .leaflet-control-scale-line {
	            border: 2px solid #777;
	            border-top: none;
	            line-height: 1.1;
	            padding: 2px 5px 1px;
	            font-size: 11px;
	            white-space: nowrap;
	            overflow: hidden;
	            -moz-box-sizing: border-box;
	            box-sizing: border-box;

	            background: #fff;
	            background: rgba(255, 255, 255, 0.5);
	        }

	        .leaflet-control-scale-line:not(:first-child) {
	            border-top: 2px solid #777;
	            border-bottom: none;
	            margin-top: -2px;
	        }

	        .leaflet-control-scale-line:not(:first-child):not(:last-child) {
	            border-bottom: 2px solid #777;
	        }

	        .leaflet-touch .leaflet-control-attribution,
	        .leaflet-touch .leaflet-control-layers,
	        .leaflet-touch .leaflet-bar {
	            box-shadow: none;
	        }

	        .leaflet-touch .leaflet-control-layers,
	        .leaflet-touch .leaflet-bar {
	            /* border: 2px solid rgba(0,0,0,0.2); */
	            background-clip: padding-box;
	            /* background: black; */
	        }


	        /* popup */

	        .leaflet-popup {
	            position: absolute;
	            text-align: center;
	            margin-bottom: 20px;
	        }

	        .leaflet-popup-content-wrapper {
	            padding: 1px;
	            text-align: left;
	        }

	        .leaflet-popup-content {
	            margin: 30px 30px 50px;
	            line-height: 1.4;
	        }

	        .leaflet-popup-content p {
	            margin: 18px 0;
	        }

	        .leaflet-popup-tip-container {
	            display: none;
	        }

	        .leaflet-popup-tip {
	            width: 17px;
	            height: 17px;
	            padding: 1px;

	            margin: -10px auto 0;

	            -webkit-transform: rotate(45deg);
	            -moz-transform: rotate(45deg);
	            -ms-transform: rotate(45deg);
	            transform: rotate(45deg);
	        }

	        .leaflet-popup-content-wrapper,
	        .leaflet-popup-tip {
	            background: white;
	            color: #333;
	            box-shadow: 0 3px 14px rgba(0, 0, 0, 0.4);
	        }

	        .leaflet-container a.leaflet-popup-close-button {
	            position: absolute;
	            top: 0;
	            right: 0;
	            padding: 4px 4px 0 0;
	            border: none;
	            text-align: center;
	            width: 18px;
	            height: 14px;
	            font: 16px/14px Tahoma, Verdana, sans-serif;
	            color: #c3c3c3;
	            text-decoration: none;
	            font-weight: bold;
	            background: transparent;
	        }

	        .leaflet-container a.leaflet-popup-close-button:hover {
	            color: #999;
	        }

	        .leaflet-popup-scrolled {
	            overflow: auto;
	            border-bottom: 1px solid #ddd;
	            border-top: 1px solid #ddd;
	        }

	        .leaflet-oldie .leaflet-popup-content-wrapper {
	            zoom: 1;
	        }

	        .leaflet-oldie .leaflet-popup-tip {
	            width: 24px;
	            margin: 0 auto;

	            -ms-filter: "progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678)";
	            filter: progid:DXImageTransform.Microsoft.Matrix(M11=0.70710678, M12=0.70710678, M21=-0.70710678, M22=0.70710678);
	        }

	        .leaflet-oldie .leaflet-popup-tip-container {
	            margin-top: -1px;
	        }

	        .leaflet-oldie .leaflet-control-zoom,
	        .leaflet-oldie .leaflet-control-layers,
	        .leaflet-oldie .leaflet-popup-content-wrapper,
	        .leaflet-oldie .leaflet-popup-tip {
	            border: 1px solid #999;
	        }


	        /* div icon */

	        .leaflet-div-icon {
	            background: #fff;
	            border: 1px solid #666;
	        }


	        /* Tooltip */
	        /* Base styles for the element that has a tooltip */
	        .leaflet-tooltip {
	            position: absolute;
	            padding: 6px;
	            background-color: #fff;
	            border: 1px solid #fff;
	            color: #222;
	            white-space: nowrap;
	            -webkit-user-select: none;
	            -moz-user-select: none;
	            -ms-user-select: none;
	            user-select: none;
	            pointer-events: none;
	            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4);
	        }

	        .leaflet-tooltip.leaflet-clickable {
	            cursor: pointer;
	            pointer-events: auto;
	        }

	        .leaflet-tooltip-top:before,
	        .leaflet-tooltip-bottom:before,
	        .leaflet-tooltip-left:before,
	        .leaflet-tooltip-right:before {
	            position: absolute;
	            pointer-events: none;
	            border: 6px solid transparent;
	            background: transparent;
	            content: "";
	        }

	        /* Directions */

	        .leaflet-tooltip-bottom {
	            margin-top: 6px;
	        }

	        .leaflet-tooltip-top {
	            margin-top: -6px;
	        }

	        .leaflet-tooltip-bottom:before,
	        .leaflet-tooltip-top:before {
	            left: 50%;
	            margin-left: -6px;
	        }

	        .leaflet-tooltip-top:before {
	            bottom: 0;
	            margin-bottom: -12px;
	            border-top-color: #fff;
	        }

	        .leaflet-tooltip-bottom:before {
	            top: 0;
	            margin-top: -12px;
	            margin-left: -6px;
	            border-bottom-color: #fff;
	        }

	        .leaflet-tooltip-left {
	            margin-left: -6px;
	        }

	        .leaflet-tooltip-right {
	            margin-left: 6px;
	        }

	        .leaflet-tooltip-left:before,
	        .leaflet-tooltip-right:before {
	            top: 50%;
	            margin-top: -6px;
	        }

	        .leaflet-tooltip-left:before {
	            right: 0;
	            margin-right: -12px;
	            border-left-color: #fff;
	        }

	        .leaflet-tooltip-right:before {
	            left: 0;
	            margin-left: -12px;
	            border-right-color: #fff;
	        }

	        #mapid {
	            padding-left: 0 !important;
	            padding-right: 0 !important;
	            margin-top: 0;
	        }
	    </style>
	</head>

	<body>
	    <div id="mapid" style="height: 600px; width:100%;"></div>


	    <script>
	        //var map = L.map('mapid').setView([47.481721, -8.211363], 13);
	        var map = L.map('mapid', {
	            zoom: 1,
	            minZoom: 1,
	            maxZoom: 20,
	            zoomControl: false,
	            attributionControl: true
	        }).setView([47.481000, 8.2120], 15);

	        // DEFINE MARKER ICON
	        var LeafIcon = L.Icon.extend({
	            options: {
	                shadowUrl: 'https://www.fhnw.ch/++theme++web16theme/assets/media/img/maps_marker.png',
	                iconSize: [104, 86],
	                iconAnchor: [104, 86],
	                popupAnchor: [-400, 200]
	            }
	        });
	        var fhnwIcon = new LeafIcon({
	            iconUrl: 'https://www.fhnw.ch/++theme++web16theme/assets/media/img/maps_marker.png'
	        });

	        L.icon = function(options) {
	            return new L.Icon(options);
	        };
	        // END MARKER Icon

	        //add zoom control with your options
	        L.control.zoom({
	            position: 'bottomright'
	        }).addTo(map);

	        // fullscreenContro
	        L.control.fullscreen({
	            position: 'topright'
	        }).addTo(map);

	        L.tileLayer('http://86.119.28.228/hot/{z}/{x}/{y}.png', {
	            attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, ' +
	                '<a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, ' +
	                'Imagery Â© <a href="https://www.mapbox.com/">Mapbox</a>'
	        }).addTo(map);

	        L.marker([47.481000, 8.2120], {
	                icon: fhnwIcon
	        }).addTo(map)
	        .bindPopup("<h3>Hochschule für Architektur, Bau und Geomatik FHNW</h3><strong>Fachhochschule Nordwestschweiz FHNW</strong><p>Hochschule für Architektur, Bau und Geomatik<br />" +
	                "Hofackerstrasse 30<br />4132 Muttenz</p><div class=\"location__inferior\">" +
	                "<a href=\"https://www.google.ch/maps/dir//,Hofackerstrasse+30,4132+Muttenz/@47.531359,7.636526,18z\" target=\"_blank\" tabindex=\"0\"><span>Route berechnen</span></a></div>")
	        .openPopup();
	    </script>

    </div>
	{{/content}}
{{/extend}}
