.widg_application_accordeon {
	.button__apply {
		@include mq($to: medium) {
			display: none;
		}
	}

	a.button.mini_button.button__apply {
		// #842 - shrink button
		max-width: 160px;
		line-height: 1;
		display: flex;
		align-items: center;
		height: auto;
		min-height: 45px;
		padding-top: 5px;
		padding-bottom: 5px;
		cursor: pointer;
	}

	.widg_accordeon__content {
		dt,
		dd {
			border-bottom: none;
		}

		dl > div {
			@include clearfix();
			border-bottom: 1px solid $colorGreyHover;
		}

		p {
			font-size: 1.25rem;
		}

		.ical {
			font-weight: 600;

			display: inline-block;
			margin-left: 14px;

			@include iconDataurl('ical');

			&:before {
				width: 20px;
				height: 18px;

				vertical-align: middle;
				transform: translateY(-1px);
				margin-right: 8px;
			}
		}

		.button__apply___inside {
			/*display: none;*/

			@include mq($to: medium) {
				display: inline-block;
			}
		}
	}
}
