.widg_application_accordeon {

	.widg_accordeon__button {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.widg_accordeon_item {
		display: flex;
		flex-direction: row;
		justify-content: space-between;
		align-items: center;
		background: #F1F1EE;
	  	padding: 10px;
	    gap: 1rem;
	  	min-height: buttonHeight(desktop);
	  	transition: all $transitionLength / 6 $transitionEase;

	  	@include mq($to: medium) {
			min-height: buttonHeight(mobile);
		}
	}


	.event_location {
	  	font-size: 1.333rem;
	  	font-weight: 700;
	}

	.availability {
	  	flex-shrink: 0;
	  	flex-grow: 0;
	  	width: 18px;
	  	height: 18px;
	  	border-radius: 50%;
	  	background-color: $colorBlack;
	  	content: " ";

		&.state-red {
			background-color: $colorAvailabilityRed;
		}

		&.state-green {
			background-color: $colorAvailabilityGreen;
		}
	}

	.event_location {
		flex: 10;
	}

	.widg_accordoen_location {
		flex: 5;
	  	font-weight: 100;
	}

	.widg_accordeon_btn {
	  	flex-shrink: 1;
		background-color: $colorBlack;
	  	padding: 0px 30px;
	  	min-height: 45px;
	  	display: flex;
	  	align-items: center;

		&:disabled,
		&.disabled,
		&[disabled="disabled"] {
			opacity: 0.4;
			color: $colorBg;

		  	a {
			  	pointer-events: none;
			}
		}

		a {
			color: $colorBg;
			font-size: 1.25rem;
			text-decoration: none;
			opacity: 1;
			font-weight: 600;
		}
	}

  	.widg_accordeon__more {
	  	@include iconDataurl('accordeon_close_grey', $after: true);

	  	&:after {
		  	height: 12px;
		  	width: 12px;
		  	transition: transform $transitionLength / 2 $transitionEase;
			vertical-align: middle;
		  	transform: rotate(45deg);
		}

	}

  	.widg_accordeon__entry.is_open > .widg_accordeon_item {
		background-color: $colorYellowAccordeonActive;
		color: $colorBlack;

		&:hover {
			background-color: $colorYellowAccordeonActive;
		}

	  	.widg_accordeon__more:after {
		  	transform: rotate(90deg)
		}
	}

	.button__apply {
		@include mq($to: medium) {
			display: none;
		}
	}

	a.button.mini_button.button__apply {
			cursor: pointer;
	}

	.widg_accordeon__content {
		dt,
		dd {
			border-bottom: none;

			@media print {
				display: block;
				float: left;
				width: 50%;
				font-size: 10pt;
			}
		}

		dl > div {
			@include clearfix();
			border-bottom: 1px solid $colorGreyHover;
		}

		p {
			font-size: 1.25rem;
		}

		.ical {
			font-weight: 600;

			display: inline-block;
			margin-left: 14px;

			@include iconDataurl('ical');

			&:before {
				width: 20px;
				height: 18px;

				vertical-align: middle;
				transform: translateY(-1px);
				margin-right: 8px;
			}

			@media print {
				display: none;
			}
		}

		.button__apply___inside {
			/*display: none;*/

			@include mq($to: medium) {
				display: inline-block;
			}
		}

		@media print {
			display: block;
			width: 100%;
			margin-bottom: 5pt;
		}
	}
}
