{{#extend "layouts/layout" pageTypeClass="search-page"}}
  {{#content "content"}}
	<h1 id="search-title" data-searchpage="title">{{title}}</h1>
    <div class="widg_svelte_searchpage"></div>
  {{/content}}
{{/extend}}
