.widg_navigation_meta {
	@include defaultElementHeight();
	@include contentWrapper();

	div {
		@include span(1.85);

		font-weight: 700;
		font-size: 1.25rem;
		padding-left: $basicPush * 5.5;

		position: relative;

		@include iconDataurl('fhnw_claim_only');

		&:before {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
		}

		@include mq($to: betweener) {
			@include span(12);

			padding-left: $basicPush * 5.5;
		}
	}

	ul {
		@include span(10);

		@include mq($to: medium) {
			@include span(12);
			padding: 0 0 $basicPush * 1.5 0;
		}

		li {
			display: inline-block;

			@include mq($to: medium) {
				line-height: 1;
				height: auto;

				display: block;
				float: left;
			}

			a{
				display: block;

				@include defaultElementHeight();
				padding: 0 $gutterWidth/2;
				font-size: 1.25rem;

				color: $colorTextGrey;
				text-decoration: none;

				&:hover {
					color: $colorBlack;
				}

				@include mq($to: medium) {
					height: auto;
					line-height: 1;
					padding: 6px 0;
					font-size: 1.083333rem;

					margin-right: $basicPush;
				}
			}
		}
	}
}
