.widg_navigation_meta {
	@include defaultElementHeight();
	@include contentWrapper();

	div {
		@include span(2);

		font-weight: 700;
		font-size: 1.25rem;
		padding-left: $basicPush * 5.5;

		position: relative;

		@include iconDataurl('fhnw_claim_only');

		&:before {
			position: absolute;
			top: 50%;
			transform: translateY(-50%);
			left: 0;
		}
	}

	ul {
		@include span(10);

		li {
			display: inline-block;

			a{
				display: block;

				@include defaultElementHeight();
				padding: 0 $gutterWidth/2;
				font-size: 1.25rem;

				color: $colorTextGrey;
				text-decoration: none;

				&:hover {
					color: $colorBlack;
				}
			}
		}
	}
}
