<div class="widg_navigation_meta">
	<div class="widg_navigation_meta__copyright">
		&copy; 2017
	</div>
	<ul>
		{{#each entries}}
			<li><a href="{{url}}">{{title}}</a></li>
		{{/each}}
	</ul>
</div>
