.widg_navigation_meta {
	float: right;

	li {
		display: inline-block;
	}

	a {
		text-decoration: none;
		color: $colorDarkGrey;
		margin-left: pxToEm(15);

		&:hover,
		&:focus {
			border-bottom: 2px solid $colorYellow;
		}
	}

	@include mq($from: medium) {

		a {
			padding-bottom: pxToEm(20);
		}
	}

}
