{{#extend "layouts/layout" pageTypeClass="full-width-page"}}
	{{#content "hero"}}
		{{> "widgets/hero/hero" widgets.hero}}
	{{/content}}
	{{#content "content"}}
    <div class="page_content">
      <h1>{{title}}</h1>
      <p class="text__lead">
				{{leadText}}
      </p>
			<div class="content__element has_grid">
				{{> "widgets/teaser/teaser" widgets.teaser}}
			</div>
    </div>
	{{/content}}
{{/extend}}
