.widg_edu_events {
	ul {
		@include resetList();

		li {
			margin: 0 -1 * $sidebarObjectGutter;
			padding: 10px $sidebarObjectGutter 0;

			a {
				display: block;

				font-size: 1.25rem;
			}

			&:last-of-type {
				a {
					border-bottom: none;
				}
			}
		}
	}

	.event__title {
		font-size: 1.25rem;
		display: block;

		color: $colorBlack;
		font-weight: 600;
	}

	.event__date-location {
		color: $colorText;

		font-size: 1.083333rem;
	}

	.button {
		margin-top: 20px;
	}
}
