.widg_toplink {
	@include iconDataurl('top-link');

	position: fixed;
	bottom: 40px;
	right: 40px;


	z-index: zindex(topLink);
	opacity: 0;
	transition: opacity $transitionLength / 2 $transitionEase;

	&:before {
		background-size: 100% 100%;

		width: 51px;
		height: 51px;
	}


	&.is_visible {
		opacity: 0.4;
	}

	&:hover {
		cursor: pointer;
		opacity: 1;
	}

	@media print {
		display: none;
	}

}
