{{#extend "layouts/layout"}}
	{{#content "hero"}}
		{{> "widgets/hero/hero" widgets.hero}}
	{{/content}}
	{{#content "content"}}
    <div class="page_content">
      <h1>{{title}}</h1>
      <p class="text__lead">
				{{leadText}}
      </p>
			{{> "widgets/mobile_content_navigation/mobile_content_navigation" widgets.mobileContentNavigation}}
      <div class="content__element">
        <p>Im Mittelpunkt steht sowohl die berufliche Integration, als auch die soziale und gesundheitliche Integration von
      	</p>
				<ul>
					<li>erwerbstätigen Personen, die auf Grund von Krankheit oder Unfall in ihrer Leistungserbringung verändert oder beeinträchtigt sind; und</li>
					<li>erwerbsfähigen Personen mit erschwerten Zugängen bei der Erst- und Reintegration in den Arbeitsmarkt; hierzu gehören unter anderem Personen, die erwerbslos sind, Personen mit Migrationshintergrund, junge Personen mit gesundheitlichen Belastungen, Personen mit Beeinträchtigungen und Behinderungen.</li>
				</ul>
      </div>
			<div class="content__element">
				<h2>Ziele & Nutzen</h2>
				<ul>
          <li>Kenntnisse von lösungs- und ressourcenorientierten Handlungsansätzen, unter anderem von Case Management
            und Coaching-Ansätzen;
          </li>
          <li>Kompetenzen und Fähigkeiten für die Personalarbeit mit Menschen mit gesundheitlichen Beeinträchtigungen
            unter einer spezifischen, eingliederungsorientierten Perspektive;
          </li>
          <li>fundierte Kenntnisse in einem interdisziplinär ausgerichteten Arbeitsfeld, das quer zu traditionellen
            Disziplinen und Arbeitsfeldern liegt;
          </li>
          <li>forschungsbasiertes, theoretisches und praxisbezogenes Wissen für Ihre berufliche Weiterentwicklung und
            Neuorientierung in einem attraktiven und dynamischen Arbeitsfeld;
          </li>
          <li>Zugang zu einem praxisorientierten Netzwerk von Personen und Institutionen, die im Bereich des EM tätig
            sind, unter anderem zu Kolleginnen und Kollegen und zu Dozentinnen und Dozenten mit langjähriger
            Praxiserfahrung;
          </li>
          <li>Kenntnisse über die Entwicklung des Eingliederungsmanagements in der Schweiz und im internationalen Kontext.</li>
				</ul>
			</div>
			<div class="content__element">
				<h2>Zielpublikum</h2>
				<p>Eingliederungsfachpersonen in</p>
				<ul>
          <li>Unternehmen</li>
          <li>Sozialversicherungen, insbesondere IV und RAV</li>
          <li>privaten Versicherung, insbesondere Taggeldversicherungen</li>
          <li>Sozialen Diensten</li>
          <li>Institutionen und Organisationen der Arbeitsintegration</li>
				</ul>
			</div>
			<div class="content__element">
				<h2>Berufsaussichten</h2>
				<p>Diese Weiterbildung befähigt Sie nach Abschluss leute zu betreuen die besondere Bedürfnisse zu ihrer integration in das tägliche Leben haben.</p>
			</div>
			<div class="content__element content__element___borderless only-phone">
				{{> "widgets/sidebar_key_data/sidebar_key_data" widgets.sidebar.widgets.keydata}}
			</div>
      <div class="content__element">
        <h2>Inhaltliche Informationen zum Studium</h2>
				{{> "widgets/accordeon/accordeon" widgets.informationAccordeon}}
      </div>
			<div class="content__element">
				<h2>Organisatorisches</h2>
				{{> "widgets/accordeon/accordeon" widgets.organisationAccordeon}}
			</div>

			<div class="content__element content__element___bordered" id="targetOnlineApplication">
				<h2>Anmeldung</h2>
				<p>Melden Sie sich lorem ispum dolor nächste Durchführungen:</p>
				{{> "widgets/application_accordeon/application_accordeon" widgets.nextCoursesAccordeon }}
			</div>

      <div class="content__element content__element___bordered" id="targetInfoEvents">
        <h2>Informationsveranstaltungen</h2>
				{{> "widgets/info_teaser/info_teaser" widgets.infoEvents }}
      </div>

			<div class="content__element content__element___borderless only-phone">
				{{> "widgets/sidebar_contact/sidebar_contact" widgets.sidebar.widgets.contact}}
			</div>
    </div>
		{{> "widgets/subnav/subnav" widgets.subnav heroImage=widgets.hero.heroImage}}

		{{> "widgets/sidebar/sidebar" widgets.sidebar}}

    <div class="page_content">
      <div class="content__element content__element___top-bordered">
        <h2>Querlinks</h2>
				{{> "widgets/extendedlinks/extendedlinks" widgets.querlinks}}
      </div>
    </div>

    <div class="content__element content__element___bleed" id="locations">
      <div class="bleed__inner site-has-sidebar">
        <h2>Durchführungsorte</h2>
        <p>Der Studiengang wird am Standort Olten und Brugg durchgeführt. Lorem ipsum dolor vanitas carpe diem memento mori.</p>
      </div>
			{{> "widgets/location_slider/location_slider" widgets.locationSlider}}
      <div class="only-phone">
				{{> "widgets/accordeon/accordeon" widgets.locationAccordeon }}
      </div>
    </div>
	{{/content}}
{{/extend}}
