<div class="widg_accordeon" data-init="accordeon">
	{{#each entries}}
		<div class="widg_accordeon__entry">
			<a href="#">
				{{title}}
			</a>
			<div class="widg_accordeon__content">
				{{content}}
			</div>
		</div>
	{{/each}}
</div>
