<div class="widg_accordeon" data-init="accordeon">
	{{#each entries}}
		<div class="widg_accordeon__entry" data-accordeon="entry">
			<a href="#" data-accordeon="button">
				{{title}}
			</a>
			<div class="widg_accordeon__content" aria-hidden="true" data-accordeon="content">
				<p>{{accordeonContent}}</p>
			</div>
		</div>
	{{/each}}
</div>
