$colorAvailabilityGreen: #7fca26;
$colorAvailabilityRed: #f05f1b;

.widg_accordeon,
.widg_application_accordeon {
	fieldset {
		border: none;
		border-bottom: 1px solid $colorBlack;

		&:last-of-type {
			border-bottom: none;
		}

		button {

		}
	}
}

.widg_accordeon__entry {
	border-bottom: 1px solid $colorGreyHover;
	overflow: hidden;

	&:last-of-type {
		border-bottom: none;
	}

	> button,
	> div > button[data-accordeon="button"],
	> div > button[data-application-accordeon="button"] {
		@include noStyledButton;

		width: 100%;
		max-width: none;

		min-height: buttonHeight(desktop);
		display: block;

		font-size: 1.5rem;

		padding: ($gutterWidth - 4) $gutterWidth + 2;
		position: relative;

		opacity: 1;
		text-decoration: none;
		font-weight: 700;

		margin: 0;

		&:hover {
			background-color: $colorLightGray;
		}

		@include mq($to: medium) {
			min-height: buttonHeight(mobile);
			padding-top: $gutterWidth/2;
			padding-bottom: $gutterWidth/2;
		}
	}

	> button,
	> div > button[data-application-accordeon="button"]{
		@include iconDataurl('accordeon_close', $after: true);

		line-height: 2;

		&:after {
			position: absolute;
			content: " ";
			display: block;

			transition: transform $transitionLength / 2 $transitionEase;

			top: 50%;
			transform: translateY(-50%) rotate(45deg);

			width: 12px;
			height: 12px;

			right: $gutterWidth;

		}
	}

	> div > button[data-accordeon="button"],
	> div > button[data-application-accordeon="button"] {

		font-size: 1.5rem;
		line-height: 1.8;
		font-weight: 400;
		padding-top: 23px;
		padding-bottom: 13px;

		.button__date,
		.button__availability,
		.button__location {
			width: 20%;
			display: block;
			float: left;
		}

		.button__availability {
			text-align: right;

			&:after {
				display: block;
				content: " ";
				float: right;

				width: 20px;
				height: 20px;

				border-radius: 50%;
				background-color: $colorBlack;

				margin-left: 8px;
				transform: translateY(6px);
			}

			&.state-red:after {
				background-color: $colorAvailabilityRed;
			}

			&.state-green:after {
				background-color: $colorAvailabilityGreen;
			}
		}

		&:before,
		&:after {
			margin-left: $gutterWidth + 6;
		}

		.button__date {
			font-weight: 700;

			text-align: left;
		}

		a.button {
			margin-top: -11.5px;
			transform: translateY(-3px);

			margin-left: $basicPush * 4;
		}
	}

	&.is_open > button,
	&.is_open > div > button[data-accordeon="button"],
	&.is_open > div > button[data-application-accordeon="button"] {
		background-color: $colorYellowAccordeonActive;

		&:hover {
			background-color: $colorYellowAccordeonActive;
		}
	}

	&.is_open > button,
	&.is_open > div > button[data-application-accordeon="button"]{
		&:after {
			transform: translateY(-50%) rotate(90deg);
		}
	}
}

div.widg_accordeon__button {
	min-height: buttonHeight(desktop);

	line-height: 0;

	> input[type="radio"] {
		display: block;
	}

	@include mq($to: medium) {
		min-height: buttonHeight(mobile);
	}
}

.widg_accordeon__content {
	display: none;
	padding: 0 $gutterWidth + 2 $gutterWidth $gutterWidth + 2;

	.is_open & {
		display: none;
	}

	dl {
		@include clearfix();
	}

	dt,
	dd {
		font-size: 1.5rem;
		margin-left: 0;
		width: 50%;

		float: left;

		border-bottom: 1px solid $colorGreyHover;
		padding: 14px 0;

		&:last-of-type {
			border-bottom: none;
		}
	}

	dt {
		font-weight: 700;
	}

	dd {
		text-align: right;
	}

	> h3,
	> p,
	> div,
	> dl {
		padding-top: 10px;
	}
}
