.widg_accordeon {
	fieldset {
		border: none;
		border-bottom: 1px solid $colorBlack;

		&:last-of-type {
			border-bottom: none;
		}

		button {

		}
	}
}

.widg_accordeon__entry {
	border-bottom: 1px solid $colorGreyHover;
	overflow: hidden;

	&:last-of-type {
		border-bottom: none;
	}


	> a,
	> div > label[data-accordeon="button"] {

		min-height: buttonHeight(desktop);
		display: block;

		padding: ($gutterWidth - 4) $gutterWidth + 2;
		position: relative;

		opacity: 1;
		text-decoration: none;
		font-weight: 700;

		margin: 0;

		&:hover {
			background-color: $colorLightGray;
		}

		@include mq($to: medium) {
			min-height: buttonHeight(mobile);
			padding-top: $gutterWidth/2;
			padding-bottom: $gutterWidth/2;
		}
	}

	> a {
		@include iconDataurl('accordeon_close', $after: true);

		line-height: 2;

		&:after {
			position: absolute;
			content: " ";
			display: block;

		  	transition: transform $transitionLength / 2 $transitionEase;

			top: 50%;
			transform: translateY(-50%) rotate(45deg);

			width: 12px;
			height: 12px;

			right: $gutterWidth;

		}
	}

	> div > label[data-accordeon="button"] {
		padding-left: $basicPush * 3.1 + 18;
		padding-right: $gutterWidth + 6;

		font-size: 1.5rem;
		line-height: 1.8;
		font-weight: 400;

		.button__date,
		.button__availability,
		.button__location {
			width: 20%;
			display: block;
			float: left;
		}

		.button__availability {
			text-align: right;
		}

		&:before,
		&:after {
			margin-left: $gutterWidth + 6;
		}

		.button__date {
			font-weight: 700;
			width: 60%;

			text-align: left;
		}
	}

	&.is_open > a,
	&.is_open > div > label[data-accordeon="button"] {
		background-color: $colorYellowAccordeonActive;

		&:hover {
			background-color: $colorYellowAccordeonActive;
		}
	}

	&.is_open > a {
		&:after {
			transform: translateY(-50%) rotate(90deg);
		}
	}
}

div.widg_accordeon__button {
	min-height: buttonHeight(desktop);

	line-height: 0;

	> input[type="radio"] {
		display: block;
	}

	@include mq($to: medium) {
		min-height: buttonHeight(mobile);
	}
}

.widg_accordeon__content {
	display: none;
	padding: 0 $gutterWidth + 2 $gutterWidth $gutterWidth + 2;

	.is_open & {
		display: none;
	}

	dl {
		@include clearfix();
	}

	dt,
	dd {
		font-size: 1.5rem;
		margin-left: 0;
		width: 50%;

		float: left;

		border-bottom: 1px solid $colorBlack;
		padding: 14px 0;

		&:last-of-type {
			border-bottom: none;
		}
	}

	dt {
		font-weight: 700;
	}

	dd {
		text-align: right;
	}

    > h3,
    > p,
    > div,
    > dl {
      padding-top: 10px;
    }
}

/**
* Styles for the accordeon in the sidebar (smaller)
*/
.product_sidebar {
	.widg_accordeon {
		margin-top: $basicPush * 4;
		overflow-y: scroll;

		max-height: calc(100vh - 105px);
	}
	.widg_accordeon__entry {
		> a {
			min-height: buttonHeight(mobile);
			padding: ($gutterWidth - 5px) ($gutterWidth - 1px);

			font-size: (15rem / 12);
		}
	}

	.widg_accordeon__content {
		dt,
		dd {
			font-size: 1.25rem;
			margin-left: 0;
			width: 100%;
			float: none;

			border: none;
			padding: 0;
		}

		dt {
			font-weight: 700;
			margin-bottom: $basicPush * 0.5;
		}

		dd {
			margin-bottom: $basicPush * 1.4;
		}
	}

}
