{{#extend "layouts/sublayout"}}
	{{#content "main"}}
		<h2>{{title}}</h2>

		{{> "modules/slideshow/slideshow" modules.slideshow}}
	{{/content}}

	{{#content "sidebar"}}
		{{> "modules/teaser/teaser" modules.teaser}}
	{{/content}}
{{/extend}}
