.widg_linklist {
	margin-top: $basicPush * 3;

	h2:not(.childless) + p {
		padding-bottom: 15px;
		border-bottom: 1px solid $colorGreyHover;
	}

	ul {
		list-style-type: none;
		margin: 0;
		padding: 0;
	}

	& ul li:first-child {
		border-top: none;
	}
}

.widg_linklist___entry {
	display: block;
	border-top: 1px solid $colorGreyHover;

	position: relative;

	@include clearfix();

	a {
		text-decoration: none;
		position: relative;
		display: block;
		opacity: 1;
		padding: $basicPush * 2.4 $gutterWidth * 5 $basicPush * 2.4 $gutterWidth;
		transition: transform $transitionLength / 2 $transitionEase;
		transform: translateX(0);
		margin-right: $basicPush * 2;
		float: left;
		width: 100%;

		@include mq($to: medium) {
			padding: 17px 0px 24px 0;
			margin-right: 0;
		}

		@include iconDataurl('pfeil-black');

		&:hover {
			@include mq($from: small) {
				transform: translateX(5px);
			}

			&:hover:before {
				transform: translateY(-50%) translateX(0);
			}
		}

		&:before {
			position: absolute;

			height: 9px;
			width: 27px;

			right: $gutterWidth;
			top: 50%;

			transform: translateY(-50%) translateX(0);
			transition: transform $transitionLength / 2 $transitionEase;

			@include mq($to: 416px) {
				background-image: none;
			}
		}

		h3 {
			@include mq($to: 416px) {
				@include iconDataurl('pfeil-black');
			}

			@include mq($from: 416px) {
				background-image: none;
			}

			&:before {
				margin-top: 8px;
				float: right;
			}

			&:after {
				width: 17px;
				height: 16.2px;
			}

			@include mq($from: 416px) {
				padding-right: $basicPush * 5;
			}
		}

		span {
			font-weight: 100 !important;
			padding-top: 12px;
			display: block;
			font-size: 1.25rem;

			@include mq($to: medium) {
				padding-right: $basicPush * 5;
			}
		}

    .widg_linklist__dateline {
			display: block;
      padding-bottom: $basicPush - 5;
			padding-top: 0;
      font-weight: 600 !important;
      font-size: 13px !important;
      line-height: 17px;
      color: #828282;
    }
	}

	&.is_external {
		a {
			@include iconDataurl('external');

			&:before {
				width: 20px;
				height: 16.2px;

				@include mq($to: 416px) {
					background-image: none;
				}
			}

			h3 {
				@include mq($to: 416px) {
					@include iconDataurl('external');
				}

				@include mq($from: 416px) {
					background-image: none;
				}

				&:before {
					margin-top: 8px;
					float: right;
				}

				&:after {
					width: 17px;
					height: 16.2px;
				}

				@include mq($from: 416px) {
					padding-right: $basicPush * 5;
				}
			}
		}
	}

	&:hover {
		@include mq($from: 416px) {
			background-color: $colorLightGray;
		}
	}

	p {
		font-size: 1.25rem;
		line-height: 1.7;
		font-weight: 300;
		padding-top: 0;

		@include mq($to: medium) {
			padding-right: $basicPush * 5;
		}

		@media print {
			font-size: 10pt;
		}
	}
}

.widg_linklist__img-wrapper {
	margin-bottom: $basicPush * 2;
	overflow: hidden;
	padding: 0 20px 0 0;
	text-align: center;

	@include mq($to: small) {
		text-align: center;
		margin-bottom: $basicPush + 5 !important;
	}

	img {
		width: 100%;
		max-width: 100%;
		height: auto;
		transform: scale(1);
		transition: transform $transitionLength $transitionEase;

		@include mq($to: 416px) {
			&[src*='technik'][alt='Infoabend'],
			&[src*='technik'][alt='Kontakt und Anmeldung'],
			&[src*='technik'][alt='Termine & Stundenpläne'],
			&[src*='technik'][alt='Vorbereitung auf das Studium'],
			&[src*='technik'][alt='Aufnahmebedingungen'],
			&[src*='technik'][alt='Aufnahmeprüfung'],
			&[src*='technik'][alt='Kosten und Gebühren'],
			&[src*='technik'][alt='Studienordnung'],
			&[src*='technik'][alt='Stipendien'],
			&[src*='technik'][alt='Computer-Anforderungen'],
			&[src*='technik'][alt='Kind & Studium'],
			&[src*='technik'][alt='Militär, Zivildienst und Zivilschutz'],
			&[src*='technik'][alt='Wohnen'],
			&[src*='technik'][alt='Barrierefreies Studium'] {
				max-width: 30%;
			}
		}
	}

	@include mq($from: medium) {
		width: 133px;
		float: left;
	}

	@include mq($to: medium) {
		float: left;
		margin-left: 0; //$basicPush * 2;
		margin-right: 0;

		width: 133px;
		height: auto;
		margin-bottom: 0;
	}

	@include mq($to: 416px) {
		left: 0;
		width: 100%;
		height: auto !important;
		object-fit: contain;
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 0;
		padding-right: 5px;
	}
}
