.widg_langswitcher {
	border-bottom: 1px solid $colorBlack;
	margin-bottom: $basicPush * 2 - 2;

	@include clearfix;
}

.widg_langswitcher__lang {
	line-height: 2.4em;
	text-transform: uppercase;
	font-size: 1.08333rem;
	display: block;

	float: left;
	margin-right: $basicPush;

	text-decoration: none;
	opacity: 0.7;

	&.is_active {
		font-weight: 700;
		opacity: 1;
	}

	&:hover {
		opacity: 1;
	}
}
