{{#extend "layouts/layout" pageTypeClass="full-width-page"}}
	{{#content "hero"}}
		{{> "widgets/hero/hero" widgets.hero}}
	{{/content}}
	{{#content "content"}}
    <div class="page_content">
      <h1>{{title}}</h1>
      <p class="text__lead">
				{{leadText}}
      </p>
			<div class="content__element has_grid">
				{{> "widgets/teaser/teaser" widgets.teaserLocations}}
			</div>

			<div class="content__element has_grid">
				<h2>Weitere Standorte</h2>
				{{> "widgets/teaser/teaser" widgets.teaserAdditionalLocations}}
			</div>

			<div class="content__element span-9">
				<h2>Weiterführende Informationen</h2>
				{{> "widgets/extendedlinks/extendedlinks" widgets.extendedlinks}}
			</div>
    </div>
		{{> "widgets/subnav/subnav" widgets.subnav heroImage=widgets.hero.heroImage}}

    <div class="content__element content__element___bleed content__element___top-bordered" id="locations">

			{{> "widgets/location_slider/location_slider" widgets.locationSlider}}
      <div class="only-phone">
				{{> "widgets/accordeon/accordeon" widgets.locationAccordeon }}
      </div>
    </div>
	{{/content}}
{{/extend}}
