.widg_actionbuttons {
  position: absolute;
  top: 0;
  right: 0;
  width: 2 * $basicUnitHeight;
  z-index: zindex(actionbuttons);

  .page_wrapper__startpage & {
	@include basicUnitHeight(width);
  }

  @include mq($to: $sizeBreakpointMedium) {
	display: none;
  }
}

.widg_actionbutton__item {
  @include basicUnitHeight(height);
  @include basicUnitHeight(width);

  position: relative;

  float: left;

  background-color: $colorBg;
  text-align: center;

  &:hover,
  &:focus {
	cursor: pointer;
	background-color: $colorLightGray;
  }

  text-indent: -10000px;

  &:before {

	position: absolute;
	content: " ";

	top: 50%;
	left: 50%;
  }
}
