.widg_actionbuttons {
  position: absolute;
  top: 0;
  right: 0;
  width: 2 * $basicUnitHeight;
  z-index: zindex(actionbuttons);

  .page_wrapper__startpage & {
	@include basic-unit-height(width);
  }

  @include mq($to: $sizeBreakpointMedium) {
	display: none;
  }
}

.widg_actionbutton__item {
  @include basic-unit-height(height);
  @include basic-unit-height(width);

  float: left;

  background-color: $colorBg;
  text-align: center;

  &:hover {
	cursor: pointer;
	background-color: $colorLightGray;
  }

  text-indent: -10000px;
}
