.widg_searchbar {

}

.widg_searchbar__btn {
	@include iconDataurl('search');

	&:before {
		@include centerDataurlIcon();
	}
}

/**
  * The Styles for the bar
  */
.widg_searchbar-bar {
	position: fixed;
	height: 100vh;
	top: 0;
	right: -0.5 * $sizeSearchBar;
	bottom: 0;
	opacity: 0;
	visibility: hidden;

	width: $sizeSearchBar;
	background-color: $colorBg;

	box-shadow: 3px 0 29px 0 rgba($colorBlack, 0.15);

	transition: all $transitionLength / 2 $transitionEase;

	@include mq($to: medium) {
		transition: all $transitionLength $transitionEase;
	}

	z-index: -1;

	&.is_open {
		right: 0;
		visibility: visible;

		opacity: 1;

		z-index: zindex(search);
	}

	@include mq($to: medium) {
		width: 100vw;

		top: $headerHeightTop;
		height: calc(100vh - 70px);

		right: 0;
		transform: translateY(-20px);

		box-shadow: none;

		&.is_open {
			transform: translateY(0);
		}
	}

	&.show-intro {
		@include iconDataurl('fhnw_claim_only');

		&:before {
			position: absolute;
			bottom: $basicPush * 3;
			left: 50%;

			transform: translateX(-50%);
			opacity: 0.2;

			width: 100px;
			height: 60px;
		}
	}
	//The fhnw logo on the bottom

	.search__results {
		padding: 0 32px 0 28px;

		@include mq($to: small) {
			padding: 0 24px 0 20px;
		}
	}
}

.widg_searchbar-bar__content {
	min-height: calc(100vh - 100px);
	max-height: calc(100vh - 100px);

	position: relative;
	overflow-y: auto;

	@include mq($from: wide) {
		min-height: calc(100vh - 150px);
		max-height: calc(100vh - 150px);
	}

	@include mq($to: large) {
		min-height: calc(100vh - 60px);
		max-height: calc(100vh - 60px);

	}

	@include mq($to: medium) {
		min-height: calc(100vh - 130px);
		max-height: calc(100vh - 130px);
	}
}

.widg_searchbar-bar__search {
	@include clickAreaSize(height);

	position: relative;

	input[type="text"] {
		@include clickAreaSize(height);
		@include clickAreaSize(line-height);

		box-shadow: inset 0 -3px 3px 0 rgba($colorBlack, 0.04);

		width: 100%;
		font-size: 1.5rem;
		padding-left: $basicPush * 3;
		border: none !important;

		background-color: $colorSearchBarInputFocus;

		&:focus {
			outline: none;
			background-color: $colorSearchBarInputFocus;
		}

		&:hover,
		&:focus {
			border: none !important;
		}

		@include mq($to: small) {
			padding-left: $basicPush * 2;
		}
	}
}

.widg_searchbar-bar__close {
	@include iconDataurl('close');
	@include clickAreaSize(height);
	@include clickAreaSize(line-height);
	@include clickAreaSize(width);

	position: absolute;
	line-height: 0;
	cursor: pointer;

	right: 0;

	&:hover {
		background-color: $colorLightGray;
	}

	&:before {
		width: 16px;
		height: 16px;

		position: absolute;
		top: 50%;
		right: 50%;

		transform: translate(50%, -50%);
	}
}

.widg_searchbar-bar__intro {
	padding: $basicPush * 2 $basicPush * 3 $basicPush * 2;
	display: none;

	@include mq($to: small) {
		padding: $basicPush * 2;
	}

	p {
		line-height: 1.5;
		font-size: 1.25rem;
		margin-bottom: $basicPush * 2.4;
	}

	> a {
		display: block;
		font-size: 1.25rem;

		opacity: 1;
		text-decoration: none;
		padding: 10.5px 17px;
		border: 1px solid $colorGreyHover;

		position: relative;

		margin-bottom: $basicPush * 1.5;

		@include iconDataurl($name: 'pfeil-black_short', $after: true);

		&:after {
			position: absolute;
			right: 14px;
			top: 50%;

			transform: translateY(-50%);

			width: 17px;
			height: 10px;
		}

		&:hover {
			border-color: $colorBlack;
		}

	}

	.show-intro & {
		display: block;
	}
}

.widg_searchbar-bar__loader {
	display: none;

	.show-loader & {
		display: block;
	}
}

.widg_searchbar__go-to-page {
	display: block;
	height: 100px;
	line-height: 100px;

	text-align: center;
	font-size: 1.25rem;
	margin-bottom: $basicPush * 2;
	margin-top: $basicPush * -1;

	font-weight: 600;

	opacity: 0.7;
	text-decoration: none;

	&:hover {
		background-color: $colorLightGray;
	}
}

.widg_searchbar-bar__loader {
	height: 100px;
	position: relative;

	.fhnw-spinner {
		transform: translateY(50px);
	}
}
