.widg_searchbar {

}
.widg_searchbar__btn {
  @include iconDataurl('search');

  &:before {
	@include centerDataurlIcon();
  }
}

/**
  * The Styles for the bar
  */
.widg_searchbar-bar {
	position: fixed;
	height: 100vh;
	top: 0;
	right: -0.5 * $sizeSearchBar;
	bottom: 0;
	opacity: 0;
	visibility: hidden;

	width: $sizeSearchBar;
	background-color: $colorBg;

	box-shadow: 3px 0 29px 0 rgba($colorBlack, 0.15);

	transition: all $transitionLength / 2 $transitionEase;
	z-index: -1;

	&.is_open {
		right: 0;
		visibility: visible;

		opacity: 1;

		z-index: zindex(search);
	}

	@include mq($to: $sizeBreakpointMedium) {
		width: 100vw;

		top: $headerHeightTop;
		height: calc(100vh - 70px);

	}

	&.show-intro {
		@include iconDataurl('fhnw_claim_only');

		&:before {
			position: absolute;
			bottom: $basicPush * 3;
			left: 50%;

			transform: translateX(-50%);
			opacity: 0.2;

			width: 100px;
			height: 60px;
		}
	}
	//The fhnw logo on the bottom

	.search__results {
		padding: 0 32px 0 28px;
	}
}

.widg_searchbar-bar__content {
	min-height: calc(100vh - 100px);
	max-height: calc(100vh - 100px);

	position: relative;
	overflow-y: auto;

	padding-bottom: $searchbarBlackBarHeight;

	@include mq($from: $sizeBreakpointWide) {
		min-height: calc(100vh - 150px);
		max-height: calc(100vh - 150px);
	}

	@include mq($to: $sizeBreakpointLarge) {
		min-height: calc(100vh - 60px);
		max-height: calc(100vh - 60px);

	}

	@include mq($to: $sizeBreakpointMedium) {
		min-height: calc(100vh - 130px);
		max-height: calc(100vh - 130px);
	}
}

.widg_searchbar-bar__search {
	@include basicUnitHeight(height);

	position: relative;

	input {
		@include basicUnitHeight(height);
		@include basicUnitHeight(line-height);

		box-shadow: inset 0 -3px 3px 0 rgba($colorBlack, 0.04);

		width:100%;
		font-size: 1.5rem;
		padding-left: $basicPush * 2.4;

		&:focus {
			background-color: $colorSearchBarInputFocus;
		}
	}
}

.widg_searchbar-bar__close {
	@include iconDataurl('close');
	@include basicUnitHeight(height);
	@include basicUnitHeight(line-height);
	@include basicUnitHeight(width);

	position: absolute;
	line-height: 0;
	cursor: pointer;

	right: 0;

	&:hover {
		background-color: $colorLightGray;
	}

	&:before {
		width: 16px;
		height: 16px;

		position: absolute;
		top: 50%;
		right: 50%;

		transform: translate(50%, -50%);
	}
}

.widg_searchbar-bar__intro {
	padding: $basicPush * 4 $basicPush * 3;
	display: none;

	p {
		line-height: 1.5;
		font-size: 1.25rem;
	}

	> a {
		display: block;
		font-size: 1.25rem;

		opacity: 1;
		text-decoration: none;
		padding: 10.5px 17px;
		border: 1px solid $colorBlack;

		position: relative;

		margin-bottom: $basicPush * 1.5;

		@include iconDataurl($name: 'pfeil-black_short', $after: true);

		&:after {
			position: absolute;
			right: 14px;
			top: 50%;

			transform: translateY(-50%);

			width: 17px;
			height: 9px;
		}

		&:hover {
			background-color: $colorLightGray;
		}

	}

	.show-intro & {
		display: block;
	}
}

.widg_searchbar-bar__loader {
	display: none;

	.show-loader & {
		display: block;
	}
}

.widg_searchbar__black-bar {
	display: none;
	position: absolute;
	bottom: 0;

	width: 100%;
	background-color: $colorBlack;

	opacity: 1;
	color: $colorBg;
	text-decoration: none;

	font-size: 1.25rem;

	height: $searchbarBlackBarHeight;
	line-height: $searchbarBlackBarHeight;
	padding: 0 $searchbarPadding;

	box-shadow: 13px 0 29px 0 rgba($colorBlack, 0.15);

	@include iconDataurl('pfeil-weiss_short', $after: true);

	&:after {
		width: 17px;
		height: $searchbarBlackBarHeight;

		margin-right: 8px;

		float: right;
		display: block;

		background-position: center center;
	}

	// When bar is set on show results show the black button
	.show-results & {
		display: block;
	}
}
