.widg_search_svelte {
	.no__results {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
		font-size: 1.5rem;
		font-weight: 700;
		padding: $basicPush * 2 0;
		background: rgba($colorBlack, 1);
		color: white;
		margin-top: $basicPush * 2;

		span {
			font-size: 1.2rem;
			font-weight: 400;
		}
	}
}

.widg_searchbar__btn,
.widg_search_proposals ul li {
	@include iconDataurl('search');

	&:hover,
	&:focus {
		background-color: rgba($colorLightGray, 0.5);
		color: $colorBlack;
	}

	&:before {
		@include centerDataurlIcon();
	}
}

.widg_search_proposals {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-direction: column;

	ul {
		li {
			position: relative;
			padding: $basicPush 0 $basicPush $basicPush * 4;
			border-bottom: 1px solid $colorGreyHover;

			font-size: medium;

			a {
				text-decoration: none;
				cursor: pointer;

				p {
					line-height: 0;
					margin: $basicPush 0 $basicPush 0;
				}
			}

			&:before {
				left: $basicPush !important;
				transform: translate(-25%, -40%);
			}
		}
	}
}

.widg__searchbar_spellcheck {
	display: flex;
	flex-direction: column;

	margin-bottom: $basicPush * 2;

	p {
		font-size: large;
		font-weight: 400;
		padding-bottom: 0;
		margin-bottom: 0;
	}

	span {
		display: inline-block;
		font-size: small;
		padding-bottom: $basicPush * 2;
	}
}

/**
  * The Styles for the bar
  */
.widg_searchbar-bar {
	position: fixed;
	height: 100vh;
  height: -moz-available;          /* WebKit-based browsers will ignore this. */
  height: -webkit-fill-available;  /* Mozilla-based browsers will ignore this. */
  height: fill-available;
	top: 0;
	right: -0.5 * $sizeSearchBar;
	bottom: 0;
	opacity: 0;
	visibility: hidden;

	width: $sizeSearchBar;
	background-color: $colorBg;

	box-shadow: 3px 0 29px 0 rgba($colorBlack, 0.15);

	transition: all $transitionLength / 2 $transitionEase;

	@include mq($to: medium) {
		transition: all $transitionLength / 2 $transitionEase;
	}

	z-index: -1;

	&.is_open {
		right: 0;
		visibility: visible;
		opacity: 1;
		z-index: zindex(search);

		@include mq($to: small) {
			scrollbar-width: none; /* Firefox 64 */
			overflow-y: scroll;
			-ms-overflow-style: none; /* IE 11 */
			&::-webkit-scrollbar {
				display: none;
				width: 0;
				height: 10px;
				background: transparent;
			}
		}
	}

	@include mq($to: medium) {
		width: 100vw;

		top: $headerHeightTop;

		right: 0;
		transform: translateY(-20px);

		box-shadow: none;

		&.is_open {
			transform: translateY(0);
		}
	}

	&.show-intro {
		&:before {
			position: absolute;
			bottom: $basicPush * 3;
			left: 50%;

			transform: translateX(-50%);
			opacity: 0.2;

			width: 100px;
			height: 60px;
		}
	}

	.search__results {
		// padding: 0 32px 0 28px;

		@include mq($to: small) {
			margin: 0 0 0 5px;
		}
	}
}

.widg_searchbar-bar__content {
  position: relative;
  height: 100vh;
  overflow-y: auto;
}

.widg_searchbar-bar__title {
	width: 100%;

	p {
		border-bottom: 1px solid $colorGreyHover;
		margin-top: $basicPush * 2;
		padding-bottom: $basicPush;
		font-weight: 600;
		font-size: 14px;
		color: $colorDarkGrey;
		text-transform: uppercase;
		margin-bottom: 0;

		@include mq($to: small) {
			padding: 0 0px 10px 0px;
		}

		span {
			color: $colorBorderGrey;
			font-weight: 300;
			font-style: italic;
		}
	}
}

.widg_searchbar-bar__search {
	@include clickAreaSize(height);
	position: relative;

	form {
		display: block;
		z-index: 300;

		input[type='text'] {
			@include clickAreaSize(height);
			@include clickAreaSize(line-height);

			box-shadow: inset 0 -3px 3px 0 rgba($colorBlack, 0.04);

			width: 100%;
			font-size: 1.5rem;
			padding-left: $basicPush * 3;
			border: none !important;

			background-color: $colorSearchBarInputFocus;

			&:focus {
				outline: none;
				background-color: $colorSearchBarInputFocus;
			}

			&:hover,
			&:focus {
				border: none !important;
			}

			@include mq($to: small) {
				padding-left: $basicPush * 2;
			}
		}
	}
}

.widg_searchbar-bar__close {
	@include iconDataurl('close');
	@include clickAreaSize(height);
	@include clickAreaSize(line-height);
	@include clickAreaSize(width);

	position: absolute;
	line-height: 0;
	cursor: pointer;

	right: 0;

	&:hover {
		background-color: $colorLightGray;
	}

	&:before {
		width: 16px;
		height: 16px;

		position: absolute;
		top: 50%;
		right: 50%;

		transform: translate(50%, -50%);
	}
}

.widg_searchbar-bar__categories {
	display: none;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: flex-start;
	padding: 0;
	z-index: 1000;
	margin: $basicPush * 2 0 0 0;

	@include mq($to: small) {
		display: flex;
		flex-wrap: nowrap;
		white-space: nowrap;
		padding: $basicPush * 2 0 0 0;
		margin: unset;
		overflow-x: scroll;

		&::-webkit-scrollbar {
			width: 0;
			height: 10px;
			background: transparent;
		}

		@include mq($from: medium) {
			&::-webkit-scrollbar-thumb {
				display: none;
				background: transparent;
			}
		}

		&.gradient_prev:before {
			position: absolute;
			z-index: 1000;
			content: '';
			width: $basicPush * 7;
			height: $basicPush * 3.8;
			background: linear-gradient(
				to right,
				rgb(255, 255, 255) 0%,
				rgba(255, 255, 255, 0) 100%
			);
		}

		&.gradient_next:after {
			position: absolute;
			right: 0;
			z-index: 1000;
			content: '';
			width: $basicPush * 7;
			height: $basicPush * 3.8;
			margin-top: 0;
			background: linear-gradient(
				to left,
				rgb(255, 255, 255) 25%,
				rgba(255, 255, 255, 0) 100%
			);
		}
	}

	button {
		&.button__cat {
			line-height: unset;
			padding: 0 $basicPush + 5;
			margin-bottom: $basicPush - 5;
			margin-right: $basicPush - 5;
			color: $colorBlack;
			font-weight: bold;
			background: $colorBg;
			border: 2px solid $colorLightGray;

			@include mq($to: small) {
				height: map-get($elementHeight, mini);
				margin-bottom: 0;
			}

			@include mq($from: small) {
				height: $basicPush * 4.5;
			}

			&.active {
				background: $colorYellow;
				color: $colorBlack;
				border: 2px solid $colorYellow;
			}

			&:hover {
				color: $colorBg;
				background: $colorBlack;
				border-color: $colorBlack;
			}
			&:disabled {
				color: $colorBorderGrey;
			}
		}

		&.ref {
			border: none;
			width: $basicPush * 2;
			padding: 0;
			margin-right: 10px;
		}
	}
}

.widg_searchbar-bar__intro {
	padding: 0 $basicPush * 3 $basicPush * 2;
	display: none;

	@include mq($to: small) {
		padding: $basicPush * 2;
	}

	p {
		line-height: 1.5;
		font-size: 1.5rem;
		margin: $basicPush * 4.8 0;
	}

	> a {
		display: block;
		font-size: 1.25rem;
		cursor: pointer;
		opacity: 1;
		text-decoration: none;
		padding: 10.5px 17px;
		border: 1px solid $colorGreyHover;

		position: relative;

		margin-bottom: $basicPush * 1.5;

		@include iconDataurl($name: 'pfeil-black_short', $after: true);

		&:after {
			position: absolute;
			right: 14px;
			top: 50%;

			transform: translateY(-50%);

			width: 17px;
			height: 10px;
		}

		&:hover {
			border-color: $colorBlack;
		}
	}

	.show-intro & {
		display: block;
	}
}

.widg_searchbar-bar__loader {
	display: none;

	.show-loader & {
		display: block;
	}
}

.widg_searchbar__go-to-page {
	display: block;
	height: 100px;
	line-height: 100px;

	text-align: center;
	font-size: 1.25rem;
	margin-bottom: $basicPush * 2;
	margin-top: 0;

	font-weight: 600;

	opacity: 0.7;
	text-decoration: none;

	&:hover {
		background-color: $colorLightGray;
	}
}

.widg_searchbar-bar__loader {
	height: 100px;
	position: relative;

	.fhnw-spinner {
		transform: translateY(50px);
	}
}
