<div class="widg_searchbar" data-init="searchbar" data-json-url="{{jsonURL}}" data-searchpage-url="{{searchPageURL}}">
	<button class="widg_searchbar__btn widg_actionbutton__item not-default" data-searchbar="btn">
		Suchen
	</button>
</div>
<div class="widg_searchbar-bar show-intro" data-searchbar="bar" data-lang-all-results="{{langStrings.allResults}}" role="search"></div>
