<div class="widg_searchbar" data-init="searchbar">
	<button class="widg_searchbar__btn widg_actionbutton__item" data-searchbar="btn">
		Suchen
	</button>
</div>
<div class="widg_searchbar-bar show-intro" data-searchbar="bar">
	<div class="widg_searchbar-bar__search">
    <div class="widg_searchbar-bar__close" data-searchbar="close"></div>
		<input type="text" placeholder="Suche" name="searchbar_search" data-searchbar="input"/>
	</div>
	<div class="widg_searchbar-bar__results">
		<div class="widg_searchbar-bar__intro">
			<p><span class="bold">Geben Sie einen Suchbegriff ein</span> und suchen Sie nach Weiterbildungen Studienangeboten, Veranstaltungen, Dokumenten und anderen Inhalten.</p>
			<a href="#">Weiterbildungen und Kurse suchen</a>
			<a href="#">Ausbildungen suchen</a>
			<a href="#">Veranstaltungen suchen</a>
		</div>
	</div>

</div>
