<div class="widg_searchbar" data-init="searchbar">
	<button class="widg_searchbar__btn widg_actionbutton__item not-default" data-searchbar="btn">
		Suchen
	</button>
</div>
<div class="widg_searchbar-bar show-intro" data-searchbar="bar" role="search"></div>
