{{#extend "layouts/layout"}}
	{{#content "hero"}}
		{{> "widgets/hero/hero" widgets.hero}}
	{{/content}}
	{{#content "content"}}
		<div class="page_content">
			<h1>{{leadTitle}}</h1>
			<p class="text__lead">{{ leadText }}</p>
			<div class="content__element">
				{{> "widgets/education_search/education_search"}}
			</div>
		</div>
      
		<div class="widg_subnav svelte" data-init="subnav"></div>

		{{> "widgets/sidebar/sidebar" widgets.sidebar}}
    
	{{/content}}
{{/extend}}