button,
a.button,
input[type="button"],
input[type="submit"],
input[type="reset"] {
	display: inline-block;
	text-align: center;

	border: 0;

	min-width: $buttonDesktopWidth;

	@include defaultElementHeight();

	font-family: $fontSansSerifCondensed;
	text-transform: uppercase;
	letter-spacing: 3.5px;

	background-color: $colorBlack;
	color: $colorBg;
	font-size: 1rem;
	padding: 0 $basicPush;
	text-decoration: none;
	opacity: 1;
	font-weight: 600;

	&:hover,
	&:active,
	&:focus {
		color: $colorBlack;
		background-color: $colorYellow;
	}

	&:disabled,
	&[disabled="disabled"] {

		opacity: 0.4;
		color: $colorBg;

		&:hover,
		&:active,
		&:focus {
			background-color: $colorBlack;
			color: $colorBg;
		}
	}

	@include mq($to: medium) {
		min-width: $buttonMobileWidth;
	}
}

.button__secondary,
a.button__secondary,
input[type="reset"] {
	@extend .button;

	color: $colorBlack;
	background-color: $colorBg;

	border: 1px solid $colorBorderGrey;

	&:hover,
	&:active,
	&:focus {
		border-color: $colorBlack;
		background-color: $colorLightGray;
	}

	&:disabled,
	&[disabled="disabled"] {

		opacity: 0.5;
		color: $colorBlack;

		&:hover,
		&:active,
		&:focus {
			background-color: $colorBg;
			color: $colorBlack;
			border-color: $colorBorderGrey;
		}
	}
}
