button:not(.not-default),
a.button:not(.not-default),
input[type="button"],
input[type="submit"],
input[type="reset"],
#form-buttons-reset {
	display: inline-block;
	text-align: center;

	border: 0;
	border-radius: 0;

	@include defaultElementHeight();

	font-family: $fontSansSerifCondensed;
	text-transform: uppercase;
	letter-spacing: 3.5px;

	background-color: $colorBlack;
	color: $colorBg;
	font-size: 1rem;
	padding: 0 $basicPush * 3;
	text-decoration: none;
	opacity: 1;
	font-weight: 600;

	&:hover,
	&:active,
	&:focus {
		color: $colorBlack;
		background-color: $colorYellow;
	}

	&:disabled,
	&[disabled="disabled"] {

		opacity: 0.4;
		color: $colorBg;

		&:hover,
		&:active,
		&:focus {
			background-color: $colorBlack;
			color: $colorBg;
		}
	}
}

.button__secondary:not(.not-default),
a.button__secondary:not(.not-default),
input[type="reset"],
#form-buttons-reset {
	@extend .button;

	color: $colorBlack;
	background-color: $colorBg;

	border: 1px solid $colorGreyHover;

	&:hover,
	&:active,
	&:focus {
		border-color: $colorBlack;
		background-color: $colorBg;
	}

	&:disabled,
	&[disabled="disabled"] {

		opacity: 0.5;
		color: $colorBlack;

		&:hover,
		&:active,
		&:focus {
			background-color: $colorBg;
			color: $colorBlack;
			border-color: $colorGreyHover;
		}
	}
}
