html {
	height: 100%;
	overflow: auto;
	margin: 0;
	-webkit-overflow-scrolling: touch;
}

body {
	-moz-hyphens: manual;
	-webkit-hyphens: manual;
	-ms-hyphens: manual;
	hyphens: manual;

	height: 100%;
	overflow: auto;
	margin: 0;
	-webkit-overflow-scrolling: touch;
}

[href="#maincontent"] {
	position: absolute;
	left: -100000px;

	&:focus {
		left: initial;
		top: 1px;
	}
}

.content__element {
	/*padding-bottom: $basicPush * 3;*/
	padding-bottom: 0;

	@include clearfix();

	& p:last-child {
		margin-bottom: 0;
	}

	@include mq($to: medium) {
		padding-bottom: $basicPush * 2;
	}

	h3:not(.childless),
	h2.childless {
		margin-bottom: $basicPush;
	}

	h2:not(.childless) {
		margin-bottom: $basicPush * 2;
		padding-bottom: 8px;

	  	@include mq($to: small) {
				padding-bottom: 8px;
			}

		+ .widg_accordeon {
			margin-top: 18px;
		}

		&.startpage__title {
			padding-bottom: 16px;
		}
	}

	img {
		max-width: 100%;
	  	height: auto;
	}

	.widg_sidebar__object {
		margin-bottom: 0;
	}

	&:last-of-type {
		border-bottom: none;
		margin-bottom: 0;
	}

	&.has_grid {
		@include gridWrapper($gutterWidth);

		h2,
		h3,
		button,
		a.button {
			margin-left: $gutterWidth;
			margin-right: $gutterWidth;
		}

		@include mq($to: medium) {
			width: calc(100% + 32px);
			max-width: none;
		}

		.widg_teaser {
			h2, h3 {
				margin-left: 0;
				margin-right: 0;
			}
		}
	}

	&.span-9 {
		max-width: 75%;

		@include mq($to: small) {
			max-width: 100%;
		}
	}

	.page_content & {
		margin-bottom: $basicPush * 5;

		@include mq($to: medium) {
			margin-bottom: $basicPush * 3;
		}

	}

}
.page_content {
	@include clearfix();
}

.page_content ul:not(.not-default):not(.select2-selection__rendered){
	padding-left: 0;
	list-style-type: none;

	li {
		font-size: $textSize;
		font-weight: 500;
		color: $colorTextDarkGrey;
		line-height: 1.7;
		padding-left: 1.3rem;
		margin-left: 3px;
		position: relative;

		&:before {
			display: block;
			position: absolute;

			content: "\2022";
			color: $colorBlack;
			left: 0;
		}

		@include mq($to:small) {
		  font-size: 1.25rem;
		  line-height: 23px;
		}
	}
}

.page_content ol:not(.not-default):not(.select2-selection__rendered) {
	padding-left: 0;

	li {
		font-size: $textSize;
		font-weight: 500;
		color: $colorTextDarkGrey;
		line-height: 1.7;
		padding-left: 1.333rem;
		margin-left: 1.333rem;

		@include mq($to:small) {
			font-size: 1.25rem;
			line-height: 23px;
		}
	}
}

/* 404-Page ordered list */
ul#page-not-found-list {
	padding: 2rem 0 2rem 0;
}

table.content__table {
  	@media screen {
	  	display: table;
		width: 100%;
		table-layout: fixed;
		overflow-wrap: break-word;
	  	-ms-word-wrap: break-word;
	}

  	@media (min-width: 320px) and (max-width: 1024px) {
	  	display: block;
		table-layout: auto;
		overflow: auto;
	  	width: unset;
	}
}

.content__table {
	th, td {
		padding: $gutterWidth - 5 $gutterWidth $gutterWidth - 5 18px;
		vertical-align: top;
		text-align: left;

		line-height: 1.7;
		font-size: $textSize;
	  	color: #4c4c4c;
	  	font-weight: 500;
	}

	tr {
		th {
			border-bottom: 1px solid $colorBlack;
			background-color: $colorLightGray;
		}
	}

	tr {
		td {
			border-bottom: 1px solid $colorGreyHover;
		}

		&:last-of-type {
			td, th {
				border-bottom: none;
			}
		}
	}
}

table.content__table__backcomp {
  	display: block;
	width: auto;
	table-layout: auto;
	overflow-x: auto;
	overflow-y: hidden;
}

.content__table__backcomp {
	th, td {
		padding: $gutterWidth - 5 $gutterWidth $gutterWidth - 5 18px;
		vertical-align: top;
		text-align: left;

		line-height: 1.7;
		font-size: $textSize;
	  	color: #4c4c4c;
	    font-weight: 500;
	}

	tr {
		th {
			border-bottom: 1px solid $colorBlack;
			background-color: $colorLightGray;
		}
	}

	tr {
		td {
			border-bottom: 1px solid $colorGreyHover;
		}

		&:last-of-type {
			td, th {
				border-bottom: none;
			}
		}
	}
}

.widg_accordeon__content .content__table td:first-child {
	padding-left: 0;
}

.content__element___bleed {
	@include bleed();

	clear: both;

	padding-bottom: 0;

	.bleed__inner {
		padding-top: 0;

		@include mq($to: medium) {
			padding-left: $gutterWidth;
			padding-right: $gutterWidth;
		}
	}
}

.content__element___bordered {
	border: 1px solid $colorGreyHover ;
	padding: $basicPush * 4 $basicPush * 3.5 $basicPush * 4;

	@include mq($to: medium) {
		padding: $basicPush * 3.5;
	}
}

.content__element___top-bordered {
	padding-top: $basicPush * 3;
}

.content__element___borderless {
	border: none;
	padding-top: 0;
}

.content__element___marginless {
	margin-bottom: 0;
}

.content__element___emergency {
	padding: $basicPush * 3.2 $basicPush * 4.1;

	background: $colorRedBackground;
	border: 1px solid $colorEmergencyBorder !important;

	h2:not(.childless) {
		color: $colorEmergencyBorder;
		border-bottom-color: $colorEmergencyBorder;
	}

	.emergency__phone {
		display: block;
		text-decoration: none;
	}
}

.arrow__list {
	margin: 0;
	padding: 0;
	list-style-type: none;

	li {
		a {
			@include iconDataurl('pfeil-black_short');

			opacity: 1;
			color: $colorTextGrey;

			padding: 5px 0 5px $basicPush * 2.8;
			display: block;
			position: relative;

			&:hover {
				color: $colorBlack;

				&:before {
					opacity: 1;
				}
			}

			&:before {
				position: absolute;
				width: 18px;
				height: 11px;

				left: 0;
				top: 50%;
				transform: translateY(-50%);

				opacity: 0.5;
			}
		}
	}

	&.download__list {
		li {
			a {
				@include iconDataurl('download-arrow');

				&:before {
					width: 23px;
					height: 17px;
				}
			}
		}
	}
}
