.content__element {
	margin-bottom: $basicPush * 5;
	padding-bottom: $basicPush * 3;

	border-bottom: 1px solid $colorGreyHover;

	@include clearfix();

	h3 {
		margin-bottom: $basicPush;
	}

	h2 {
		margin-bottom: $basicPush * 1.5;

	  	@include mq($to: small) {
		  margin-bottom: $basicPush * 1.25;
		}
	}

	.widg_sidebar__object {
		margin-bottom: 0;
	}

	&:last-of-type:not(.content__element___bordered) {
		border-bottom: none;
	}

	&.has_grid {
		@include gridWrapper($gutterWidth);

		h2,
		h3,
		button,
		a.button {
			margin-left: $gutterWidth;
			margin-right: $gutterWidth;
		}

		@include mq($to: medium) {
			width: calc(100% + 32px);
			max-width: none;
		}
	}

	&.span-9 {
		max-width: 75%;

		@include mq($to: small) {
			max-width: 100%;
		}
	}

	@include mq($to: medium) {
		margin-bottom: $basicPush * 3;
	}

}
.page_content {
	@include clearfix();
}

.page_content ul:not(.not-default):not(.select2-selection__rendered) {
	padding-left: 0;
	list-style-type: none;

	li {
		font-size: 1.5rem;
		line-height: 1.7;
		padding: 6px 0 6px 1em;
		position: relative;

		&:before {
			display: block;
			position: absolute;

			content: "\2022";
			color: $colorBlack;
			left: 0;
		}

	  	@include mq($to:small) {
		  font-size: 1.25rem;
		  line-height: 23px;
		}
	}
}

.content__table {
	th, td {
		padding: $gutterWidth $gutterWidth $gutterWidth 0;
		vertical-align: top;
		text-align: left;

		line-height: 2.2;
		font-size: 1.5rem;
	}

	tr {
		td, th {
			border-bottom: 1px solid $colorBlack;
		}

		&:last-of-type {
			td, th {
				border-bottom: none;
			}
		}
	}
}

.content__element___bleed {
	@include bleed();

	padding-top: $basicPush * 6;

	clear: both;
	border-top: 1px solid $colorGreyHover;

	padding-bottom: 0;
}

.content__element___bordered {
	border: 1px solid $colorGreyHover ;
	padding: $basicPush * 4 $basicPush * 6 $basicPush * 4;

	@include mq($to: medium) {
		padding: $basicPush * 2;
	}
}

.content__element___top-bordered {
	border-top: 1px solid $colorGreyHover;
	padding-top: $basicPush * 3;
}

.content__element___borderless {
	border: none;
	padding-top: 0;
}
