// Remove that ugly margin right
.mCSB_inside > .mCSB_container {
	margin-right: 0;

	& button {
		width: 100%;
	}
}

.mCS-fhnw {
	height: 100%;
	&.mCSB_scrollTools {
		width: 6px;
		opacity: 1;

		.mCSB_dragger .mCSB_dragger_bar {
			border-radius: 0;
			width: 5px;
			margin-right: 1px;
			opacity: 1;

			background-color: $customScrollbarColor;
		}

		.mCSB_draggerRail {
			display: none;
		}
	}
}

#mCSB_1 #mCSB_1_scrollbar_vertical {
	display: none !important;
}
