/**
  * Labels which are not in ifield
  */
.formQuestion {
	display: inline-block;
}

.ArchetypesBooleanWidget label,
.ArchetypesMultiSelectWidget label,
input[type="radio"] + label,
input[type="checkbox"] + label {
	padding-left: $basicPush + $radioCheckboxDimension;

	position: relative;

	font-family: $fontSansSerifRoman;
	font-size: 1.25rem;

	margin-bottom: $basicPush;

	&:before {
		display: block;
		content: " ";
		position: absolute;
		left: 0;
		top: 50%;

		background-color: $colorInputTextHover;

		transform: translateY(-50%);

		width: $radioCheckboxDimension;
		height: $radioCheckboxDimension;

		border: 1px solid $colorGreyHover;
	}

	&:hover:before {
		border-color: $customScrollbarColor;
		background-color: $colorInputTextHover;
	}
}

.ArchetypesBooleanWidget label,
.ArchetypesMultiSelectWidget label,
input[type="radio"] + label {
	&:before,
	&:after {
		border-radius: 50%;
	}
}

.ArchetypesBooleanWidget input[type="checkbox"] + label {
	&:before {
		border-radius: 0;
	}
}

/**
  * Input
  */
input {
	border: 0;
	background: $colorBg;

	&[type="text"],
	&[type="password"],
	&[type="email"],
	&[type="search"],
	&[type="url"],
	&[type="tel"],
	&[type="number"] {
		background: $colorInputTextHover;
		border: 1px solid $colorGreyHover;
		border-radius: 0;
		box-shadow: none;

		-webkit-appearance: none;

		&:hover {
			border: 1px solid $customScrollbarColor;
		}

		&:focus {
			background-color: $colorBg;
			border: 1px solid $colorBlack;

			outline: none;
		}
	}
}

/**
  * Resetting default number input
  */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

/**
  * Checkboxes and radios
  */

input[type="radio"],
input[type="checkbox"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

	opacity: 0;
	width: 0;
	height: 0;

	visibility: hidden;
}

input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label {
	&:after {
		display: block;
		content: " ";
		position: absolute;
		top: 50%;
		left: $radioCheckboxDimensionInner;

		transform: translateY(-50%) translateX(-45%);

		width: $radioCheckboxDimensionInner;
		height: $radioCheckboxDimensionInner;

		background-color: $colorBlack;
	}

	&:before {
		background-color: $colorBg;
		border-color: $colorBlack;
	}
}

input[type="checkbox"]:checked + label {
	@include iconDataurl($name: 'checkmark', $after: true);
	&:after {
		background-color: transparent;

		height: $radioCheckboxDimensionInner;
		width: 14px;
		left: $radioCheckboxDimensionInner + 1;
	}
}

input[type="radio"].error:checked + label,
input[type="checkbox"].error:checked + label {
	&:before {
		border: 2px solid $colorErrorRed;
	}
}

/**
  * Textfields
  */
.ArchetypesStringWidget,
.search__string {
	position: relative;

	@include defaultElementHeight();
	float: left;
	width: 100%;

	line-height: 1;

	label,
	.fieldErrorBox {
		font-size: 1.25rem;
		color: $colorBorderGrey;
		position: absolute;

		top: 23px;

		transition: all $transitionLength / 2 $transitionEase;

		@include mq($to: medium) {
			top: 0;
		}
	}

	label {
		cursor: text;
	}

	input {
		display: block;
		width: 100%;

		padding-top: 18px;

		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;

		font-size: 1.25rem;
		border: 1px solid $colorGreyHover;

		&:focus {
			border-color: $colorBlack;
		}

		&.error {
			border: 2px solid $colorErrorRed;
		}

		@include mq($to: medium) {
			padding-top: 13px;
		}
	}

	input,
	label {
		padding-left: 18px;

		@include mq($to: medium) {
			padding-left: 13px;
		}
	}

	input {
		padding-left: 17px;

		@include mq($to: medium) {
			padding-left: 12px;
		}
	}

	input:focus + label,
	input.is_filled + label,
	.fieldErrorBox {
		font-size: 0.91666667rem;
		top: 13px;

		@include mq($to: medium) {
			top: -9px;
		}
	}

	.fieldErrorBox {
		right: $basicPush * 1.1;
		color: $colorErrorRed;
		font-family: $fontSansSerifBold;
	}

	/**
  * Different sizes for the text input
  */
	&.xs {
		width: 26.5%;
	}

	&.small {
		width: 30.25%;
	}

	&.medium {
		width: 66.25%;
	}

	&.large {
		width: 70%;
	}
}



/**
  * Forms
  */
.form {
	fieldset {
		border: none;
		padding: 0;
		margin-bottom: $basicPush;

		div.ArchetypesStringWidget:first-child:not(last-child) {
			margin-right: 3.5%;
		}
	}
}
