/**
  * Labels which are not in ifield
  */
.formQuestion {
	display: inline-block;
}

/**
  * Input
  */
.field {
	input,
	textarea {
		border: 0;

		background: $colorInputTextHover;
		border: 1px solid $colorGreyHover;
		border-radius: 0;
		box-shadow: none;

		-webkit-appearance: none;

		&:hover {
			border: 1px solid $customScrollbarColor;
		}

		&:focus {
			background-color: $colorBg;
			border: 1px solid $colorBlack;

			outline: none;
		}
	}
}

/**
  * Resetting default number input
  */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

/**
  * Checkboxes and radios
  */



/**
  * Textfields
  */
.search__string,
.field {
	position: relative;

	min-height: map-get($elementHeight, desktop);

	float: left;
	width: 100%;

	line-height: 1;

	label,
	span.label,
	.fieldErrorBox {
		font-size: 1.25rem;
		color: $colorBorderGrey;
		position: absolute;

		transition: all $transitionLength / 2 $transitionEase;
		z-index: 10;

		@include mq($to: medium) {
			top: 5px;
		}
	}

	label,
	span.label {
		cursor: text;
		top: 23px;

		@include mq($to: medium) {
			top: 18px;
		}
	}

	input,
	textarea {
		display: block;
		width: 100%;

		padding-top: 18px;

		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;

		font-size: 1.25rem;
		border: 1px solid $colorGreyHover;

		resize: none;

		&:focus {
			border-color: $colorBlack;
		}

		&.error {
			border: 2px solid $colorErrorRed;
		}

		@include mq($to: medium) {
			padding-top: 13px;
		}
	}

	textarea {
		padding-top: 28px;
		min-height: 240px;
		resize: none;
	}

	input,
	label,
	span.label,
	textarea {
		padding-left: 18px;

		@include mq($to: medium) {
			padding-left: 13px;
		}
	}

	input,
	textarea {
		padding-left: 17px;

		@include mq($to: medium) {
			padding-left: 12px;
		}
	}

	.fieldErrorBox {
		right: $basicPush * 1.1;
		color: $colorErrorRed;
		font-family: $fontSansSerifBold;
	}

	&.field__textarea {
		min-height: map-get($elementHeight, desktop) * 2;

		@include mq($to: medium) {
			min-height: map-get($elementHeight, mobile) * 2;
		}
	}

	/**
  * Different sizes for the text input
  */
	&.xs {
		width: 26.5%;
	}

	&.small {
		width: 30.25%;
	}

	&.medium {
		width: 66.25%;
	}

	&.large {
		width: 70%;
	}

	@include mq($to: medium) {
		min-height:  map-get($elementHeight, mobile);;
	}
}

.field.is_filled label,
.field.is_focused label,
.field.has-select label,
.field.has-multiple-select.has-value label,
.fieldErrorBox {
	font-size: 0.91666667rem;
	top: 13px;

	@include mq($to: medium) {
		top: 10px;
	}
}

.field.has-select label,
.field.has-multiple-select.has-value label {
	@include mq($to: medium) {
		top: 10px;
	}
}

.field.has-multiple-select label {
	font-size: 1.25rem;
	color: $colorBorderGrey;
	position: absolute;

	transition: all $transitionLength / 2 $transitionEase;
	z-index: 10;

	top: 23px;

	@include mq($to: medium) {
		top: 0;
	}
}


/**
  * Forms
  */
.form {
	fieldset {
		border: none;
		padding: 0;
		margin-bottom: $basicPush;

		div.ArchetypesStringWidget:first-child:not(last-child) {
			margin-right: 3.5%;
		}
	}

	.field {
		margin-bottom: $basicPush;
	}
}

span.option {
	display: block;

	@include clearfix();

	.label {
		display: block;
		position: relative;
	}
}

.formHelp {
	display: none;
}

.has-upload {
	padding-top: 21px;

	@include mq($to: medium) {
		padding-top: 16px;
	}

	input[type="file"] {
		border: none;
		position: static;
		display: block;
		float: left;
		padding: 15px 0 0 0;
		margin-left: $basicPush * 2;

		background-color: $colorBlack;
		color: $colorBg;
		text-transform: uppercase;

		min-height: map-get($elementHeight, desktop);

		transform: translateY(-21px);

		@include mq($to: medium) {
			min-height: map-get($elementHeight, mobile);
			padding-top: 11px;
		}

		&:hover,
		&:active,
		&:focus {
			color: $colorBlack;
			background-color: $colorYellow;
		}

		&:disabled,
		&[disabled="disabled"] {

			opacity: 0.4;
			color: $colorBg;

			&:hover,
			&:active,
			&:focus {
				background-color: $colorBlack;
				color: $colorBg;
			}
		}
	}

	> span {
		display: block;
		float: left;
	}

	label {
		position: static;
		top: 0;
		left: 0;
		display: block;
		float: left;
		padding: 0;
	}
}
