/**
  * Labels which are not in ifield
  */
.formQuestion {
	display: inline-block;
}

input[type="radio"] + label,
input[type="checkbox"] + label,
input[type="radio"] + .label,
input[type="checkbox"] + .label {
	padding-left: $basicPush + $radioCheckboxDimension;

	position: relative;

	font-family: $fontSansSerifRoman;
	font-size: 1.25rem;

	margin-bottom: $basicPush;
	display: block;

	&:before {
		display: block;
		content: " ";
		position: absolute;
		left: 0;
		top: 50%;

		background-color: $colorInputTextHover;

		transform: translateY(-50%);

		width: $radioCheckboxDimension;
		height: $radioCheckboxDimension;

		border: 1px solid $colorGreyHover;
	}

	&:hover:before {
		border-color: $customScrollbarColor;
		background-color: $colorInputTextHover;
	}
}

input[type="radio"] + label {
	&:before,
	&:after {
		border-radius: 50%;
	}
}

.ArchetypesBooleanWidget input[type="checkbox"] + label {
	&:before {
		border-radius: 0;
	}
}

input[type="radio"],
input[type="checkbox"] {
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;

	opacity: 0;
	width: 0;
	height: 0;

	visibility: hidden;
}

input[type="radio"]:checked + label,
input[type="checkbox"]:checked + label,
input[type="radio"]:checked + .label,
input[type="checkbox"]:checked + .label {
	&:after {
		display: block;
		content: " ";
		position: absolute;
		top: 50%;
		left: 10px;


		transform: translateY(-50%) translateX(-41%);

		width: 11px;
		height: 11px;

		background-color: $colorBlack;
	}

	&:before {
		background-color: $colorBg;
		border-color: $colorBlack;
	}
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:checked + .label {
	@include iconDataurl($name: 'checkmark', $after: true);
	&:after {
		background-color: transparent;

		height: 11px;
		width: 14px;
		left: 10px;
	}
}

input[type="radio"].error:checked + label,
input[type="checkbox"].error:checked + label,
input[type="radio"].error:checked + .label,
input[type="checkbox"].error:checked + .label{
	&:before {
		border: 2px solid $colorErrorRed;
	}
}

/**
  * Input
  */
.field {
	input,
	textarea {
		border: 0;

		background: $colorInputTextHover;
		border: 1px solid $colorGreyHover;
		border-radius: 0;
		box-shadow: none;

		-webkit-appearance: none;

		&:hover {
			border: 1px solid $customScrollbarColor;
		}

		&:focus {
			background-color: $colorBg;
			border: 1px solid $colorBlack;

			outline: none;
		}
	}
}

/**
  * Resetting default number input
  */
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type=number] {
	-moz-appearance: textfield;
}

/**
  * Checkboxes and radios
  */



/**
  * Textfields
  */
.search__string,
.field {
	position: relative;

	min-height: map-get($elementHeight, desktop);

	float: left;
	width: 100%;

	line-height: 1;

	label,
	span.label,
	.fieldErrorBox {
		font-size: 1.25rem;
		color: $colorBorderGrey;
		position: absolute;

		top: 23px;

		transition: all $transitionLength / 2 $transitionEase;
		z-index: 10;

		@include mq($to: medium) {
			top: 0;
		}
	}

	label,
	span.label {
		cursor: text;
	}

	input,
	textarea {
		display: block;
		width: 100%;

		padding-top: 18px;

		position: absolute;
		top: 0;
		left: 0;
		bottom: 0;

		font-size: 1.25rem;
		border: 1px solid $colorGreyHover;

		resize: none;

		&:focus {
			border-color: $colorBlack;
		}

		&.error {
			border: 2px solid $colorErrorRed;
		}

		@include mq($to: medium) {
			padding-top: 13px;
		}
	}

	input,
	label,
	span.label,
	textarea {
		padding-left: 18px;

		@include mq($to: medium) {
			padding-left: 13px;
		}
	}

	input,
	textarea {
		padding-left: 17px;

		@include mq($to: medium) {
			padding-left: 12px;
		}
	}

	.fieldErrorBox {
		right: $basicPush * 1.1;
		color: $colorErrorRed;
		font-family: $fontSansSerifBold;
	}

	&.field__textarea {
		min-height: map-get($elementHeight, desktop) * 2;

		@include mq($to: medium) {
			min-height: map-get($elementHeight, mobile) * 2;
		}
	}

	/**
  * Different sizes for the text input
  */
	&.xs {
		width: 26.5%;
	}

	&.small {
		width: 30.25%;
	}

	&.medium {
		width: 66.25%;
	}

	&.large {
		width: 70%;
	}

	@include mq($to: medium) {
		min-height:  map-get($elementHeight, mobile);;
	}
}

.field.is_filled label,
.field.is_focused label,
.fieldErrorBox {
	font-size: 0.91666667rem;
	top: 13px;

	@include mq($to: medium) {
		top: -9px;
	}
}

/**
  * Forms
  */
.form {
	fieldset {
		border: none;
		padding: 0;
		margin-bottom: $basicPush;

		div.ArchetypesStringWidget:first-child:not(last-child) {
			margin-right: 3.5%;
		}
	}

	.field {
		margin-bottom: $basicPush;
	}
}

span.option {
	display: block;

	@include clearfix();

	.label {
		display: block;
		position: relative;
	}
}
