h1, h2, h3, h4, h5 {
	margin: 0;
	font-weight: normal;
}

h1 {
	font-family: $fontSerifRoman;
	font-size: 3.33333333rem;
	margin-bottom: $basicPush * 1.3;
	line-height: 1.3;
	font-weight: 600;

	&:after {
		background-color: $colorYellow;
		content: " ";
		height: 4px;
		width: 80px;
		display: block;
		margin-top: $basicPush * 1.3;

		@include mq($to: medium) {
			margin-top: $basicPush;
		}
	}

	@include mq($to: betweener) {
		font-size: 3rem;
	}

	@include mq($to: medium) {
		font-size: 2.83333rem;
		margin-bottom: $basicPush * 2;
	}

	@include mq($to: small) {
		font-size: 2rem;

		&:after {
			width: 60px;
		}
	}

	&#search-title {
		padding-left: $gutterWidth;
		padding-right: $gutterWidth;

		margin-bottom: 0px;

		&:after {
			display: none;
		}
	}
}

h2 {
	font-weight: 700;
	font-size: 1.83333rem;
	line-height: 1.1;

	padding-bottom: $basicPush * 1.8;

	position: relative;

	border-bottom: 4px solid $colorGreyHover;

	@include mq($to: small) {
		font-size: 1.75rem;
	}

	&.startpage__title {
		text-align: center;
		position: relative;

		margin-bottom: $basicPush * 3;
		padding-bottom: 25px !important;
		border-bottom: none;
		margin-top: $basicPush * 4;

		&:after {
			position: absolute;
			width: 80px;
			height: 4px;

			content: " ";

			background-color: $colorYellow;

			left: 50%;
			transform: translateX(-50%);

			top: 80%;

			@include mq($to: small) {
				top: 88%;
			}
		}
	}

	+ .content__element {
		.widg_accordeon {
			margin-top: 10px;
		}
	}
}

h3 {
	font-size: 1.66667rem;
	font-weight: 700;
	line-height: 1.6;
	margin-top: $basicPush * 2;

	@include mq($to: small) {
		font-weight: 600;
		font-size: 1.5rem;
	}
}

h3 + p {
	margin-top: 0;
}

h4 {
	font-weight: 700;
	font-size: 1.5rem;
}
