h1, h2, h3, h4, h5 {
	margin: 0;
	font-weight: normal;
}

h1 {
	font-family: $fontSerifRoman;
	font-size: 3.33333333rem;
	margin-bottom: $basicPush * 1.3;
	line-height: 1.3;
	font-weight: 600;

	&:after {
		background-color: $colorYellow;
		content: " ";
		height: 4px;
		width: 80px;
		display: block;
		margin-top: $basicPush * 1.3;
	}

	@include mq($to: betweener) {
		font-size: 3rem;
	}

	@include mq($to: medium) {
		font-size: 2.83333rem;
	}

	@include mq($to: small) {
		font-size: 2rem;

		&:after {
			width: 60px;
		}
	}

	&#search-title {
		padding-left: $gutterWidth;
		padding-right: $gutterWidth;
		&:after {
			display: none;
		}
	}
}

h2 {
	font-weight: 600;
	font-size: 1.83333rem;
	line-height: 1.1;

	padding-bottom: $basicPush * 1.8;

	position: relative;

	@include mq($to: small) {
		font-size: 1.75rem;
	}
}

h3 {
	font-size: 1.66667rem;
	font-weight: 700;
	line-height: 1.6;
	margin-top: $basicPush * 2;

	@include mq($to: small) {
		font-weight: 600;
		font-size: 1.5rem;
	}
}

h3 + p {
	margin-top: 0;
}

h4 {
	font-weight: 700;
	font-size: 1.5rem;
}
