img.image-left,
img.one-span,
img.image-right,
img.full-span {
	clear: both;
}

img.one-span,
img.image-left {
	@include span(3);

	margin-left: -1 * $gutterWidth;
	height: auto;

	@include mq($to: small) {
		@include span(12);

		margin-bottom: $basicPush;
		margin-right: -1 * $gutterWidth;
	}
}

img.image-right {
	@include span(3);
  float: right;
	height: auto;
	margin-right: -1 * $gutterWidth;

	@include mq($to: small) {
		@include span(12);

		margin-bottom: $basicPush;
		margin-right: -1 * $gutterWidth;
	}
}

img.full-span {
	@include span(12);

	margin-left: -1 * $gutterWidth;
	margin-right: -1 * $gutterWidth;
}

img.image-inline {
	max-width: 100%;
}

/* Only IE10+ */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {
	td img.image-inline {
		max-width: 183px;
	}
}

.img__caption {
		font-size: 1.083333rem;
    margin: 20px 0 0;
    display: block;
    color: #767573;
}

.richtext__imagelegend,
.accordeon__imagelegend,
.tabnavigation__imagelegend
 {
  font-size: 1.083333rem;
  margin: 0;
  padding: 0;
  position: relative;
  top: -25px;
  color: #767573;
}
