img.one-span,
img.image-left {
	@include span(3);

	margin-left: -1 * $gutterWidth;

	@include mq($to: small) {
		@include span(12);

		margin-bottom: $basicPush;
		margin-right: -1 * $gutterWidth;
	}
}

img.image-right {
	@include span(3);
  float: right;
	margin-right: -1 * $gutterWidth;

	@include mq($to: small) {
		@include span(12);

		margin-bottom: $basicPush;
		margin-right: -1 * $gutterWidth;
	}
}

img.full-span {
	@include span(12);

	margin-left: -1 * $gutterWidth;
	margin-right: -1 * $gutterWidth;
}
