img.image-left,
img.one-span,
img.image-right,
img.full-span {
	clear: both;
}

img.one-span,
img.image-left {
	@include span(3);

	margin-left: -1 * $gutterWidth;
	height: auto;

	@include mq($to: small) {
		@include span(12);

		margin-bottom: $basicPush;
		margin-right: -1 * $gutterWidth;
	}
}

img.image-right {
	@include span(3);
  float: right;
	height: auto;
	margin-right: -1 * $gutterWidth;

	@include mq($to: small) {
		@include span(12);

		margin-bottom: $basicPush;
		margin-right: -1 * $gutterWidth;
	}
}

img.full-span {
	@include span(12);

	margin-left: -1 * $gutterWidth;
	margin-right: -1 * $gutterWidth;
}

img.image-inline {
	max-width: 100%;

	& span.image_gallery__legend {
		margin-bottom: 0px !important;
	}
}
