.search__cat-title {
	display: block;
	font-size: 0.916667rem;

	text-transform: uppercase;
	text-decoration: none;

	font-weight: 800;
	opacity: 1;

	letter-spacing: 1.5px;

	color: $customScrollbarColor;
	padding: 10px 14px 9px 14px;
	padding-left: 0;

	border-bottom: 1px solid $colorGreyHover;

	// When on Searchpage
	.widg_searchpage & {
		padding-top: 10px;
		padding-bottom: 9px;
	}
}

a.search__cat-title {
	@include iconDataurl('pfeil-black_short', $after: true);

	position: relative;

	&:after {
		opacity: 0.5;
		position: absolute;

		top: 50%;
		transform: translateY(-50%);
		right: $searchbarPadding + 8px;

		width: 17px;
		height: 10px;
	}

	.widg_searchpage & {
		@include iconDataurl('pfeil-black', $after: true);
	}
}

// Searchbar
.search__cat {
	padding: 0 10px 50px 30px;
	margin-right: $basicPush + 5;

	@include mq($to: small) {
		padding: 0 $basicPush;
		margin-right: 0;
	}

	/**
    * On Searchpage first item shouldn't have a margin-top
    */
	.widg_searchpage & {
		&:first-of-type {
			margin-top: 16px;
		}
	}

	ul {
		width: 100%;
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

.search__cat-title-label {
	float: right;
	display: inline-block;
	text-align: right;

	margin-right: -1.5 * $basicPush;
}

[class^='search__result-'] {
	padding: 10px;
	position: relative;
	border-bottom: 1px solid $colorGreyHover;

	@include mq($to: small) {
		padding: $basicPush $basicPush 0 0;
	}

	.search__result-arrow {
		position: absolute !important;
		left: calc(100% - 38px);
		min-width: 10px;
		height: 2px;

		background-color: $colorBlack;

		top: 50%;
		transform: translateY(-1px);

		transition: all $transitionLength / 3 $transitionEase;

		@include iconDataurl('triangle-arrow_right');

		opacity: 0;

		&:before {
			position: absolute;
			content: ' ';
			display: block;

			left: 100%;
			width: 7px;
			height: 11px;

			top: 50%;

			transform: translateY(-50%);
		}
	}

	&:hover {
		background-color: $colorLightGray;
	}

	a {
		// @include clearfix();

		display: block;
		opacity: 1;
		// padding-bottom: $basicPush;
		font-size: 1.1666667rem;
		text-decoration: none;
		position: relative;
		padding-bottom: $basicPush;

		// &:before {
		// 	transition: transform $transitionLength / 3 $transitionEase;
		// 	display: inline-block;
		// 	font-weight: 400;
		// }

		// &:after {
		// 	position: absolute;

		// 	opacity: 0;

		// 	width: 17px;
		// 	height: 10px;

		// 	right: 16px;
		// 	top: 50%;
		// 	transform: translateY(-50%);

		// 	transition: all $transitionLength / 3 $transitionEase;
		// }

		// &:hover {
		// 	background-color: $colorLightGray;

		// 	span:not(.bold),
		// 	span:not(.bold):before,
		// 	li.search__result-normal a {
		// 		transform: translateX($transitionTransformLinkMove);
		// 	}

		// 	&:after {
		// 		opacity: 1.0;
		// 		right: 11px;
		// 	}

		// 	// .search__result-arrow,
		// 	// + .search__result-arrow {
		// 	// 	min-width: 20px;
		// 	// 	transform: translateY(-1px);
		// 	// 	opacity: 1;

		// 	// 	&:before {
		// 	// 		transform: translateY(-50%);
		// 	// 	}
		// 	// }
		// }

		.event-info {
			font-size: 1rem;
			color: $colorBorderGrey;
		}
	}

	.path_string {
		font-size: 1.083333rem;
		color: $colorTextGrey;

		display: block;
	}

	.description {
		display: block;
	}

	&:last-of-type a {
		border-bottom: none;
	}

	&.search__result-doc {
		a {
			@include iconDataurl('download-arrow', $after: true);

			&:after {
				display: none;
			}

			&:hover:after {
				display: block;
			}
		}
	}

	span.bold {
		font-weight: 700;
	}

	.result__top {
		display: flex;
		flex-direction: row;

		@include mq($to: small) {
			flex-direction: column-reverse;
		}

		.breadcrumbs {
			position: relative;
			display: flex;
			flex-wrap: nowrap;
			align-items: center;
			flex: 15;
			margin-right: $basicPush * 2;
			max-width: 630px;
			margin: 0;
			overflow-x: scroll;

			&::-webkit-scrollbar {
				display: none;
				width: 0;
				height: 10px;
				background: transparent;
			}

			@include mq($from: medium) {
				&::-webkit-scrollbar-thumb {
					&:hover {
						background: red;
					}
				}
			}

			span {
				&:nth-child(1) {
					padding-left: 0;
				}

				position: relative;
				padding: 0 ($gutterWidth / 2) 0 $gutterWidth + 3;
				font-size: 1.25rem;
				font-weight: 400;
				color: $colorBorderGrey;
				white-space: nowrap;

				line-height: 30px;
				text-decoration: none;
				opacity: 1;

				@include iconDataurl('triangle-arrow_right_grey', $after: true);

				&:after {
					position: absolute;
					content: ' ';
					display: block;
					width: 6px;
					height: 7px;
					top: 50%;
					transform: translate(50%, -50%);
					right: -1 * $basicPush * 0.75;

					:last-child {
						background: red;
					}
				}
			}
			// Svelte Search - Tooltip
			.listing__tooltip {
				&:first-child {
					padding-left: 0;
				}

				&:last-child {
					span {
						&:after {
							background: unset;
						}
					}
				}
			}
		}

		.result__type {
			display: flex;
			justify-content: flex-end;
			align-items: center;
			height: map-get($elementHeight, tiny);
			flex: 3;
			text-transform: capitalize;

			@include mq($to: small) {
				justify-content: flex-end;
			}

			span {
				line-height: unset;
				padding: 0 $basicPush + 2;
				margin-right: 0;
				color: $colorBlack;
				background: $colorBg;
				border: 2px solid $colorLightGray;
				font-weight: 400;
				font-size: 12px;
			}
		}
	}

	.button {
		&.slick-arrow {
			height: 22px;
			line-height: 0;
			padding: 0 2px;
			color: $colorLightGray;
			background: $colorBg;
			border: 2px solid $colorLightGray;
			font-weight: 200;

			&.prev {
				margin-right: $basicPush;
			}

			&.next {
				margin-left: $basicPush;
			}

			&:hover {
				color: $colorBlack;
			}
		}
	}

	.title {
		display: inline-block;
		font-size: 1.7rem;
		font-weight: 400;
		line-height: 1.2;
		overflow: hidden;
		padding: $basicPush 0;
		width: 100%;
	}

	.description {
		display: inline-block;
		width: 100%;
		font-size: medium;
		font-weight: 400;
		color: $colorBorderGrey;
		hyphens: auto;
	}

	.additional_desc {
		display: inline-block;
		font-weight: 400;
		font-size: $basicPush + 5;
		color: $colorTextGrey;
		padding-top: $basicPush;
	}
}

.search__result-event a {
	@include iconDataurl('ical');

	// basic padding left event icon width margin between text and event icon
	padding-left: 50px;

	&:before {
		position: absolute;
		left: 14px;

		width: 22px;
		height: 22px;
		transform: translateY(3px);
		transition: transform $transitionLength / 3 $transitionEase;
	}

	&:hover:before {
		transform: translateY(3px) translateX($transitionTransformLinkMove);
	}

	.title {
		display: block;
	}
}

.search__result-show-all a {
	font-weight: 600;

	padding: 12px 13px !important;
}

.search__result-wb td:first-child,
.search__result-wb td:nth-child(0n + 2) {
	max-width: 355px;
	width: 355px;
}

/**
  * Results on the searchpage
  */
.widg_searchpage [class^='search__result-'] {
	padding: 0;
	position: relative;

	a {
		padding: 25px 0 24px 0;
		@include clearfix;
		position: relative;
	}

	&.search__result-doc {
		a {
			@include iconDataurl('download-arrow', $after: true);

			&:after {
				display: none;
			}
			&:hover:after {
				display: block;
			}
		}
	}

	span {
		display: inline-block;
		float: none !important;

		&.title {
			@include span(8);
		}

		&.study_type,
		&.event-info,
		&.file-type {
			@include span(3);
			text-align: right;

			font-size: 1.166667rem;
		}
	}
}

.widg_searchpage .search__result-event {
	a {
		@include iconDataurl('event');

		// basic padding left event icon width margin between text and event icon
		padding-left: 4px + 22px + 12px;

		&:before {
			top: 50%;
			transform: translateY(-50%);
		}

		&:hover:before {
			transform: translateY(-50%) translateX($transitionTransformLinkMove);
		}
	}
}

/**
  * Helper classes for search
  */
.visible-in-bar {
	display: none;

	.widg_searchbar-bar & {
		display: inline;
	}
}

.visible-in-page {
	display: none;

	.widg_searchpage & {
		display: inline-block;
	}
}

.search__form-wrapper {
	box-shadow: 0 7px 14px 0 rgba($colorBlack, 0.07);

	> div {
		@include clearfix;
	}

	&.search__form-wrapper___with-letter-list {
		padding-bottom: 0 !important;
	}
}

.search__letter-list {
	padding: 0 $gutterWidth;

	margin-top: $basicPush * 2;

	a {
		display: block;
		float: left;

		width: 3.84%;
		text-align: center;

		height: 50px;
		line-height: 50px;

		color: $colorMittleresGrau;

		text-decoration: none;

		&:hover,
		&:focus {
			background-color: rgba($colorLightGray, 0.5);
			color: $colorBlack;
		}
	}
}

.search__word-list {
	padding-top: $basicPush * 2;

	> div {
		@include clearfix();

		margin-bottom: $basicPush * 4;
	}

	h2:not(.childless) {
		color: $customScrollbarColor;

		border-bottom: 3px solid $customScrollbarColor;
	}

	.search__result-word-list {
		width: 33.33333%;
		float: left;

		a {
			border-bottom: 1px solid $colorGreyHover;
			padding-left: $basicPush;
		}

		@include mq($to: medium) {
			width: 50%;
		}

		@include mq($to: small) {
			width: 100%;
		}
	}
}
/* Weitere Durchführungen */
span.search__next-executions-link {
	display: block;

	&:hover {
	}

	& a {
		text-decoration: underline;
		display: inline-block;
		color: $colorBlack !important;
		font-size: inherit !important;
		width: 100% !important;
		font-weight: 500;

		&:hover {
		}
	}
}

.icon-sortable {
	display: inline-block;
	vertical-align: middle;
	margin-left: 15px;
	color: $colorBlack;
	cursor: pointer;

	& .sortable-up,
	.sortable-down {
		color: $colorGreyHover;
		cursor: pointer;

		&:hover {
			color: $colorBlack;
		}
	}

	&:hover {
		color: $colorBlack;
	}
}
