p {
	font-size: $textSize;
	font-family: $fontSerifRoman;
	line-height: 1.625;
	margin-top: 15px;
	margin-bottom: 30px;
	font-weight: 500;
	color: $colorTextDarkGrey;

	& + ul {
		margin-top: -15px;
	}

	@include mq($to: small) {
		font-size: 1.25rem;
		line-height: 23px;
	}

	b {
		font-weight: 700;
	}
}

.text__lead {
	font-size: 1.8333rem;
	line-height: 1.545454;
	margin-bottom: $basicPush * 2;
	margin-top: 0;
	font-weight: 500;
	color: $colorTextGrey;

	+ .content__element {
		margin-top: 50px;
	}

	@include mq($to: small) {
		font-size: 1.5rem;
		line-height: 1.5555555;
		margin-bottom: 0;
	}
}

.startpage-page {
	& .layout_content {
		@include mq($to: small) {
			padding-left: 16px;
			padding-right: 16px;
		}
	}

	& .text__lead {
		text-align: center;
	}
}

.text__lead + .has_grid {
	margin-top: $basicPush * 6.6;
}

.text__lead + div .content__element.has_grid {
	margin-top: 50px;
}

span.bold,
b {
	font-weight: 700;
}
