.responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	margin-bottom: 50px;

	@include mq($from: medium) {
		margin-bottom: $basicPush * 10;
	}

	@include mq($to: small) {
		margin-bottom: $basicPush * 10;
	}
}

.responsive-video.no-title {
	position: relative;
	padding-bottom: 56.25%;
	margin-bottom: -5px;
}

.responsive-video__small {
	padding-bottom: 0;
}

.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
	border: none;
	overflow: hidden !important;
}

.responsive-video__small iframe,
.responsive-video__small object,
.responsive-video__small embed {
	@include mq($to: medium) {
		width: 560px;
		height: 360px;
	}

	@include mq($to: small) {
		width: 100%;
		height: auto !important;
	}
}

.no-scale iframe {
	border: none;
	overflow: hidden !important;
}
