.responsive-video {
	position: relative;
	padding-bottom: 56.25%;
	margin-bottom: 50px;
}

.content__element .responsive-video {
	margin-bottom: 0;
};

.responsive-video__small {
	padding-bottom: 0;
}

.responsive-video iframe,
.responsive-video object,
.responsive-video embed {
	position: absolute;
	left: 0;
	width: 100%;
	height: 100%;
}

.responsive-video__small iframe,
.responsive-video__small object,
.responsive-video__small embed {

	@include mq($to: medium) {
		width: 560px;
		height: 360px;
	}

	@include mq($to: small) {
		width: 100%;
	}
}
