{{#extend "layouts/layout"}}
	{{#content "hero"}}
		{{> "widgets/hero/hero" widgets.hero}}
	{{/content}}
	{{#content "content"}}
    <div class="page_content">
      <h1>{{title}}</h1>
      <p class="text__lead">
				{{leadText}}
      </p>

			{{> "widgets/in_content_search/in_content_search" widgets.inContentSearch}}

			<div class="content__element">
				<p>In ihrem Forschungs- und Entwicklungsschwerpunkt ‹Soziale Innovation› analysiert, initiiert und begleitet sie Innovationsprozesse in Kooperation und im Austausch mit der Praxis. Sie fördert damit die Professionalisierung der Sozialen Arbeit und trägt massgeblich zum Verständnis und zur innovativen Bearbeitung sozialer Probleme und gesellschaftlicher Herausforderungen bei.
        </p>
				<img class="one-span" src="/assets/media/img/symbol_faculty.png" alt="Symbolbild"/>
				<p>Die Hochschule für Soziale Arbeit FHNW steht für "Soziale Innovation". Sie analysiert und erzeugt "Soziale Innovation", indem sie in kooperativen Prozessen wissenschaftliches Wissen und Erfahrungswissen der Praxis verschränkt, dieses kritisch hinterfragt und zur Entwicklung von neuem handlungsleitendem Wissen nutzbar macht.</p>
			</div>

			<div class="content__element">
				<h2>Master of Advanced Studies (MAS)</h2>
				{{> "widgets/teaser/teaser" widgets.masTeasers}}
			</div>

			<div class="content__element">
				<h2>Diploma of Advanced Studies (DAS)</h2>
				{{> "widgets/teaser/teaser" widgets.dasTeasers}}
			</div>

			<div class="content__element">
				<h2>Certificate of Advanced Studies (CAS)</h2>

				{{> "widgets/extendedlinks/extendedlinks" widgets.casLinks}}
			</div>

			<div class="content__element content__element___bleed content__element___borderless">
				{{> "widgets/blockquote/blockquote" widgets.testimonial}}
			</div>

			<div class="content__element">
				<h2>Aktuelle News</h2>

				{{> "widgets/extendedlinks/extendedlinks" widgets.news}}
			</div>

    </div>
		{{> "widgets/subnav/subnav" widgets.subnav heroImage=widgets.hero.heroImage}}


    <div class="content__element content__element___bleed content__element___top-bordered" id="locations">

			{{> "widgets/location_slider/location_slider" widgets.locationSlider}}
      <div class="only-phone">
				{{> "widgets/accordeon/accordeon" widgets.locationAccordeon }}
      </div>
    </div>
	{{/content}}
{{/extend}}
