.widg_svelte_searchpage {
	form {
		display: flex;
		flex-direction: row;

		input {
			flex: 5;
			outline: none;
		}

		button {
			flex: 1;
		}
	}

	.search__cat {
		@include mq($to: small) {
			// padding: 0 $basicPush;
			// background: red;
		}
	}

	ul {
		li {
			&::before {
				content: '' !important;
			}
		}
	}

	.widg_search_proposals {
		ul {
			li {
				padding-left: $basicPush * 3;
			}
		}
	}

	.search__string {
		float: unset;
	}
}

.sg_demo .widg_searchbar-bar {
	position: relative;
	margin: auto;
	right: 0px;
	left: 0px;
	bottom: 0;
	opacity: 1;
	visibility: visible;
	background-color: #fff;
	z-index: 1;
	width: 800px;
}
