.widg_svelte_searchpage {
	form {
		display: flex;
		flex-direction: row;

		input {
			flex: 5;
			outline: none;
		}

		button {
			flex: 1;
		}
	}

	.search__cat {
		padding: 0;

		&.gradient_prev:before {
			position: absolute;
			z-index: 3000;
			content: '';
			width: $basicPush * 7;
			height: $basicPush * 3.8;
			margin-top: $basicPush * 2;
			background: linear-gradient(
				to right,
				rgb(255, 255, 255) 0%,
				rgba(255, 255, 255, 0) 100%
			);
		}

		&.gradient_next:after {
			position: absolute;
			right: 0;
			top: 145px;
			z-index: 3000;
			content: '';
			width: $basicPush * 7;
			height: $basicPush * 3.8;
			margin-top: 0;
			background: linear-gradient(
				to left,
				rgb(255, 255, 255) 25%,
				rgba(255, 255, 255, 0) 100%
			);
		}
	}

	ul {
		li {
			&::before {
				content: '' !important;
			}
		}
	}

	.widg_search_proposals {
		ul {
			li {
				padding-left: $basicPush * 3;
			}
		}
	}

	.search__string {
		float: unset;
	}
}

.sg_demo .widg_searchbar-bar {
	position: relative;
	margin: auto;
	right: 0px;
	left: 0px;
	bottom: 0;
	opacity: 1;
	visibility: visible;
	background-color: #fff;
	z-index: 1;
	width: 800px;
}
