<div class="widg_headerfoot widg_header__hide-on-shrinked" data-init="headerfoot">
	{{> "widgets/langswitcher/langswitcher" widgets.languageSwitcher }}
	{{> "widgets/headermetanavigation/headermetanavigation" widgets.headerMetaNavigation }}
	{{> "widgets/somelinks/somelinks" widgets.soMeLinks }}
</div>
