.widg_subnav {
	transform: translateY(-1 * $contentMarginTop - $smallElementHeight);

	&.has-no-breadcrumb {
		transform: translateY(-1 * $contentMarginTop);
	}

	&.widg_subnav___no-hero {
		transform: none;

		.widg_subnav__title {
			position: static;
			width: 100%;
			transform: none;
		}
	}

	position: absolute;

	margin-left: 0;
	padding: 0;

	right: basicUnitHeight(normal);

	width: 17.8%;

	> .widg_subnav__inner {
		@include container();
	}

	@include mq($from: medium, $to: large) {
		right: basicUnitHeight(small);
	}

	@include mq($from: wide) {
		right: basicUnitHeight(xxl);
	}

	@include mq($to: subnav) {
		position: static;

		@include span(12);

		margin-bottom: $basicPush * 2;
		transform: none;
	}
}

/**
  * The title box
  */
.widg_subnav__title {

	background-color: rgba($colorBlack, 0.8);
	position: absolute;
	transform: translateY(-100%);
	width: 100%;
	line-height: 24px;

	@include mq($to: subnav) {
		display: none;
	}
}


.widg_subnav__main-link {
	padding: 29px 22px;
	position: relative;

	a {
		opacity: 1;
		text-decoration: none;
	}

	.has-subtitle & {
		padding-bottom: 0;
	}

	h2:not(.childless) {
		color: $colorBg;
		line-height: 24px;

		font-size: 1.5rem;

		font-weight: 300 !important;

		padding-bottom: $basicPush * 1.4;
		position: relative;

		border-bottom: none !important;

		&:after {
			position: absolute;

			height: 1px;
			background-color: $colorBg;
			left: 0;
			bottom: 0;

			width: 50px;
			display: block;
			content: " ";
		}
	}
}

.widg_subnav__logo {
	max-height: 100px;
	max-width: 100px;
	margin-bottom: $basicPush * 2;
}

.widg_subnav__subtitle {

	padding: 10px 22px 20px 22px;

	a {
		font-weight: normal;
    text-decoration: none;
    font-size: inherit;
	}

	span {
		color: $colorBg;
		font-size: 1.25rem;

		display: block;
	}
}

/**
  * The link list
  */

.widg_subnav__list {

	@include mq($from: subnav) {
		max-height: 80vh;
		overflow: auto;
	}

	ul {
		@include resetList();

		width: 100%;

		li {
			position: relative;
			min-height: $smallElementHeight;
			display: block;
			float: left;
			width: 100%;
			padding: 0;

			&:before {
				display: none;
			}

			a {
				display: block;
				float: left;
				width: 100%;

				font-weight: 600;
				font-size: 1.25rem;

				background-color: $colorLightGray;
				border-bottom: 2px solid $colorBg;
				padding: 14px 52px 14px 14px;
				text-decoration: none;
				opacity: 1;

				color: $colorTextDarkGrey;

				@include iconDataurl($name: 'triangle-arrow_right_darkgrey', $after: true);

				transition: all $transitionLength / 6 $transitionEase;

				&:hover {
					background-color: $colorGreyHover;
					cursor: pointer;
					color: $colorBlack;

					@include iconDataurl($name: 'triangle-arrow_right', $after: true);

					&:after {
						content: " ";
						display: block;
						position: absolute;

						right: 14px;
						top: 50%;
						transform: translateY(-50%);

						width: 10px;
						height: 10px;
					}
				}

				&:after {
					content: " ";
					display: block;
					position: absolute;

					right: 14px;
					top: 50%;
					transform: translateY(-50%);

					width: 10px;
					height: 10px;
				}

				&.is_back {
					background-color: $colorSubNavActive;
					padding: 14px 14px 14px 37px;

					&:hover {
						background-color: $colorYellow;
					}

					&:after {
						right: auto;
						left: 14px;

						transform: translateY(-60%) rotate(180deg);
					}
				}
			}
		}
	}
}

/**
  * Demo Styles
  */

.sg_demo .widg_subnav {
	position: static;
	transform: none;

	max-width: 300px;

	.widg_subnav__title {
		position: static;
		width: 100%;
		transform: none;
	}
}
