{{#extend "layouts/layout"}}
	{{#content "hero"}}
		{{> "widgets/hero/hero" widgets.hero}}
	{{/content}}
	{{#content "content"}}
		<div class="page_content">
			<h1>{{title}}</h1>
			<p class="text__lead">
				{{text}}
			</p>
      <div class="content__element">
        <p>Im Mittelpunkt steht sowohl die berufliche Integration, als auch die soziale und gesundheitliche Integration von
        </p>
        <ul>
          <li>erwerbstätigen Personen, die auf Grund von Krankheit oder Unfall in ihrer Leistungserbringung verändert oder beeinträchtigt sind; und</li>
          <li>erwerbsfähigen Personen mit erschwerten Zugängen bei der Erst- und Reintegration in den Arbeitsmarkt; hierzu gehören unter anderem Personen, die erwerbslos sind, Personen mit Migrationshintergrund, junge Personen mit gesundheitlichen Belastungen, Personen mit Beeinträchtigungen und Behinderungen.</li>
        </ul>
      </div>
      <div class="content__element">
        <h2>Freies Gestaltungsfeld</h2>
       	<p>Zur Unterstützung einer individuellen Profilbildung bieten wir zum generalistischen Studium Vertiefungsreichtungen und weitere spezielle Module an. Wir legen zudem besonderen Wert auf die Verbindung von Lehre und Forschung.</p>
				<img class="one-span" src="/assets/media/img/apevent1.png" alt="Ein Bild"/>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Do consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. </p>
      	<h3>Untertitel</h3>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Do consectetuer adipiscing elit. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.
        </p>
				<p>
          Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.
				</p>
			</div>
      <div class="content__element">
        <h2>Ziele & Nutzen</h2>
        <p>Am Ende dieses Bachelor Studiums sind Sie qualifiziert für die professionelle Tätigkeit in den Beurfsfeldern Sozialpädagogik und Sozialarbeit sowie für die Bearbeitung sozialer Probleme und gesellschaftlicher Herausforderungen.</p>
      </div>
      <div class="content__element">
        <h2>Vertiefungen</h2>
				<p>Bereits im 2. Jahr des Studiums werden Sie ihre Vertiefung wählen. Nützliche Informationen dazu finden Sie hier:</p>
				{{> "widgets/tabnavigation/tabnavigation" widgets.tabnavigation}}
			</div>
      <div class="content__element">
        <h2>Zielgruppe</h2>
				<p>Unser Bachelor Studium in Sozialer Arbeit richtet sich an Personen mit einem ausgeprägten Interesse an einzelnen Menschen, Familien und Gruppen in problemsituationen und erschwerten Lebenslagen. Ein Bachelor Studium in Sozialer Arbeit eigenet insbesondere auch für Personen mit einem sehr hohen Mass Helfersyndrom.</p>
			</div>
      <div class="content__element">
        <h2>Joker Feld</h2>
        <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu.</p>
			</div>
      <div class="content__element content__element___borderless only-phone">
				{{> "widgets/sidebar_key_data/sidebar_key_data" widgets.sidebar.widgets.keydata}}
      </div>
      <div class="content__element">
        <h2>Inhaltliche Informationen zum Studium</h2>
				{{> "widgets/accordeon/accordeon" widgets.informationAccordeon}}
      </div>
      <div class="content__element">
        <h2>Organisatorisches</h2>
				{{> "widgets/accordeon/accordeon" widgets.organisationAccordeon}}
      </div>
			<div class="content__element content__element___bordered">
				<h2>Anmeldung für den Studiengang</h2>
				<p>Anmeldeinformationen Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
				<a class="button" href="#">Online Anmelden</a>
			</div>
      <div class="content__element content__element___bordered" id="targetInfoEvents">
        <h2>Informationsveranstaltungen</h2>
				{{> "widgets/info_teaser/info_teaser" widgets.infoEvents }}
      </div>

      <div class="content__element content__element___borderless only-phone">
				{{> "widgets/sidebar_contact/sidebar_contact" widgets.sidebar.widgets.contact}}
      </div>
		</div>
		{{> "widgets/subnav/subnav" widgets.subnav heroImage=widgets.hero.heroImage}}

		{{> "widgets/sidebar/sidebar" widgets.sidebar}}

    <div class="page_content">
      <div class="content__element content__element___top-bordered">
        <h2>Querlinks</h2>
				{{> "widgets/extendedlinks/extendedlinks" widgets.querlinks}}
      </div>
    </div>

    <div class="content__element content__element___bleed" id="locations">
      <div class="bleed__inner site-has-sidebar">
        <h2>Durchführungsorte</h2>
        <p>Der Studiengang wird am Standort Olten und Brugg durchgeführt. Lorem ipsum dolor vanitas carpe diem memento mori.</p>
      </div>
			{{> "widgets/location_slider/location_slider" widgets.locationSlider}}
			<div class="only-phone">
				{{> "widgets/accordeon/accordeon" widgets.locationAccordeon }}
			</div>
    </div>

	{{/content}}
{{/extend}}
