{{#extend "layouts/layout"}}
	{{#content "hero"}}
		{{> "widgets/hero/hero" widgets.hero}}
	{{/content}}
	{{#content "content"}}
		<div class="page_content searchpage">
			<h1 id="search-title">{{title}}</h1>
			<div class="content__element">
				<div class="widg_svelte_searchpage"></div>
			</div>
		</div>
      
		<div class="widg_subnav svelte" data-init="subnav"></div>

		{{> "widgets/sidebar/sidebar" widgets.sidebar}}
    
	{{/content}}
{{/extend}}