{{#extend "layouts/layout"}}
	{{#content "hero"}}
		{{> "widgets/hero/hero" widgets.hero}}
	{{/content}}
	{{#content "content"}}
		<div class="page_content">
			<h1>{{title}}</h1>
			<div class="content__element">
				<div class="widg_svelte_searchpage"></div>
			</div>
		</div>
      
		{{> "widgets/subnav/subnav" widgets.subnav heroImage=widgets.hero.heroImage}}

		{{> "widgets/sidebar/sidebar" widgets.sidebar}}
    
	{{/content}}
{{/extend}}