<div class="widg_edu_contents" data-init="edu_contents" data-nav-application="{{ langStrings.application }}" data-nav-events="{{ langStrings.events }}" data-nav-contact="{{ langStrings.contact }}">
    {{#if widgets.keydata }}
			<div class="edu__content" data-sidebar="content">
				{{> "widgets/edu_key_data/edu_key_data" widgets.keydata }}
			</div>
    {{/if}}

		{{#if langStrings.message }}
    <div class="edu__info">
        <p class="edu__info_icon">&nbsp;</p>
        <p class="edu__info_message">{{ langStrings.message }}</a></p>
    </div>
		{{/if}}

	<div class="edu__details">
		{{#if widgets.events}}
			{{> "widgets/edu_events/edu_events" widgets.events }}
		{{/if}}
		{{#if widgets.application}}
			{{> "widgets/edu_application/edu_application" widgets.application}}
		{{/if}}
	</div>
</div>
