.widg_edu_contents {
	@include bleed;
	// background-image: url('/++theme++web16theme/assets/media/img/blockquote_bg.png');
	background-image: url(https://www.fhnw.ch/++theme++web16theme/assets/css/++theme++web16theme/assets/media/img/blockquote_bg.png);
	background-size: 100% 100%;
	padding-top: $basicPush * 3;
	padding-bottom: $basicPush * 2;

	.edu__content {
		display: block;
		width: 100%;
		border: 1px solid $colorGreyHover;
		background: $colorBg;
		padding-top: 0;
		padding-bottom: $basicPush;
		margin-bottom: $basicPush + 5;

		h2.edu__title {
			margin-bottom: $basicPush;
			font-size: $basicPush * 2.2;

			&::after {
				background-color: transparent;
			}
		}

		dl {
			display: flex;
			flex-wrap: wrap;
			padding: 0 $basicPush * 2.5;
			padding-bottom: 0;
			margin-top: 0;
			margin-bottom: 0;

			@include mq($to: small) {
				padding-bottom: 0;
			}

			&:last-child {
				padding-bottom: 0;
			}

			.datas {
				width: 33%;
				box-sizing: border-box;

				@include mq($to: medium) {
					width: 50%;
				}

				@include mq($to: small) {
					width: 100%;
					border-bottom: 1px solid $colorGreyHover;

					&.remove__line {
						border-bottom: 0;
					}

					&.bottom__line {
						border-bottom: 1px solid $colorGreyHover;
					}
				}

				padding: $basicPush;
				padding-left: 0;

				&:last-child {
					border-bottom: none;
					padding-bottom: 0;
				}
			}

			dt {
				font-size: 15px;
				color: $colorText;
				line-height: 20px;
				font-weight: 700;
				margin-inline-start: 0;
			}
			dd {
				font-size: 15px;
				color: $colorText;
				margin-inline-start: 0;
				hyphens: auto;
				margin-left: 0;

				a {
					font-size: 15px;
					display: block;
					overflow: hidden;
					text-overflow: ellipsis;
				}
			}

			.ruler {
				width: 100%;
				padding: 0;
				margin: 0;
				border-bottom: 1px solid $colorGreyHover;

				&:last-child {
					display: none;
				}
			}
		}

		.toggler {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: $basicPush * 2;
			margin-bottom: $basicPush;

			@include mq($from: small) {
				display: none;
			}
		}

		.show-more {
			width: 90%;
			margin: 0 auto;
			color: $colorText;
			background: $colorBg !important;
			border: 2px solid $colorGreyHover;
			cursor: pointer;

			@include mq($from: small) {
				display: none;
			}
		}

		.edu__key_data {
			transition: height 1s linear;
		}
	}

	.edu__info {
		display: flex;
		flex-direction: row;
		justify-content: flex-start;
		align-items: flex-start;
		margin-bottom: $basicPush;

		.edu__info_icon {
			display: flex;
			width: $basicPush * 2;

			@include iconDataurl('information');

			padding-top: 5px;
			margin: 0;
			margin-right: 5px;
		}

		.edu__info_message {
			padding-bottom: $basicPush - 4;
			padding-top: 2px;
			padding-right: 5px;
			margin-left: 5px;
			margin-top: 0;
			font-size: 15px;
		}
	}

	.edu__details {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		@include mq($to: small) {
			flex-direction: column;
		}
	}
}

#edu__product_nav {
	position: fixed;
	bottom: 0;

	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	width: 100%;
	z-index: 1000;

	background: $colorBg;
	border-top: 1px solid $formIconColor;
	padding: 0 $basicPush * 2;

	@include mq($from: 'small') {
		display: none;
	}

	.icon {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: $basicPush - 5;
		
		font-size: 12px;
		font-weight: 600;
		text-decoration: none;
		font-weight: 500;
		cursor: pointer;

		&.icon__contact {
			@include iconDataurl('contact');
		}

		&.icon__info {
			@include iconDataurl('info');
		}

		&.icon__application {
			@include iconDataurl('application');
		}
	}
}
