.widg_edu_contents {
	@include bleed;
	// background-image: url('/++theme++web16theme/assets/media/img/blockquote_bg.png');
	background-image: url(https://www.fhnw.ch/++theme++web16theme/assets/css/++theme++web16theme/assets/media/img/blockquote_bg.png);
	background-size: 100% 100%;
	padding-top: $basicPush * 3;
	padding-bottom: $basicPush * 2;

	.object__title {
		padding-left: $basicPush * 2;
		background: $colorBg;

		h2.edu__title {
			font-size: 2rem;
			padding-left: 0;
			margin-bottom: 0;

			&::after {
				content: '';
				background: none;
			}
		}
	}

	.edu__content {
		display: block;
		width: 100%;
		border: 1px solid $colorGreyHover;
		background: $colorBg;
		padding-top: 0;
		margin-bottom: $basicPush + 5;

		dl {
			display: flex;
			flex-wrap: wrap;
			min-height: $basicPush * 10;
			padding: $basicPush * 2;
			padding-bottom: 0;
			margin-top: 0;
			margin-bottom: 0;

			@include mq($to: small) {
				padding-bottom: 0;
			}

			&:last-child {
				padding-bottom: 0;
			}

			.datas {
				width: 33%;
				box-sizing: border-box;

				@include mq($to: medium) {
					width: 50%;
				}

				@include mq($to: small) {
					width: 100%;
					border-bottom: 1px solid $colorGreyHover;

					&.remove__line {
						border-bottom: 0;
					}
					
					&.bottom__line {
						border-bottom: 1px solid $colorGreyHover;
					}
				}

				padding: $basicPush;
				padding-left: 0;

				&:last-child {
					border-bottom: none;
					padding-bottom: 0;
				}
			}

			dt {
				font-weight: 700;
				margin-inline-start: 0;
			}
			dd {
				min-height: 3em;
				margin-inline-start: 0;
				hyphens: auto;
			}

			.ruler {
				width: 100%;
				padding: 0;
				margin: 0;
				border-bottom: 1px solid $colorGreyHover;

				&:last-child {
					display: none;
				}
			}
		}

		.toggler {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-bottom: $basicPush;
		}

		.show-more {
			width: 90%;
			margin: 0 auto;
			color: $colorText;
			background: $colorBg !important;
			border: 2px solid $colorGreyHover;
			cursor: pointer;

			@include mq($from: small) {
				display: none;
			}

			&.open {
			}
		}

		.edu__key_data {
			transition: height 1s linear;

		}
	}

	.edu__details {
		display: flex;
		flex-direction: row;
		justify-content: space-between;

		@include mq($to: small) {
			flex-direction: column;
		}
	}
}

#edu__product_nav {
	position: fixed;
	bottom: 0;

	display: flex;
	justify-content: space-around;
	align-items: center;
	flex-direction: row;
	width: 100%;
	z-index: 1000;

	background: $colorBg;
	border-top: 1px solid $formIconColor; 
	padding: $basicPush;
	padding-left: $basicPush * 2;
	padding-right: $basicPush * 2;

	@include mq($from: 'small') {
		display: none;
	}
	
	.icon {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding: $basicPush;
		cursor: pointer;

		&.icon__contact {
			@include iconDataurl('contact');
		}

		&.icon__info {
			@include iconDataurl('info');
		}

		&.icon__application {
			@include iconDataurl('application');
		}
	}
}
