.widg_newsletter_subscription {
	padding-top: $basicPush * 5.6;
	padding-bottom: $basicPush * 5.6;

	/* CLEVERREACH FORMS */
	.cr-error {
		color: #df305b;
	}

	/* Toggle red border if error */
	.cr-error.error {
		border: 2px solid #df305b;
	}

	& div[rel~='email'] span.cr-error {
		display: block;
		position: absolute;
		right: 0px;
		text-align: right;
		margin-right: 10px;
		margin-top: 5px;
	}

}

.ns__label {
	display: block;

	font-size: 1.5rem;
	margin-bottom: $basicPush * 2;
}

.ns__field {
	max-width: 400px;

	@include mq($to: small) {
		max-width: 275px;
	}

	&.ArchetypesStringWidget input {
		background-color: $colorBg;
	}
}

/* CLEVERREACH FORMS */
#crform .cr-error {
	color: #df305b;
}

/* Toggle red border if error */
#crform .cr-error.error {
	border: 2px solid #df305b;
}

#crform div[rel~='email'] span.cr-error {
	display: block;
	position: absolute;
	right: 0px;
	text-align: right;
	margin-right: 10px;
	margin-top: 5px;
}
