.widg_newsletter_subscription {

	/* CLEVERREACH FORMS */
	.cr-error {
		color: #df305b;
		font-size: 12px;
		font-weight: 400;
	}

	/* Toggle red border if error */
	.cr-error.error {
		border: 2px solid #df305b;
	}

	/* Toggle red border if error */
	#crform .cr-error.error {
		border: 2px solid #df305b;
	}

	#crform div[rel~='email'] span.cr-error,
	#crform div[rel~='text'] span.cr-error {
		display: block;
		position: absolute;
		right: 0px;
		text-align: right;
		margin-right: 10px;
		margin-top: 5px;
	}
}

.ns__label {
	display: block;

	font-size: 1.5rem;
	margin-bottom: $basicPush * 2;
}

.ns__field {
	max-width: 400px;

	@include mq($to: small) {
		max-width: 275px;
	}

	&.ArchetypesStringWidget input {
		background-color: $colorBg;
	}
}
