{{#extend "layouts/layout"}}
	{{#content "content"}}
		<h2>{{title}}</h2>

		<hr>

		<div>
			<h3>Buttons</h3>
			<div>
				<h4>Primär Button</h4>
				<button type="button">Speichern</button>
			</div>
			<div>
				<h4>Sekundär Button</h4>
				<button type="button" class="button__secondary">Abbrechen</button>
			</div>
		</div>
	{{/content}}
{{/extend}}
