{{#extend "layouts/layout" pageTypeClass="startpage-page"}}
	{{#content "hero"}}
		{{> "widgets/carousel/carousel" widgets.carousel}}
	{{/content}}

    {{#content "content"}}
		<div class="content__element content__element___borderless">
			{{> "widgets/teaser/teaser" widgets.teaser}}
		</div>

		<div class="content__element content__element___bleed content__element___borderless">
			{{> "widgets/infobox/infobox" widgets.infobox}}
		</div>

		<div class="content__element content__element___borderless">
			{{> "widgets/teaser/teaser" widgets.teaser}}
		</div>
    {{/content}}

{{/extend}}
