{{#extend "layouts/layout"}}
	{{#content "hero"}}
		{{> "widgets/hero/hero" widgets.hero}}
	{{/content}}
	{{#content "content"}}
    <div class="page_content">
      <h1>{{title}}</h1>
      <p class="text__lead">
				{{leadText}}
      </p>
			<h2>Image Gallery with Thumbnails</h2>
			<div class="content__element">
				<div class="widg_image_gallery slider" data-init="gallery_thumb">
						<div class="image_gallery__slide" data-index="1">
							<img src="/assets/media/img/applied_psychology.png" alt="One">
							<span class="image_gallery__legend">
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
							</span>
						</div>
						<div class="image_gallery__slide" data-index="2">
							<img src="/assets/media/img/building_brugg.png" alt="One">
							<span class="image_gallery__legend">
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
							</span>
						</div>
						<div class="image_gallery__slide" data-index="3">
							<img src="/assets/media/img/applied_psychology.png" alt="One">
							<span class="image_gallery__legend">
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
							</span>
						</div>
						<div class="image_gallery__slide" data-index="4">
							<img src="/assets/media/img/building_brugg.png" alt="One">
							<span class="image_gallery__legend">
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
							</span>
						</div>
						<div class="image_gallery__slide" data-index="5">
							<img src="/assets/media/img/applied_psychology.png" alt="One">
							<span class="image_gallery__legend">
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
							</span>
						</div>
				</div>

				<!-- THUMBNAILS -->
				<div class="slider-nav-thumbnails">
					<div><img src="/assets/media/img/applied_psychology.png" slide="slide_1"></div>
					<div><img src="/assets/media/img/building_brugg.png" slide="slide_2"></div>
					<div><img src="/assets/media/img/applied_psychology.png" slide="slide3"></div>
					<div><img src="/assets/media/img/building_brugg.png" slide="slide_4"></div>
					<div><img src="/assets/media/img/applied_psychology.png" slide="slide_5"></div>
				</div>
			</div>
			<script type="text/javascript">
				'use strict';

				window.onload = function() {
					if (window.jQuery) {

						$('.slider').slick({
						 slidesToShow: 1,
						 slidesToScroll: 1,
						 arrows: false,
						 fade: false,
						 asNavFor: '.slider-nav-thumbnails'
						});

						$('.slider-nav-thumbnails').slick({
						 slidesToShow: 3,
						 slidesToScroll: 1,
						 asNavFor: '.slider',
						 dots: false,
						 arrows: true,
						 focusOnSelect: true,
						 nextArrow: '<button type="button" class="not-default image_gallery__arrow image_gallery__next">Next</button>',
						 prevArrow: '<button type="button" class="not-default image_gallery__arrow image_gallery__prev">Previous</button>'
						});

						//remove active class from all thumbnail slides
						$('.slider-nav-thumbnails .slick-slide').removeClass('slick-active');

						//set active class to first thumbnail slides
						$('.slider-nav-thumbnails .slick-slide').eq(0).addClass('slick-active');

						// On before slide change match active thumbnail to current slide
						$('.slider').on('beforeChange', function (event, slick, currentSlide, nextSlide) {
							var mySlideNumber = nextSlide;
							$('.slider-nav-thumbnails .slick-slide').removeClass('slick-active');
							$('.slider-nav-thumbnails .slick-slide').eq(mySlideNumber).addClass('slick-active');
						});

						//UPDATED

						$('.slider').on('afterChange', function(event, slick, currentSlide){
						$('.content').hide();
						$('.content[data-id=' + (currentSlide + 1) + ']').show();

						});
					}
				}
			</script>

			<h2>Standard Image Gallery</h2>
			{{> "widgets/image_gallery/image_gallery" widgets.image_gallery}}
    </div>
	{{/content}}
{{/extend}}
