{{#extend "layouts/layout"}}
	{{#content "hero"}}
		{{> "widgets/hero/hero" widgets.hero}}
	{{/content}}
	{{#content "content"}}
    <div class="page_content">
      <h1>{{title}}</h1>
      <p class="text__lead">
				{{leadText}}
      </p>
			<h2>Image Gallery - Numbered navigation</h2>
			<div class="content__element">
				<div class="widg_image_gallery slider" data-init="gallery_thumb">
						<div class="image_gallery__slide">
							<img src="https://webteam.pages.fhnw.ch/bootstrap-styleguide/assets/img/fhnw-slider-3.jpg" alt="One">
							<span class="image_gallery__legend">
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
							</span>
						</div>
						<div class="image_gallery__slide">
							<img src="https://webteam.pages.fhnw.ch/bootstrap-styleguide/assets/img/campus-brugg-windisch.jpg" alt="One">
							<span class="image_gallery__legend">
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
							</span>
						</div>
						<div class="image_gallery__slide">
							<img src="https://webteam.pages.fhnw.ch/bootstrap-styleguide/assets/img/fhnw-slider-2.jpg" alt="One">
							<span class="image_gallery__legend">
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
							</span>
						</div>
						<div class="image_gallery__slide">
							<img src="https://webteam.pages.fhnw.ch/bootstrap-styleguide/assets/img/campusbibliothek-2.jpg" alt="One">
							<span class="image_gallery__legend">
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
							</span>
						</div>
						<div class="image_gallery__slide">
							<img src="https://webteam.pages.fhnw.ch/bootstrap-styleguide/assets/img/campus-brugg-windisch.jpg" alt="One">
							<span class="image_gallery__legend">
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
							</span>
						</div>
						<div class="image_gallery__slide">
							<img src="https://webteam.pages.fhnw.ch/web16theme-frontend/assets/media/img/libraries_overview.png" alt="One">
							<span class="image_gallery__legend">
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
							</span>
						</div>
						<div class="image_gallery__slide">
							<img src="https://webteam.pages.fhnw.ch/web16theme-frontend/assets/media/img/building_brugg.png" alt="One">
							<span class="image_gallery__legend">
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
							</span>
						</div>
						<div class="image_gallery__slide">
							<img src="https://webteam.pages.fhnw.ch/web16theme-frontend/assets/media/img/piano.png" alt="One">
							<span class="image_gallery__legend">
								Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et
							</span>
						</div>
				</div>
			</div>
			<script type="text/javascript">
				'use strict';

				window.onload = function() {
					if (window.jQuery) {
						$('.slider').slick({
						 slidesToShow: 1,
						 slidesToScroll: 1,
						 lazyLoad: 'ondemand',
						 arrows: false,
 						 dots: true,
						 cssEase: 'ease-in-out',
						 fade: false
						});
					}
				}
			</script>
			<p class="text__lead">
				{{leadText}}
			</p>
    </div>
		{{> "widgets/subnav/subnav" widgets.subnav heroImage=widgets.hero.heroImage}}
	{{/content}}
{{/extend}}
