{{#extend "layouts/layout" pageTypeClass="default-page"}}
	{{#content "hero"}}
		{{> "widgets/hero/hero" widgets.hero}}
	{{/content}}
	{{#content "content"}}
		<div class="page_content">
			<h1>{{title}}</h1>
      <p class="text__lead">
      	{{leadText}}
			</p>
			<div class="content__element">
				<h3>im Überblick</h3>
				<p>Die FHNW umfasst neun Hochschulen, die gemeinsam – mit Ausnahme des Bereiches Gesundheit – sämtliche bundesrechtlich vorgsesehen Fachhochschulbereiche abdeckt:</p>
				<ul>
          <li>Angewandte Psychologie</li>
          <li>Architektur, Bau und Geomatik</li>
          <li>Gestaltung und Kunst</li>
          <li>Life Sciences</li>
          <li>Pädagogik</li>
          <li>Soziale Arbeit</li>
          <li>Technik</li>
          <li>Wirtschaft und Musik</li>
				</ul>
				<p>Die Campus der FHNW sind an Standorten in den vier Trägerkantonen Aargau, Basel-Landschaft, Basel-Stadt und Solothurn angesiedelt.</p>
			</div>
			<div class="content__element">
				<h3>Akkreditierung</h3>
				<p>Die FHNW ist eine staatlich anerkannte Hochschule mit folgendem Auftrag:</p>
				<ul>
          <li>Ausbildung Bachelor of Science und Master of Science</li>
          <li>Master- und Managementausbildung</li>
          <li>Angewandte Forschung und Entwicklung</li>
          <li>Beratung für externe Unternehmen</li>
          <li>Kooperationen mit Universitäten und Forschungsinstitutionen in der Schweiz und im Ausland</li>
				</ul>
			</div>
			<div class="content__element">
				<h3>Facts & Figures</h3>
				<ul>
          <li>über 10'000 Studierende</li>
          <li>9 Hochschulen</li>
          <li>29 Bachelor-Studiengänge</li>
          <li>18 Master-Studiengänge</li>
          <li>1128 Projekte mit Praxispartnern in Forschung und Entwicklung</li>
          <li>2915 ausgestellte Diplome</li>
				</ul>
			</div>
			<div class="content__element">
				<h2>Weiterführende Informationen</h2>
				{{> "widgets/extendedlinks/extendedlinks" widgets.extendedlinks}}
			</div>
		</div>
		{{> "widgets/subnav/subnav" widgets.subnav heroImage=widgets.hero.heroImage}}
	{{/content}}
{{/extend}}
