{{#extend "layouts/layout"}}
	{{#content "hero"}}
		{{> "widgets/hero/hero" widgets.hero}}
	{{/content}}
	{{#content "content"}}
		<div class="page_content">
			<h1>Über uns</h1>
      <p class="text__lead">
        Vielfältig, praxisnah und marktorientiert. Die Fachhochschule Nordwestschweiz FHNW hat sich als eine der führenden und innovationsstärksten Fachhochschulen der Schweiz etabliert.
      </p>
		</div>
	{{/content}}
{{/extend}}
