.event_search__wrapper {
  // @include bleed($hasPadding: true);
  .search__form-wrapper {
    padding: 0;
    box-shadow: none;

    .search__holder {
      // padding-left: 0;
      // padding-right: 0;

      &.hidden {
        display: none;
      }
    }

  }
}