.event_search__wrapper {
  // @include bleed($hasPadding: true);
  .search__form-wrapper {
    padding: 0;
    box-shadow: none;

    .search__holder {
      &.hidden {
        display: none;
      }
    }
    .search__third-row {
      display: block !important;
      padding-bottom: $basicPush * 4;
    }
  }

  .widg_searchpage {
    .search__results {
      padding: 0;
      margin: unset;
    }

    .fhnw-spinner {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      flex-direction: column;
      margin-top: $basicPush * 2;
      margin-bottom: $basicPush * 4;
      left: 0;
    }
  }
}