<div class="widg_calltoaction widg_header__hide-on-shrinked" data-init="calltoaction">
	<div class="ch-item ch-img-1">
		<div class="ch-info-wrap">
			<div class="ch-info">
				<div class="ch-info-front">
					<h2>We need some action. You two?</h2>
				</div>
				<div class="ch-info-front ch-img-1"></div>
				<div class="ch-info-back">
					<a href="{{url}}">
						<h3>{{ title }}</h3>
						<p class="widg_promoteaser__text">{{text}}</p>
					</a>
					<span class="widg_teaser__arrow"></span>
				</div>
			</div>
		</div>
	</div>
</div>
