.widg_calltoaction {
	position: absolute;
	top: 50%;
	right: 20%;

	&.circle {
		width: 200px;
		height: 200px;
		border-radius: 100px;
		font-size: 20px;
		color: #000;
		background: #fff;
		margin: auto;
	  padding: 20px;
		border: $basicPush - 5 solid $colorYellow;
		box-shadow:1px 1px 2px #000;

		@include mq($to: small) {
			width: 150px;
			height: 150px;
			top: 30%;
			right: 10%;
		}
	}

	.quote {
		display: table-cell;
    vertical-align: middle;
    height: 170px;
		width: 200px;
		text-align: center;

		a {
			text-decoration: none;

			h2 {
				font-family: $fontNoTo !important;
				border-bottom: 0 !important;

				@include mq($to: small) {
					font-size: 1rem;
				}
			}
		}

		@include mq($to: small) {
			height: 120px;
		}
	}

	@include mq($from: small) {
		top: 40%;
		right: 20%;
	}

	@include mq($from: medium) {
		width: 15%;
		top: 35%;
		right: 10%;
	}

	@include mq($from: large) {
		// width: 12%;
		top: 50%;
		right: 10%;
	}

	@media print {
		display: none;
	}
}
