$sidebarObjectGutter: 26px;
$sidebarObjectPush: $basicPush * 5;

.widg_sidebar {
	@include span(3);
	@include push(0.3);
	@include clearfix();

	position: relative;
	z-index: zindex(sidebar);

	transition: min-height $transitionLength / 2 $transitionEase;

	@include mq($to: 'subnav') {
		width: 100%;
		float: left;
		padding: 0;
		margin: 0;
		position: relative;
	}

	&.min_height_lock {
		display: none;
		visibility: hidden;

		&.with_locations {
			.widg_sidebar__content {
				margin-top: -885px; /* Assuming .widg_location_slider .location__map { height: 670px }  */
			}
		}

		@include mq($to: 'subnav') {
			display: none;
		}
	}

	&.sticky,
	.widg_sidebar__accordion {
		position: fixed;
		width: calc(20.6% - 15px);

		/* mimick .layout_content's padding-right */
		right: $pagePadding - $gutterWidth;
		@include mq($from: betweener, $to: wide) {
			.header_wide & {
				right: $pagePadding - $gutterWidth;
			}
				@include mq($from: betweener, $to: large) {
				right: $pagePaddingSmall - $gutterWidth;
			}
		}
		@include mq($from: medium, $to: large) {
			right: $pagePaddingSmall - $gutterWidth;
		}
		@include mq($from: wide) {
			right: $pagePaddingWide - $gutterWidth;
		}

		@media print {
			position: relative;
			margin: 0 !important;
			padding: 0 !important;
			left: 0;
			@include span(12);
			@include clearfix();
		}
	}

	&.sticky {
		+ .min_height_lock {
			display: block;
		}

		@include mq($from: 'subnav') {
			overflow: hidden;
		}
	}

	@media print {
		display: block;
		position: relative !important;
		float: left;
		left: 0 !important;
		padding: 0;
		margin: 0;
		width: 100%;
	}
}

.widg_sidebar__accordion {
	z-index: zindex(sidebarAccordion);
	padding-left: 16px;
	padding-right: 16px;

	.widg_sidebar__object {
		display: none; /* on load */
		margin-bottom: 0;

		&.displayed {
			display: block; /* as you scroll down */
		}

		.object__title {
			cursor: pointer;

			@media print {
				display: block;
				position: relative;
				width: 100%;
				float: left;
				padding: 0;
				margin: 0;
			}
		}

		.object__content {
			overflow: hidden;
			transition: max-height $transitionLength / 2 $transitionEase,
			padding-top $transitionLength / 2 $transitionEase,
			padding-bottom $transitionLength / 2 $transitionEase;

			@media print {
				img {
					margin-top: 10pt;
					width: 150px;
				}
				display: unset;
			}
		}

		&:not(:last-child),
		&:not(.unfolded) {
			border-bottom: 0;
		}

		&:not(.unfolded) {
			> .object__content {
				max-height: 0; /* on load */
				padding-top: 0;
				padding-bottom: 0;
			}
		}

		&.unfolded {
			.object__content {
				/* now calculated on browser runtime
				max-height: 1000px; * when you unfold an accordion child *
				*/
				overflow-y: auto;
			}
		}
	}

	&:after {
		clear: both;
	}

	@media print {
		// display: none;
	}
}

.widg_sidebar__object {
	border: 1px solid $colorGreyHover;
	margin-bottom: $basicPush * 3;
	background: $colorBg;

	&:not(.unfolded) + &.displayed {
		border-top: none;
	}

	&.look-unfoldable {
		h2:after {
			left: -1 * $sidebarObjectGutter;
			right: -1 * ($sidebarObjectGutter + 12 + 8);
		}

		@media print {
			display: none;
		}
	}

	.is_requested {
		transition: padding-bottom $transitionLength / 2 $transitionEase;
	}

	@include mq($to: 'subnav') {
		border: none;
	}

	@media print {
		border: 0;
	}
}

.object__title {
	padding: $sidebarObjectGutter - 10 ($sidebarObjectGutter + 12 + 8) 0 $sidebarObjectGutter;
	z-index: zindex(sidebarTitle);

	margin-top: 0;

	@include iconDataurl('accordeon_close_grey', $after: true);

	background-color: $colorBg;
	color: $colorTextDarkGrey;

	// transition: all $transitionLength / 2 $transitionEase;

	&:after {
		position: absolute;

		right: $sidebarObjectGutter + 16px;

		transform: translateY(-300%) rotate(45deg) scale(0.6);
		opacity: 0;

		transition: all $transitionLength / 2 $transitionEase;

		@media print {
			display: none;
		}
	}

	> h2 {
		margin-top: 0;
		position: relative;
		padding-bottom: $sidebarObjectGutter - 7;

		&:after {
			display: block;
			content: " ";

			position: absolute;
			bottom: 0;
			left: 0;
			right: -1 * (($sidebarObjectGutter + 12 + 8) - $sidebarObjectGutter);

			padding: 0;
			height: 1px;

			background-color: $colorGreyHover;

			transition: left $transitionLength $transitionEase, right $transitionLength $transitionEase;

			@media print {
				display: none;
			}
		}

		@media print {
			padding: 15pt 0 3pt 0;
			border-bottom: 3pt solid $colorLightGray;
			color: $colorBlack;
			// display: block;
			// position: relative;
			// float: left;
			// width: 100%;
			// margin: 0;
		}
	}

	.look-unfoldable & {

		cursor: pointer;

		background-color: $colorBg;
		color: $colorTextGrey;

		&:hover {
			background-color: $colorLightGray;
			color: $colorBlack;

			@include iconDataurl('accordeon_close', $after: true);

			&:after {
				position: absolute;

				right: $sidebarObjectGutter + 16px;

				transform: translateY(-300%) rotate(45deg);
			}
		}

		&:after {
			transform: translateY(-300%) rotate(45deg) scale(1.0);

			opacity: 1.0;
		}

		> h2:after {
			left: -1 * $sidebarObjectGutter;
			right: -1 * ($sidebarObjectGutter + 12 + 8);
		}

		@media print {
			display: none;
		}
	}

	.unfolded & {
		&:after,
		&:hover:after {
			transform: translateY(-300%) rotate(90deg) scale(1.0);
		}
	}

	.is_pulled-down & {
		> h2:after {
			left: 0;
			right: -1 * (($sidebarObjectGutter + 12 + 8) - $sidebarObjectGutter);
		}
	}

	.is_pushed & {
		transition: top $transitionLength / 2 $transitionEase, margin-top $transitionLength / 2 $transitionEase;
	}

	@media print {
		padding: 0;
	}
}

.object__content {
	padding: $sidebarObjectGutter - 9 $sidebarObjectGutter $sidebarObjectGutter;
	z-index: zindex(sidebarContent);

	p {
		font-size: 1.25rem;
		margin: 0;
	}

	.is_requested & {
		position: fixed;
		border: 1px solid $colorGreyHover;
		background-color: $colorBg;
	}

	.is_pulled-down & {
		transition: top $transitionLength / 2 $transitionEase;

		border-top: 0;
	}

	@media print {
		// display: block !important;
		// position: relative;
		padding: 0;
		margin: 0;
	}
}

.widg_sidebar__trigger {
	position: absolute;
	top: -1 * $sidebarObjectPush;
	left: 0;
	right: 0;
	height: 1px;
}

.widg_sidebar__hider {
	position: fixed;
	top: -20px;

	display: none;

	height: $sidebarObjectPush;
	background-color: $colorBg;

	z-index: zindex(sidebarHider);

	&.is_visible {
		display: block;
	}

	.hide_hider & {
		display: block;
	}
}

.object__content a.button:not(.not-default).small_button {
	width: 100%;
	min-width: 0;

	line-height: 1.4;
	position: relative;

	span {
		display: block;
		position: absolute;

		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);

		width: 90%;
	}
}

.object__content dl {
	dt,
	dd {
		margin: 0;
		width: 100%;
		font-size: 1.25rem;
		overflow-wrap: break-word;
		word-wrap: break-word; /* IE, Edge < 18 */
	}

	dt {
		font-weight: 600;
		margin-bottom: $basicPush * 0.3;
	}

	dd {
		margin-bottom: $basicPush * 1.7;

		&:last-of-type {
			margin-bottom: 0;
		}
	}
}

.widg_sidebar_application.widg_sidebar__object.displayed.look-unfoldable {
	@media print {
		display: none
	}
}
