<div class="widg_sidebar" data-init="sidebar" role="complementary">
	<div class="widg_sidebar__content">
		{{#each widgets.contact}}
			{{> "widgets/sidebar_contact/sidebar_contact" this }}
		{{/each}}
	</div>
</div>
