<div class="widg_sidebar" data-init="sidebar" role="complementary">
	<div class="widg_sidebar__content">

		{{#if widgets.application}}
			{{> "widgets/sidebar_application/sidebar_application" widgets.application}}
		{{/if}}

		{{#if widgets.events}}
			{{> "widgets/sidebar_events/sidebar_events" widgets.events }}
		{{/if}}

		{{#if widgets.keydata}}
			{{> "widgets/sidebar_key_data/sidebar_key_data" widgets.keydata }}
		{{/if}}

		{{#if widgets.contact}}
			{{> "widgets/sidebar_contact/sidebar_contact" widgets.contact}}
		{{/if}}

		{{#if widgets.secretariat }}
			{{> "widgets/sidebar_contact/sidebar_contact" widgets.secretariat}}
		{{/if}}

		{{#if widgets.degreeleadership}}
			{{> "widgets/sidebar_contact/sidebar_contact" widgets.degreeleadership}}
		{{/if}}

		{{#if widgets.leadership}}
			{{> "widgets/sidebar_contact/sidebar_contact" widgets.leadership}}
		{{/if}}
	</div>
</div>
