<div class="widg_sidebar" data-init="sidebar" role="complementary">
	<div class="widg_sidebar__content">
		{{#each widgets.contact}}
      {{> "widgets/edu_contact/edu_contact" this }}
    {{/each}}
	</div>
</div>
