<ul class="mod_navigation__level_{{level}}">
	{{#each items}}
		<li>
			<a href="{{link}}">{{title}}</a>
			{{#if list}}
				{{> "modules/navigation/_subitems" list}}
			{{/if}}
		</li>
	{{/each}}
</ul>
