$headerWidth: 1200px;

.mod_navigation {
	@include clearfix;
	max-width: $headerWidth;
	margin: pxToEm(20) auto pxToEm(25);
	padding: 0 pxToEm(10) pxToEm(10);
	border-bottom: 2px solid $colorLightGray;
	text-align: center;

	li {
		display: inline-block;
		padding: pxToEm(10);
	}

	li a {
		color: $colorText;
		font-weight: 600;
		text-decoration: none;
		font-size: pxToEm(16);
	}

	li a:hover {
		border-bottom: 2px solid $colorYellow;
	}

}



@include mq($from: medium) {
	.mod_navigation {
		padding: 0 pxToEm(20) pxToEm(10);
		text-align: left;

		li a {
			padding-bottom: pxToRem(25);
		}
	}

	.mod_navigation__logo {
		float: right;
		margin-top: pxToEm(-10);
	}
}
