<nav class="mod_navigation" data-init="navigation">
	<img class="mod_navigation__logo" src="/assets/media/img/fhnw_e_logo_small.jpg" alt="FHNW Logo">

	<ul class="mod_navigation__primary">
		{{#each navItems}}
			<li>
				<a href="{{link}}">{{title}}</a>
				{{#if subItems}}
					{{> 'modules/navigation/_subitems' this}}
				{{/if}}
			</li>
		{{/each}}
	</ul>
</nav>
