$headerWidth: 1200px;

.mod_navigation {
	@include clearfix;
	max-width: $headerWidth;
	margin: pxToEm(20) auto 0;
	padding: 0 pxToEm(10);
	border-bottom: 2px solid $colorLightGray;
	text-align: center;

}

.mod_navigation__primary {
	position: relative;
}

.mod_navigation__primary > li {
	display: inline-block;
	padding: pxToEm(10);

	a {
		color: $colorText;
		font-weight: 600;
		text-decoration: none;
		font-size: pxToEm(16);
	}

	&:hover > ul {
		display: block;
	}
}

.mod_navigation__primary ul {
	display: none;
	position: absolute;
	background-color: $colorLightGray;
	margin-top: pxToEm(10);
	text-align: left;

	li {
		display: block;
		min-width: pxToEm(120);
		padding: 0 pxToEm(10);
	}

	li:hover ul {
		display: block;
	}

	a {
		color: $colorDarkGrey;
		font-size: pxToEm(14);
		font-weight: 500;
		line-height: pxToEm(28);
	}

	a:hover {
		color: $colorText;
	}

}

.mod_navigation__primary ul ul {
	display: none;
	top: 0;
	left: 100%;
	margin-top: 0;
}


@include mq($from: medium) {
	.mod_navigation {
		padding: 0 pxToEm(20);
		text-align: left;

		li {
			padding-bottom: pxToRem(25);
		}
	}

	.mod_navigation__primary ul {
		margin-top: pxToEm(25);
		margin-left: pxToEm(-10);
	}

	.mod_navigation__logo {
		float: right;
		margin-top: pxToEm(-10);
	}
}
