<nav class="mod_navigation" data-init="navigation">
	<img class="mod_navigation__logo" src="/assets/media/img/fhnw_e_logo_small.jpg" alt="FHNW Logo">

	<ul>
		<li><a href="#">Studies</a></li>
		<li><a href="#">Research</a></li>
		<li><a href="#">Media</a></li>
		<li><a href="#">Contact</a></li>
		<li><a href="#">Other</a></li>
	</ul>
</nav>
