{{#extend "layouts/layout" pageTypeClass="default-page"}}
	{{#content "hero"}}
		{{> "widgets/hero/hero" widgets.hero}}
	{{/content}}
	{{#content "content"}}
    <div class="page_content">
      <h1>{{title}}</h1>
      <p class="text__lead">
				{{leadText}}
      </p>
      <div class="content__element">
        <h3>Die Bibliothek im Überblick</h3>
        <table class="content__table">
          <tr>
            <th>Arbeitsplätze:</th>
            <td>200 Arbeitsplätze<br/>
              davon 13 Computerarbeitsplätze<br/>
              mehrere Gruppenarbeitsplätze<br/>
              Kaffee-Ecke
            </td>
          </tr>
          <tr>
            <th>WLAN:</th>
            <td>ja, über Hochschul-Netz eduroam</td>
          </tr>
          <tr>
            <th>Lieferung per Post nach Hause:</th>
            <td>nein</td>
          </tr>
          <tr>
            <th>Leihfristen:</th>
            <td>28 Tage für Bücher<br/>
              14 Tage für Zeitschriften<br/>
              Falls keine Reservierung vorliegt, verlängert sich die Leihfrist zweimal automatisch
            </td>
          </tr>
        </table>
      </div>
    </div>
		{{> "widgets/subnav/subnav" widgets.subnav heroImage=widgets.hero.heroImage}}

    <div class="content__element content__element___bleed content__element___top-bordered" id="locations">

			{{> "widgets/location_slider/location_slider" widgets.locationSlider}}
      <div class="only-phone">
				{{> "widgets/accordeon/accordeon" widgets.locationAccordeon }}
      </div>
    </div>
	{{/content}}
{{/extend}}
