<nav class="widg_breadcrumb" data-init="breadcrumb">
  <ul>
		{{#each entries}}
      <li class="{{extraClasses}}">
        <a href="{{url}}">{{title}}</a>
      </li>
		{{/each}}
  </ul>
  <span data-breadcrumb="extendstring" style="display: none" aria-hidden="true">{{langStrings.extend}}</span>
</nav>
