.widg_breadcrumb {
	position: absolute;
	bottom: 0;
	left: 0;

	background-color: $colorBg;
	overflow: hidden;

	min-height: 50px;

	ul {
		display: block;

	}

	.sg_demo & {
		position: static;
	}

	.no-image & {
		bottom: auto;
	}

	@include contentWrapper($hasGrid: false, $gutterSize: $gutterWidth);
	@include basicUnitHeight(right);

	@include mq($to: $sizeBreakpointMedium) {
		position: static;
	}

	@include mq($from: $sizeBreakpointMedium) {
		padding-right: $gutterWidth * 2;
	}
}

.widg_breadcrumb ul li,
.widg_breadcrumb__seperator {
	display: block;
	float: left;
}

.widg_breadcrumb ul li {

	margin-right: $basicPush * 1.3;
	padding: 0;

	&:before {
		display: none;
	}

	a,
	button {
		display: block;
		font-size: 1.25rem;
		position: relative;
		padding: 0 ($gutterWidth / 2) 0 $gutterWidth / 2;
		white-space: nowrap;
		color: $colorBorderGrey;
		cursor: pointer;

		line-height: 50px;
		text-decoration: none;
		opacity: 1;

		@include iconDataurl('triangle-arrow_right_grey', $after: true);

		&:hover,
		&:focus {
			color: $colorBlack;
		}

		&:after {
			position: absolute;

			content: " ";
			display: block;

			width: 6px;
			height: 7px;

			top: 50%;
			transform: translate(50%, -50%);

			right: -1 * $basicPush * 0.75;

		}
	}

	&:first-child {
		margin-left: $gutterWidth / 1.4;
	}

	&:last-child {

		margin-right: 0;

		a:after {
			display: none;
		}
	}

	&.is_home a {
		box-sizing: content-box;
		width: 10px;
		height: 50px;

		@include iconDataurl('home');

		&:before {
			@include centerDataurlIcon();

			width: 15px;
			height: 14px;
		}

		&:hover {
			@include iconDataurl('home_black');

			&:before {
				width: 15px;
				height: 14px;
			}
		}
	}

	&.is_hidden {
		display: none;
	}
}

.widg_breadcrumb__extender button {
	text-indent: -100000px;
	height: 50px;
	min-width: 0;
	background-color: transparent;

	@include iconDataurl($name: 'breadcrumb-expand');

	margin: 0 4px;

	position: relative;

	&:hover,
	&:focus {
		background-color: transparent;

		&:before {
			opacity: 1;
		}
	}

	&:before {
		transform: translate(-50%, -50%);

		top: 50%;
		left: 50%;
		position: absolute;
		display: block;

		width: 16px;
		height: 16px;
		opacity: 0.5375;
	}

	&:after {
		right: -11.5px !important;
	}
}
