<div class="widg_slideshow" data-init="slideshow"  data-slideshow-options="{&quot;animationDuration&quot;:100}">
	<div class="slides" data-slideshow="slides">
		{{#each slides}}
			{{> "widgets/slideshow/_slideshow_slide.js" this}}
		{{/each}}
	</div>
</div>
