.widg_slideshow {
	height: 100vh;
	position: relative;

	@include mq($to: medium) {
		height: calc(100vh - 56px);
	}

	.slides {
		height: 100%;
	}

	.slide {
		height: 100%;
		overflow: hidden;
		position: relative;

		img {
			transform: translate(-50%, -50%);
			display: block;
			min-height: 100%;
			left: 50%;
			position: absolute;
			top: 50%;
			min-width: 100%;
			bottom: 0;
		}
	}

	.nav {
		@include clearfix;
		top: 150px;
		right: 20px;
		position: absolute;
	}

	.prev,
	.next {
		border: none;
		float: left;
		color: $colorBlack;
		background-color: $colorYellow;
	}
	.next {
		float: right;
	}

	.js & {

		.slide + .slide {
			display: none;
		}
	}
}
