$mapHeight: 670px;
$infoWidth: 394px;
$infoPadding: 34px;

.widg_location_slider {
	@include bleedFull($gutterWidth);

	margin-top: $basicPush * 5;

	@include mq($to: 'medium') {
		display: none;
	}

	&.all-locations {
		border-top: 1px solid $colorGreyHover;
	}
}

.startpage-page .layout_content #location-map {
	margin-top: 3rem;
}

.widg_location_slider nav {
	@include contentWrapper($gutterWidth);



	.widg_location__nav-bar {
		position: absolute;
		bottom: 0;
		left: 0;

		min-width: 10px;
		height: 4px;

		background-color: $colorYellow;
		transition: all $transitionLength / 2 $transitionEase;
	}

	ul {
		@include resetList();

		padding-bottom: 4px;
		position: relative;
	}

	li {
		display: inline-block;
		margin-right: $basicPush * 4;

		button {
			@include noStyledButton();

			display: block;
			opacity: 1.0;

			font-size: 1.6667rem;

			text-decoration: none;
			color: $colorTextGrey;

			font-weight: 600;

			position: relative;

			padding-bottom: $basicPush * 2.6;

			&:hover,
			&.is_active{
				color: $colorBlack;
			}
		}
	}
}

.widg_location_slider {

	.slider {

		overflow: hidden;

		.location__slide {

			overflow: hidden;
			height: $mapHeight;
			position: relative;
		}
	}
}

.widg_location_slider .location__map {
	height: $mapHeight;
}

.location__info {
	position: absolute;
	width: $infoWidth;

	top: 50%;
	transform: translateY(-50%);

	background-color: $colorBg;
	box-shadow: 0 2px 14px 0 rgba($colorBlack, 0.18);

	@include pushLeftAccordingToHeader(left);
}

.location__upper {
	padding: $infoPadding;

	h3 {
		margin-top: 0;
	}

	.button {
		width: 100%;
	}

	.location__address {
		margin-bottom: $basicPush * 2.5;

		> span {
			display: block;

			font-size: 1.25rem;
		}

		@include mq($to: medium) {
			margin-bottom: $basicPush * 1.5;
		}
	}

	.location__contact {
		@include clearfix();

		margin-bottom: $basicPush * 4.2;

		@include mq($to: medium) {
			margin-bottom: $basicPush * 2;
		}

		dt,
		dd a {
			font-size: 1.25rem;
			opacity: 1;
		}

		dt,
		dd {
			float: left;

			@include mq($to: medium) {
				padding: 0;
			}
		}

		dt {
			width: 32%;
		}

		dd {
			width: 68%;
			margin-left: 0;
			border-bottom: none;
			text-align: right;

			a {
				font-weight: 600;
				color: $colorTextGrey;

				&:hover {
					color: $colorBlack;
				}
			}
		}
	}
}

.location__inferior {
	border-top: 1px solid $colorGreyHover;

	a {
		display: block;
		height: 73px;
		line-height: 73px;

		text-align: center;
		width: 100%;

		font-size: 1.25rem;
		font-weight: 600;
		text-decoration: none;
		opacity: 1;

		color: $colorTextGrey;
		background-color: $colorSearchBarInputFocus;

		&:hover {
			background-color: rgba($colorGreyHover, 0.5);
			color: $colorBlack;

			span {
				@include iconDataurl('route_black');

				&:before {
					background-size: 100% 100%;
					transform: translateY(-0.5px);
				}
			}
		}

		span {
			@include iconDataurl('route');

			display: inline-block;
			margin: 0 auto;

			&:before {
				margin-right: 5px;

				height: 23px;
				width: 20px;

				vertical-align: middle;
			}
		}
	}
}

.accordeon__location {
	border: 1px solid $colorGreyHover;
	padding-top: 0 !important;
	margin-top: $basicPush;

	img {
		width: 100%;
		height: auto;
	}

	.location__upper {
	}
}

/**
  * Styles for the all locations map
  */

.widg_location_slider.all-locations {
	.location__info,
	nav {
		display: none;
	}
}
