.widg_extendedlinks {
	position: relative;
	padding-bottom: $basicPush * 2;

	p {
		font-family: $fontSerifRoman;
		font-size: 1.25rem;
		font-weight: 300;
		margin: $basicPush 0 $basicPush * 2.6 0 !important;

		@include mq($to: small) {
			width: 90%;
			margin-top: 9px;
		}

		@media print {
			font-size: 10pt;
		}
	}

	h3.childless {

		@include mq($to: small) {
			margin-top: 3px;
			font-size: 1.25rem;
		}

		@media print {
			font-size: 12pt;
		}
	}

	.widg_extendedlinks__entry:not(.has_description) {
		h3.childless {
			padding-bottom: $basicPush * 1.8;

			@include mq($to: small) {
				padding-top: 10px;
				margin-top: 0;
				font-size: 1.25rem;
			}
		}
	}
}

.widg_extendedlinks__entry {
	@include clearfix();

	&:not(:last-child) {
		margin: 0;
	}

	a {
		@include clearfix();

		@include iconDataurl('pfeil-black', $after: true);

		padding: 25px $basicPush * 12 0 $gutterWidth;
		border-bottom: 1px solid $colorGreyHover;
		display: block;
		height: 100%;
		width: 100%;
		position: relative;
		text-decoration: none;
		opacity: 1;

		& span {
			display: block;
			font-weight: 100;
			color: #4c4c4c;

			@media print {
				font-size: 10pt !important;
				font-weight: 100 !important;
				color: $colorTextDarkGrey;
				padding-bottom: 0 !important;
			}
		}

    & .widg_extendedlinks__dateline {
      padding-bottom: $basicPush - 5 !important;
			padding-top: 0 !important;
      font-weight: 600 !important;
      font-size: 13px !important;
      line-height: 17px;
      color: #828282 !important;
    }

		& span:first-child {
      font-size: 18px;
			font-weight: 700;
			padding-bottom: 22px;
			color: black;
		}

		@include mq($from: medium) {
			span,
			h3.childless,
			p,
			&:after {
				transition: transform $transitionLength / 3 $transitionEase;
			}
		}

		&:hover {
			background-color: $colorLightGray;

			@include mq($from: medium) {
				span,
				h3.childless,
				p {
					transform: translateX(5px);
				}

				&:after {
					transform: translateX(5px) translateY(-50%);
				}
			}
		}

		&:after {
			right: $basicPush * 1.5;
			position: absolute;
			display: block;
			content: " ";
			top: 50%;
			font-size: 1rem;

			transform: translateY(-50%);

			@include mq($to: small) {
				position: absolute;
				margin-bottom: $basicPush;
			}
		}

		@include mq($to: small) {
			padding-left: 10px;
			padding-right: 0;

			@include iconDataurl('pfeil-black_short', $after: true);
		}

		@media print {
			padding: 0;
		}
	}

	&.has_date a {
		padding-left: $basicPush * 15;

		@include mq($to: small) {
			padding-left: 10px;
			padding-right: 0;

			@include iconDataurl('pfeil-black_short', $after: true);
		}
	}

	&:last-of-type a {
		border-bottom: none;
	}

	@include mq($to: small) {
		padding-top: 12px;

		&:first-of-type {
			padding-top: 0;
		}
	}
}

.widg_extendedlinks__date {
	position: absolute;
	left: $basicPush * 2.2;
	top: $basicPush * 3;

	line-height: 1;
	font-size: 1.666667rem;
	color: $colorBorderGrey;

	font-weight: 600;

	@include mq($to: small) {
		position: static;
		font-size: 1.08333rem;
	}
}

.extendedlinks__more-button {
	position: absolute;
	top: -85px - 11px;
	right: 0;

	@include mq($to: medium) {
		position: static;
		transform: none;
		margin-top: $basicPush;
	}
}
