<div class="widg_extendedlinks" data-init="extendedlinks">
	{{#each links}}
		<div class="widg_extendedlinks__entry">
			<a href={{url}}>
        <h4>{{title}}</h4>
        <p>{{description}}</p>
			</a>
		</div>
	{{/each}}
</div>
