.widg_productbar {
	position: fixed;
	top: -100px;
	left: 0;
	right: 0;

	height: basicUnitHeight(normal);
	@include contentWrapper(0);

	transition: top $transitionLength $transitionEase;

	display: none;

	background-color: $colorBg;
	box-shadow: 0 2px 4px 0 rgba($colorBlack, 0.12);
	padding-top: 26px !important;

	z-index: zindex(productBar);

	> span {
		font-size: 1.5rem;
		line-height: $basicPush * 4.5;
	}

	a.button {
		min-height: $basicPush * 4.5;
		line-height: $basicPush * 4.5;
		height: $basicPush * 4.5;
	}

	a.anchor-link {
		display: inline-block;
		margin-right: $basicPush * 4;
		font-size: 1.25rem;

	}

	> div {
		float: right;
	}

	&.is_visible {
		top: 0;
	}
}

.widg_productbar__type {
	font-weight: 700;
}
