{{#extend "layouts/layout"}}
	{{#content "hero"}}
		{{> "widgets/hero/hero" widgets.hero}}
	{{/content}}
	{{#content "content"}}
    <div class="page_content">
			<h1 class="only-phone">{{title}}</h1>
			<div class="content__element">
				<h2>Biographie</h2>
				<p>The fire industry has developed several techniques for the detection of fire in their early stages. This includes the monitoring of gases originating in combustion processes, flame detectors and even complex systems for the detection of pressure changes caused by flames. Still, the most popular technique continues to be the detection of the aerosol particles in smoke. Modern smoke detectors are far from being ideal. Their high rate of false alarm, as high as 95%, cause people to ignore them, reduce their sensitivity, or even to turn them off, with the potential consequence of a real fire not being detected.</p>
			</div>

			<div class="content__element">
				{{> "widgets/accordeon/accordeon" widgets.accordeon}}
			</div>

			<div class="content__element has_grid">
				<h2>Ausgewählte Projekte</h2>
				{{> "widgets/teaser/teaser" widgets.teaser}}
			</div>

			<div class="content__element">
				<h2>Ausgewählte Publikationen</h2>
				{{> "widgets/extendedlinks/extendedlinks" widgets.extendedlinks}}
			</div>
    </div>

		{{> "widgets/sidebar/sidebar" widgets.sidebar}}

    <div class="content__element content__element___bleed content__element___top-bordered" id="locations">

			{{> "widgets/location_slider/location_slider" widgets.locationSlider}}
      <div class="only-phone">
				{{> "widgets/accordeon/accordeon" widgets.locationAccordeon }}
      </div>
    </div>
	{{/content}}
{{/extend}}
