{{#extend "layouts/layout" pageTypeClass="default-page"}}
	{{#content "hero"}}
		{{> "widgets/hero/hero" widgets.hero}}
	{{/content}}
	{{#content "content"}}
    <div class="page_content" id="pageContentTop">
      <h1>{{title}}</h1>
      <p class="text__lead">
				{{leadText}}
      </p>
			<div class="content__element">
				<h2 class="childless">Im Zentrum der Hochschulaktivitäten stehen</h2>
				<p>Die Hochschule für Angewandte Psychologie FHNW wurde 2006 gegründet und hat sich seitdem zu einem führenden Kompetenzzentrum für arbeits-, organisations- und wirtschaftspsychologische Lehre, Forschung und Weiterbildung in der Schweiz und im deutschsprachigen Raum entwickelt.</p>
				<ul>
					<li>die praxisorientierte und forschungsbasierte Ausbildung für Studierende in Angewandter Psychologie,</li>
					<li>eine anwendungsorientierte, interdisziplinär ausgerichtete Forschung</li>
					<li>und ein praxisnahes und wissenschaftlich fundiertes Weiterbildungsangebot.</li>
				</ul>
			</div>
      <div class="content__element content__element___bleed content__element___borderless">
				{{> "widgets/blockquote/blockquote" widgets.quote}}
      </div>
			<div class="content__element has_grid">
				{{> "widgets/teaser/teaser" widgets.eventTeasers}}
			</div>
			<div class="content__element">
				<h2>Aktuelle News</h2>
				{{> "widgets/extendedlinks/extendedlinks" widgets.extendedLinks}}
			</div>
			<div class="content__element">
				<p><img alt="test alt" class="fhnw-tiny-portrait" src="https://www.dev.fhnw.ch/de/forschung-und-dienstleistungen/site-image.jpg/@@images/fbb59b05-12d8-49a3-bf57-1b3b79adbbfa.jpeg" title="test"/></p>
				<div class="mce-resizehandle" id="mceResizeHandlenw" style="cursor: nw-resize; margin: 0px; padding: 0px; left: -4.5px; top: -4.5px;"></div>
				<div class="mce-resizehandle" id="mceResizeHandlene" style="cursor: ne-resize; margin: 0px; padding: 0px; left: 1095.5px; top: -4.5px;"></div>
				<div class="mce-resizehandle" id="mceResizeHandlese" style="cursor: se-resize; margin: 0px; padding: 0px; left: 1095.5px; top: 428.5px;"></div>
				<div class="mce-resizehandle" id="mceResizeHandlesw" style="cursor: sw-resize; margin: 0px; padding: 0px; left: -4.5px; top: 428.5px;"></div>
			</div>
			<div class="content__element has_grid">
				<h2>Institute an der Hochschule für Angewandte Psychologie</h2>
				{{> "widgets/teaser/teaser" widgets.instituteTeasers}}
			</div>

      <div class="content__element content__element___borderless">
        <h2>Querlinks</h2>
				{{> "widgets/extendedlinks/extendedlinks" widgets.querlinks}}
      </div>
    </div>
		{{> "widgets/subnav/subnav" widgets.subnav heroImage=widgets.hero.heroImage}}

    <div class="content__element content__element___bleed">
			{{> "widgets/newsletter_subscription/newsletter_subscription" widgets.newsletterSubscription}}
    </div>

    <div class="content__element content__element___bleed content__element___top-bordered" id="locations">

			{{> "widgets/location_slider/location_slider" widgets.locationSlider}}
    </div>

	{{/content}}
{{/extend}}
