{{#extend "layouts/layout"}}
	{{#content "hero"}}
		{{> "widgets/hero/hero" widgets.hero}}
	{{/content}}
	{{#content "content"}}
    <div class="page_content">
      <h1>{{title}}</h1>
      <p class="text__lead">
				{{leadText}}
      </p>
      <div class="content__element has_grid">
        <h2>Veranstaltungen</h2>
				{{> "widgets/teaser/teaser" widgets.eventTeasers}}
        <a class="button button__secondary">
          Alle Events
        </a>
      </div>
			<div class="content__element">
				<h2>Aktuelle News</h2>
				{{> "widgets/extendedlinks/extendedlinks" widgets.extendedlinks}}
				<a class="button">
					Alle News
				</a>
			</div>
    </div>
		{{> "widgets/subnav/subnav" widgets.subnav heroImage=widgets.hero.heroImage}}
	{{/content}}
{{/extend}}
