.widg_full_bleed_teaser {
	margin-bottom: $basicPush * 2;
	position: relative;

	img {
		display: none; // hide until loaded
	}

	.full_bleed_teaser__img.is-loaded {
		img {
			display: block;
		}
	}
}

.full_bleed_teaser__img {
	height: 100%;
	@include bleedFull(0);

	@include mq($from: small, $to: medium) {
		margin-left: - ($gutter * 2);
		margin-right: - ($gutter * 2);
	}

	@include mq($to: small) {
		margin-left: -$gutterWidth;
	}
}

.full_bleed_teaser__text {
	position: absolute;
	top: 50%;
	max-width: 40%;
	transform: translateY(-50%);
	padding: 10px;

	h2:not(.childless) {
		position: relative;
		margin-bottom: $basicPush * 2;
		border-bottom: none;

		&:after {
			display: block;
			content: " ";
			position: absolute;

			bottom: 0;
			left: 0;
			height: 4px;

			background-color: $colorYellow;
			width: 80px;
		}
	}

	a.button:not(.not-default) {
		margin-top: 5px;

		@include mq($to: small) {
			font-size: 0.93333rem;
			letter-spacing: 1px;
		}
	}

	@include mq($to: medium) {
		padding-left: $gutterWidth + 4;
		padding-top: 15px;

	}
}

.widg_full_bleed_teaser .widg_teaser {
	position: absolute;
	width: 50%;
	top: 50%;
	transform: translateY(-50%);

	max-width: 460px;

	padding: $gutterWidth * 2;
	background-color: $colorBg;

	.widg_teaser__arrow {
		position: static;
		float: left;
	}

	p {
		margin-bottom: 22px;
		margin-top: 13px;
	}

	&:hover {
		background-color: $colorLightGray;
	}

	.widg_teaser__category {
		margin-bottom: 0;
	}

	@include mq($to: small) {
		//position: static;
		width: 100vw;
		max-width: none;
		transform: translateY(0);
		top: auto;
		bottom: $gutterWidth;
		left: $gutterWidth;
		margin-left: -$gutterWidth;
		margin-right: -$gutterWidth;
	}
}
