.widg_full_bleed_teaser {
	margin-bottom: $basicPush * 2;
	position: relative;

	img {
		width: 100%;

		@include mq($to: small) {
			margin-left: $gutterWidth - 20;
			max-width: 500px;
		}
	}
}

.full_bleed_teaser__img {
	@include bleedFull($gutterWidth - 40);
	height: 100vh;
}

.full_bleed_teaser__text {
	position: absolute;
	top: 50%;
	max-width: 40%;
	transform: translateY(-50%);
	padding: 10px;

	h2 {
		position: relative;
		margin-bottom: $basicPush * 2;
		border-bottom: none;

		&:after {
			display: block;
			content: " ";
			position: absolute;

			bottom: 0;
			left: 0;
			height: 4px;

			background-color: $colorYellow;
			width: 80px;
		}
	}

	a.button:not(.not-default) {
		margin-top: 5px;

		@include mq($to: small) {
			font-size: 0.93333rem;
			letter-spacing: 1px;
		}
	}

	@include mq($to: medium) {
		padding-left: $gutterWidth + 4;
		padding-top: 15px;
	}
}

.widg_full_bleed_teaser .widg_teaser {
	position: absolute;
	width: 50%;
	top: 50%;
	transform: translateY(-50%);

	max-width: 460px;

	padding: $gutterWidth * 2;
	background-color: $colorBg;

	@include mq($to: medium) {
		transform: translateY(-50%);
	}

	@include mq($to: small) {
		transform: translateY(-325%);
	}

	.widg_teaser__arrow {
		position: static;
		float: left;
	}

	p {
		margin-bottom: 22px;
		margin-top: 13px;
	}

	&:hover {
		background-color: $colorLightGray;
	}

	.widg_teaser__category {
		margin-bottom: 0;
	}

	@include mq($to: small) {
		position: static;
		width: 100%;
	}
}
