$imageHeight: 526px;

@include mq($from: 770px) {
	.widg_full_bleed_teaser {
		margin-bottom: $basicPush * 2;
		position: relative;
		margin-top: $basicPush * 5;

		@include mq($to: medium) {
			position: relative;
		}

		.full_bleed_teaser__img.is-loaded {
			img {
				height: $imageHeight;

				@media print {
					width: 100% !important;
					height: auto !important;
				}
			}
		}

		@media print {
			position: relative;
			float: left;
			margin: 0;
			padding: 0;
			height: 340pt;
		}
	}

	@include mq($from: 769px) {
		.full_bleed_teaser__img {
			background-size: cover;
			width: calc(100vw - 340px);
			background-position-x: center;
			background-image: no-repeat;

			@include mq($from: small, $to: medium) {
				margin-left: -($gutter * 2);
				margin-right: -($gutter * 2);
				height: 400px;
				background-size: cover !important;
				background-position-x: center !important;
				background-position-y: center !important;
				width: 100vw !important;
			}

			@include mq($from: medium, $to: 1678) {
				height: 526px;
				background-size: cover !important;
				background-position-x: center !important;
				background-position-y: center !important;
				margin-left: -($gutter * 1.5625);
			}

			@include mq($from: 1679) {
				margin-left: -100px;
				background: purple;
				height: 526px;
				background-size: cover !important;
				background-position-x: center !important;
				background-position-y: center !important;
			}

			@include mq($to: small) {
				margin-left: -$gutterWidth;
			}
		}

		img {
			display: none;
		}
	}

	@include mq($to: 768px) {
		.full_bleed_teaser__img[style] {
			background: none !important;
		}
	}

	.full_bleed_teaser__text {
		position: absolute;
		top: 43%;
		max-width: 40%;
		transform: translateY(-50%);
		padding: 10px;

		h2:not(.childless) {
			position: relative;
			margin-bottom: $basicPush * 2;
			border-bottom: none;

			&:after {
				display: block;
				content: ' ';
				position: absolute;

				bottom: 0;
				left: 0;
				height: 4px;

				background-color: $colorYellow;
				width: 80px;
			}
		}

		a.button:not(.not-default) {
			margin-top: 5px;

			@include mq($to: small) {
				font-size: 0.93333rem;
				letter-spacing: 1px;
			}
		}

		@include mq($to: medium) {
			padding-left: $gutterWidth + 4;
			padding-top: 15px;
		}
	}

	.widg_full_bleed_teaser .full_bleed__widg_teaser {
		position: absolute;
		left: 0;
		width: 50%;
		top: 50%;
		transform: translateY(-50%);
		max-width: 460px;

		padding: $gutterWidth * 2;
		background-color: $colorBg;

		.widg_teaser__arrow {
			position: static;
			float: left;
		}

		p {
			margin-bottom: 22px;
			margin-top: 13px;
		}

		&:hover {
			background-color: $colorLightGray;
		}

		.widg_teaser__category {
			margin-bottom: 0;
		}

		@include mq($to: small) {
			//position: static;
			width: 100vw;
			max-width: none;
			transform: translateY(0);
			top: auto;
			bottom: $gutterWidth;
			left: $gutterWidth;
			margin-left: -$gutterWidth;
			margin-right: -$gutterWidth;
		}
	}
}
/* TABLET/MOBILE VIEW */
@include mq($to: 769px) {
	.widg_full_bleed_teaser {
		overflow: hidden;

		.full_bleed__widg_teaser {
			@include span(12);
			position: relative;
			padding: $basicPush * 2;
			margin-bottom: $basicPush * 4;
			background-color: $colorLightGray;

			img {
				width: 100%;
				height: auto;
			}

			&:hover {
				@media print {
					background-color: none;
				}
			}

			p {
				font-size: 1.25rem;
				opacity: 0.7;

				@include mq($to: small) {
					font-size: 1.15rem;
				}

				@include mq($to: medium) {
					padding-right: $basicPush * 3;
				}

				@media print {
					font-size: 10pt;
				}
			}

			@include mq($to: 768px) {
				margin-bottom: 0;
				border-bottom: 1px solid $colorGreyHover;

				@include span(12);
				padding-left: 0;
				padding-right: 0;

				&:last-of-type {
					border-bottom: 0;
					padding: $basicPush * 2;
					margin-top: $basicPush * 5;
					margin-bottom: $basicPush * 5;
				}
			}

			@media print {
				width: 100%;
				padding-bottom: 0;
				margin-bottom: 10pt;
				border-bottom: 0;
			}
		}

		.widg_teaser__link {
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;

			text-indent: -100000px;

			&:hover + .widg_teaser__arrow {
				min-width: 20px;
			}

			&:focus {
				outline: 0;
			}

			@media print {
				display: none !important;
			}
		}

		.widg_teaser__arrow {
			@include mq($from: 0px) {
				@include iconDataurl('triangle-arrow_right');

				display: block;
				position: absolute;
				bottom: $basicPush * 1.8;

				height: 1px;
				min-width: 10px;
				background-color: $colorBlack;
				transition: min-width $transitionLength / 3 $transitionEase;

				transform: translate3d(0, 0, 0);
			}

			@include mq($to: medium) {
				top: unset;
				left: $basicPush * 2;
				right: unset;

				transform: translateY(-34%) translate3d(0, 0, 0);
			}

			@include mq($to: 374px) {
				top: 90%;
			}

			&:before {
				transform: translateY(-50%) translate3d(0, 0, 0);
				position: absolute;
				top: 50%;
				left: 80%;
				width: 6px;
				height: 10px;
			}

			@media print {
				display: none;
			}
		}

		.widg_teaser__category {
			color: $colorTextGrey;
			display: block;
			margin-bottom: $gutterWidth/3;
			font-size: 1rem;
			font-weight: 600;
		}

		.widg_teaser__title {
			max-width: 100%;
			word-wrap: break-word;

			@include mq($to: small) {
				font-size: 1.2rem;
			}

			font-weight: 700;
			font-size: 1.5rem;
		}

		.button__secondary {
			@include mq($to: small) {
				height: auto !important;
				padding-top: 15px !important;
				padding-bottom: 15px !important;
				line-height: 30px !important;
				margin: 15px 0 !important;
				width: 100%;
			}
		}

		.widg_teaser__wrapper h2.teaser__title {
			margin-left: $gutterWidth;
			margin-right: $gutterWidth;
			margin-bottom: 10px;
			display: block;
			width: 100%;

			&.is_on_startpage {
				text-align: center;
				border-bottom: 0;
				position: relative;
				padding-bottom: 16px;
				margin-bottom: 32px;

				&:after {
					display: block;

					content: ' ';
					position: absolute;

					bottom: 0;
					height: 4px;
					background-color: $colorYellow;
					width: 80px;

					left: 50%;
					transform: translateX(-50%);
				}
			}
			@include mq($to: medium) {
				margin-left: 0 !important;
			}
			@include mq($to: small) {
				margin-left: 0 !important;
			}

			@media print {
				margin: 20pt 0 10pt 0;
				padding: 0;
				left: 0;
			}
		}
	}
}
