<div class="widg_contentnav" data-init="contentnav">
	<nav class="widg_contentnav__nav">
		<ul>
			{{#each items}}
				<li class="widg_contentnav__item">
					<a href="{{url}}">{{title}}</a>
					{{#if bubble}}
            <!--<span class="widg_contentnav__bubble"></span>-->
					{{/if}}
				</li>
			{{/each}}
		</ul>
	</nav>
</div>
