.widg_contentnav {
  @include basicUnitHeight(height);
  @include bleedFull($gutterWidth);
  @include contentWrapper($hasGrid: false, $gutterSize: $gutterWidth);

  box-shadow: 0 4px 4px 0 rgba($colorBlack, 0.14);
  position: relative;
  z-index: zindex(contentnav);
  overflow: hidden;

	background-color: $colorBg;

	&.widg_contentnav___fixed {
		position: fixed;
	}

  @include mq($from: $sizeBreakpointMedium) {
	min-height: basicUnitHeight(normal);
  }
}

.widg_contentnav__nav {
  height: 100%;
  position: relative;

  @include mq($to: $sizeBreakpointMedium) {
	overflow-x: scroll;
  }

  ul {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
	display: flex;
  }
}

.widg_contentnav__nav ul li {
  display: inline-block;

  @include basicUnitHeight(height);

  @include mq($from: $sizeBreakpointMedium) {
	min-height: basicUnitHeight(normal);
  }

  a {
    display: block;
    font-size: 1.25rem;
    height: 100%;
    padding: 0 $gutterWidth;
    white-space: nowrap;
    position: relative;

    @include basicUnitHeight(max-height);
    @include basicUnitHeight(line-height);

	@include mq($from: $sizeBreakpointMedium) {
	  max-height: basicUnitHeight(normal);
	  line-height: basicUnitHeight(normal);
	}

    &.has-bubble {
      padding-right: 54px;
    }

    &:hover,
	&:focus {
      background-color: $colorLightGray;
    }

    .widg_contentnav__bubble {
      position: absolute;
      top: 50%;
      right: 16px;
      width: 27px;
      height: 27px;
      line-height: 27px;

      color: $colorBg;
      border-radius: 50%;
      background-color: $colorBlack;
      transform: translateY(-13.5px);
      text-align: center;
    }
  }

	//The Active State
	&.is_active {
		position: relative;

		&:before {
			position: absolute;

			content: " ";
			display: block;
			top: 0;
			left: 0;
			right: 0;
			height: 4px;

			background-color: $colorYellow;
		}
	}
}
