<div class="widg_contentnav" data-init="contentnav">
	<nav class="widg_contentnav__nav">
		<ul>
			{{#each items}}
				<li class="widg_contentnav__item" data-contentnav="item">
					<a class="{{#if bubble}}has-bubble{{/if}}" href="{{link}}">{{title}}
            {{#if bubble}}
              <span class="widg_contentnav__bubble">{{bubble}}</span>
            {{/if}}
          </a>

				</li>
			{{/each}}
		</ul>
	</nav>
</div>
