<a href="#" class="removeall">trigger 'removeAllMessages' event</a><br>
<a href="#" class="destroy">trigger 'destroy' event</a>

{{#content "scripts"}}
	<script>
		$(document).on('ready', function() {
			$(document).trigger(estatico.modules.notification.events.add, {
				message: '<p>Demo: Success</p>',
				options: {
					type: 'success',
					modal: false,
					timeout: 5000
				}
			});
		});

		$(document).on('ready', function() {
			$(document).trigger(estatico.modules.notification.events.add, {
				message: '<p>Demo: Error</p>',
				options: {
					type: 'error',
					modal: false,
					timeout: 7000
				}
			});
		});

		$(document).on('ready', function() {
			$(document).trigger(estatico.modules.notification.events.add, {
				message: '<p>Demo: Info</p>',
				options: {
					type: 'info',
					modal: true
				}
			});
		});

		$('.removeall').on('click', function(event) {
			event.preventDefault();
			$(document).trigger(estatico.modules.notification.events.removeAllMessages);
		});

		$('.destroy').on('click', function(event) {
			event.preventDefault();
			$(document).trigger(estatico.modules.notification.events.destroy);
		});
	</script>
{{/content}}
